<div class="container">

    <h1>Player's List</h1>
    <hr>

    {{#each players}}
    <p>- {{name}}
        {{!-- <small>
            <a href="/libros/detalles/{{id}}">detalles</a> |
            <a href="/libros/editar?book_id={{id}}">editar</a>
        </small> --}}
    </p>
    {{/each}}

</div>