<div class="changePass">
    <h3>Change your password</h3>
<h4>Username: {{theUser.username}}</h4>

<form action="/new-password" method="post">

<div class="pass-input">
    <label for="">
        Old Password
        <input type="text" name="oldpass">
    </label>
</div>

<div class="pass-input">
    <label for="">
        New Password
        <input type="text" name="newpass">
    </label>
</div>

<div class="pass-input">
    <label for="">
        Confirm New Password
        <input type="text" name="confirmnewpass">
    </label>
</div>



<button>Submit</button>
</form>
</div>
