<h2 class="page-title">Forgot Password</h2>

<form action="/login/forgotPassword" method="POST"  class="form">

<p>Please enter your email below and a temporary password will be sent to your email address.</p>

<div id="forgot-div">
    <label>Email:</label>
    <input type="text" name="email" required>
</div>

<button>Send</button>
</form>