<section>
<div id="login-form">

  <form action="/login" method="post" >

    <div class="mb-3">
      <fieldset>
        <label for="username" id="username" class="form-label">Username</label>
        <input
          required
          type="text"
          class="form-control"
          name="username"
          aria-describedby="emailHelp"
        />

        {{#if errorMessage}}
          <div id="emailHelp" class="form-text">{{errorMessage}}</div>
        {{/if}}

      </fieldset>
    </div>

    <div class="mb-3">
        <fieldset>
      <label for="password" id="password" class="form-label">Password</label>
      <input
        required
        type="password"
        class="form-control"
        name="password"
        placeholder="enter password here..."
      />
    </div>
           {{#if errorMessage}}
          <div id="emailHelp" class="form-text">{{errorMessage}}</div>
        {{/if}}

    </fieldset>

<div class="text-center">
    <button type="submit" class="btn btn-outline-success">Log in</button>
    </div>

  </form>
  </div>

</section>