<h2>Login</h2>

<form action="/login" method="post">

<label for="username">username
    <input type="text" name="username">
</label>

<label for="password">password
    <input type="text" name="password">
</label>

<button>Login</button>
</form>