<h1 class="title has-text-centered">Login</h1>

<form action="/auth/login" method="post">

  <label class="subtitle">Username
    <input class="input is-info mb-5input is-info mb-5" type="text" name="username" placeholder="username" required>
  </label>
  <label class="subtitle">Password
    <input class="input is-info mb-5input is-info mb-5" type="password" name="password" placeholder="**********" required>
  </label>
  <button class="button is-link is-large" type="submit">Login</button>

</form>

