<div class="profilePage">
    <h1>User Profile</h1>
    <h4>Username: {{theUser.username}}</h4>
    <h5><a href="/change-password">Change Password</a></h5>
    <p>Thats literally all the info we have for now</p>
</div>

