<h2 class="page-title">Reset Password</h2>

<form action="/login/resetPassword" method="POST"  class="form">

<p>Please enter your temporary password and create a new password.</p>

<div id="forgot-div">
    <label>Temporary Password:</label><br>
    <input type="password" name="temporaryPassword" required>
</div>

<div>
    <label>New Password:</label><br>
    <input type="password" name="password" required>
</div>

<button style="margin-top: 30px">Save Password</button>
</form>