<div>

    <form action="/auth/signup" method="POST">
        <h2>Crea un usuario</h2>
        <input type="text" name="username" placeholder="usuario1" />
        <h2>Ingresa un email</h2>
        <input type="email" name="email" placeholder="ejemplo@gmail.com" />
        <h2>Crea tu contraseña</h2>
        <input type="password" name="password" placeholder="password" />


        <button type="submit">Crear cuenta</button>

    </form>

</div>