<h1 class="title has-text-centered">Create a new account</h1>

<form action="/auth/signup" method="post">

  <label class="subtitle">Username :
    <input class="input is-info mb-5input is-info mb-5" type="text" name="username">
  </label>
  <label class="subtitle">Password:
    <input class="input is-info mb-5input is-info mb-5" type="password" name="password" placeholder="**********">
  </label>

  <button class="button is-link is-large" type="submit">Create Account</button>
</form>
