<h2>Signup</h2>

<form action="/signup" method="post">

<label for="username">username
    <input type="text" name="username">
</label>

<label for="password">password
    <input type="text" name="password">
</label>

<button>Save</button>
</form>