<h2>See all celebrities</h2>

{{#each celebritiesList}}
  <div style="border: 1px solid black; padding: 20px">

    <h3>{{this.name}}</h3>
    <p>{{this.occupation}}</p>
    <p>{{this.catchPhrase}}</p>

  </div>
{{/each}}
