<h2>See all celebrities</h2>

{{#each celebritiesList}}
  <div class="celebrities-list">

    <h3>{{this.name}}</h3>
    <p>{{this.occupation}}</p>
    <p>{{this.catchPhrase}}</p>

  </div>
{{/each}}
