{{!-- views/celebrities/all.hbs --}}
<h2>Celebrities</h2>
<a href="/">Go back Home</a>
<ul>
  {{#each celebrities}}
    <li>{{name}}</li>
      <a href="/celebrities/{{_id}}">Read more</a>
      <a href="/celebrities/{{_id}}/edit">Edit</a>
  {{/each}}
</ul>
