{{!-- iteration #4 --}}
<h2>List of Celebrities</h2>

{{#each foundCelebrities}}
	<div class="card">
		<p><strong>{{name}}</strong></p>
		<p>{{occupation}}</p>
		<p><em>"{{catchPhrase}}"</em></p>
	</div>
{{/each}}