<div class="container">

    <h2>All celebrities</h2>

    <hr>

    <ul>
        {{#each celebrities}}
        <li class="celebrity-row">
            {{name}}
        </li>
        {{/each}}
    </ul>

    <hr>

    <a href="/" class="btn btn-dark">Home</a>

</div>