<div class="container celebrities">

    <h2>Celebrities</h2>
    <hr>
    {{#each allCelebrities}}
    <h3>{{name}}</h3>
    <h4>{{occupation}}</h4>
    <p>{{catchPhrase}}</p>
    <hr>
    {{/each}}

</div>