
<h2></h2>

<div class="card">
  {{#each celebrity}}
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">Occupation: {{occupation}}</p>
      <p class="card-text">Catchphrase: {{catchPhrase}}</p>
    </div>
  {{/each}}
</div>