<h2> Details of {{name}}</h2>
<h3>{{occupation}}</h3>
<h3>{{catchPhrase}}</h3>
<form action="/{{_id}}/delete" method="POST" style="display: inline-block;">
<button type="submit"> Delete Celebrity</button>
</form>
<a href="/"> See Celebrities</a>
