<div class="container d-flex justify-content-center flex-column align-items-center">

    <h2 class="text-center mt-4">"{{name}}" details:</h2>

    <div class="card mt-5" style="width: 18rem;">
        <div class="card-header">
            <span class="fw-bold">Name:</span>
            {{name}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="fw-bold">Ocupation:</span>{{ocupation}}</li>
            <li class="list-group-item"><span class="fw-bold">Catch phrase:</span>{{catchPhrase}}</li>
        </ul>
    </div>


</div>