<div class="container">
    <h2>Celebrities in DataBase</h2>
    <hr>
    <div class="row">
        {{#each celebrity}}
        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <hr>
                <h5 class="card-title">{{name}}</h5>
                <hr>
                <form action="/celebrities/{{_id}}/delete" method="POST" style="display: inline;">
                    <input type="submit" value="delete this celebrity" class="btn btn-sm btn-danger">
                </form>
            </div>

        </div>
        {{/each}}
    </div>
    <a class="btn btn-dark" href="/">Back to menu</a>
</div>