<h2>Celebrity details</h2>

{{#with celebrity }}
  <h5><strong>Name: </strong>{{name}}</h5>
  <h5><strong>Occupation: </strong>{{occupation}}</h5>
  <h5><strong>Catch phrase: </strong>{{catchPhrase}}</h5>
{{/with}}

<a href="/celebrities">Back</a>