<section id="celebrities-container">

    <h2>All Celebrities</h2>
    <div>
        {{#each celebrities}}
            <li>{{name}}</li>
            <a href="/celebrities/{{_id}}">See more</a>
        {{/each}}
    </div>

</section>