<h2>Celebrities</h2>

{{#each celebrities}}
<div>
    <h3>{{name}}</h3>
    
{{!-- <a href="/books/{{_id}}/edit">Edit</a>
    <form action="/books/{{_id}}/delete" method="post">
        <button type="submit">Delete</button>
    </form> --}}

</div>
{{/each}}