<h2>Celebrity {{name}} Details</h2>
<h4>What do I do: {{ocuppation}}</h4>
<h4>This is my catch phrase : {{catchPhrase}}</h4>

<form action="/celebrities/{{_id}}" method="post">
    <button type="submit">Delete Character</button>
</form>