<h1>Celebritiiiisssss</h1>

    <div>
        {{#each allCelebrities}}
            <div>
                {{name}}
                {{occupation}}
                {{catchPhrase}}
            </div>
            <br>
        {{/each}}
        <br>
        <a href="/movies">Go to Movies</a> <br>
    </div>