<h2>Celebrities</h2>

<ul>
    {{#each celebrities}}
    <li>
        <h3> Nombre: {{this.name}} </h3>
        <h4> Ocupación: {{this.occupation}} </h4>
        <h5> Frase Típica: {{this.catchPhrase}} </h5>
    </li>

    {{/each}}
</ul>