<h2>Celebrity details</h2>
<a href="/">Home</a>


    <ul>
        {{#each celebrities}}
            <li>Name:   {{name}}</li>
            <li>Occupation:   {{occupation}}</li>
            <li>Catchphrase:  {{catchPhrase}}</li>
            <br><br>
        {{/each}}
    </ul>

