
<div class="container" id="celebrities">
    <div class="title">
        <h1>Celebrity List</h1>
    </div>

    <div class="celebrities">
        {{#each celebs}}

        <h2>{{name}}</h2>

        {{/each}}
    </div>

    <a class="btn" href="/celebrities/create"> Create a new celebrity</a>

</div>

