<h1>Celebrities in our DB:</h1>

{{#each celebrities}}
    <section>
        <h2>{{this.name}}</h2>
        <p>
            Occupation: {{this.occupation}} <br>
            Catch-Phrase: {{this.catchPhrase}} <br>
        </p>
    </section>
{{/each}}