<a href="/" class="btn-menu"> >Back to menu</a>

<div class="container text-center">
  <h1 class="my-5">All Celebrities</h1>
  <div class="column">
    <div class="row">
      {{#each allTheCelebrities}}
        <div class="card col-lg-3 my-4 border-0">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text"><small
                class="text-muted"
              >{{occupation}}</small></p>
            <p class="card-text">{{catchPhrase}}</p>
          </div>
        </div>
        <div class="col-lg-1"></div>
      {{/each}}
    </div>
  </div>
</div>