<h2>Celebrities</h2>

{{#each celebrities}}
    <div>
        <h5><b>Name:</b> {{name}}</h5>
        <p><b>Occupation:</b> {{occupation}}</p>
        <p><b>Cash Phrase:</b> {{catchPhrase}}</p>
    </div>
{{/each}}