<h2>Celebridades</h2>

<ul>
{{#each celebrities}}
    <li>
        <h3> {{this.name}} </h3>
        {{!-- <p>Occupation: {{this.occupation}}</p>
        <p>Catch phrase: {{this.catchPhrase}}</p> --}}
    </li>
{{/each}}
</ul>