<h2>Celebrities</h2>

{{#each celebs}}

    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Occupation: {{occupation}}</h6>
    <p class="card-text">{{catchPhrase}}</p>
    {{!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> --}}
  </div>
    </div>




{{/each}}