<div class="container2">
    <div class="addBorderToMovie2">
        <div class="mb-3 centeredDiv d-flex flex-column showMovieInfo">
            <h5><strong>Name</strong> <br>{{name}}</h5>
            <h5><strong>Occupation</strong> <br>{{occupation}}</h5>
            <h5><strong>Catchphrase</strong> <br>{{catchPhrase}}</h5><br><br>
        </div>

        <div class="formDiv">
            <a href="/"><button type="text" class="btn btn-dark indexButton"> Home </button></a>
        </div>
    </div>
</div>