<div class="detailsGeneral">
    <div class="container">

        <h2>Detalles de {{name}}</h2>

        <hr>

        <div class="row">
            <div class="col-md-8">
                {{!-- <h3>Detalles</h3> --}}
                <p><strong>Occupation:</strong> {{occupation}}</p>
                <p><strong>Catch pharse:</strong> {{catchPhrase}}</p>
            </div>
        </div>

        <hr>

        <a href="/celebrities" class="btn btn-dark">Volver al listado</a>

    </div>
</div>