<a href="celebrities/add-celebrities"><button type="submit" class="btn btn-dark btn-block btn-lg">Añadir una
        celebrity</button></a>
<a href="celebrities/celebrities-list"><button type="submit" class="btn btn-dark btn-block btn-lg">Ver
        Celebrities</button></a>