<div class="container mt-5">
    <hr>
    <div class="row">
        <h2>Celebrities</h2>
        <br>
        <div class="col-md-4 mb-3 ">
            <div>
                <h5 class="card-title mt-2">{{name}} </h5>
                <p></p> Occupation: {{occupation}}</p>
                <p></p> Catch Phrase: {{catchPhrase}}</p>

            </div>
        </div>
    </div>


    <a href="/celebrities/" class="btn btn-dark ">Celebrities list</a>
    </row>
    <a href="/" class="btn btn-dark ">Home </a>
</div>