<h1>Celebrities List</h1>

<hr/>

{{#each celebrityArr}}
    <div>
        <p>
            Name: {{this.name}}
        </p>
        <p>
            Occupation: {{this.occupation}}
        </p>

        <p>
            CatchPhrase: {{this.catchPhrase}}
        </p>


        <form action="/celebrities/{{this._id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </div>
{{/each}}
