{{#each celebrity}}


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{ocupation}}</p>
        <p class="card-text">{{catchPhrase}}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>


{{/each}}

<a href="/" class="btn btn-secondary btn-lg">Ir al inicio</a>
<a href="/celebrities/create" class="btn btn-secondary btn-lg">Crear más</a>