<h2>List of our celebrities</h2><br>

{{#each allCelebrities}}
<section>
    <h4>{{this.name}}</h4>
    <a href="/celebrities/{{this._id}}">Movie details</a> |
     <a href="/celebrities/{{this._id}}/edit">Edit</a><br><br>
</section>

<form action="/celebrities/{{_id}}/delete" method="POST">
    <button>Delete</button>
</form><br>
{{/each}}