<div class="container">
    <h2>Celebrities</h2>
    {{#each celebrity}}
        <p>Name: {{this.name}}</p>
        <a href="/celebrities/{{this._id}}">View {{this.name}}</a>
    {{/each}}
    <a href="/celebrities/create">Add celebrity</a>
    <a href="/"> Return Home</a>
</div>