<div class="container">

    <h1>Celebrity list</h1>

    <hr>

    <ul>
        {{#each celebrities}}
        <li class="celebrity-row">
            <a href="celebrities/{{id}}/details">{{name}}</a>
        </li>
        {{/each}}
    </ul>

    <hr>

</div>


<li class="celebrity-row">

</li>