<h2>Celebrities</h2>

<a href="/">Home</a> | <a href="/celebrities/create">Create celebrity</a> <br>

{{#each celebrity}}
<h4>{{name}}</h4><br>
<p>Occupation: {{occupation}} </p>
<p>CatchPhrase: {{catchPhrase}}</p>
<br>
{{/each}}



