<a href="/celebrities">Go back to the list</a>
<a href="/celebrities/create">Create new celebrity</a>

<h2>Celebrity detail</h2>

<p>Name: {{name}}</p>
<p>Occupation: {{occupation}}</p>
<p>Catchphrase: {{catchPhrase}}</p>