<div class="container">
    <div class="fondo">

    

    <h2>Lista de celebridades</h2>

    <hr>

    {{#each celebrities}}

    <article>

        <h4>Nombre: {{name}}</h4>
        <h4>Ocupación: {{occupation}}</h4>
        <h4>Eslogan: {{catchPhrase}}</h4>
        

        <hr>

    </article>

    {{/each}}
    </div>

</div>