<h2>Celebrities</h2>

<button><a href= "/celebrities/create">New Celebrity</a></button>

    <div>
{{#each celebridades}}

        <strong>{{name}}</strong>
        <strong>{{occupation}}</strong>
        <strong>{{catchPhrase}}</strong>
    
    {{/each}}
    </div>