<div class='container'>
  <h2>Celebrities page</h2>
   
  <div class="row">
      {{#each celebrities}}
 <div class="col-md-4">


    <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{name}}</h5>
             <h5 class="card-title">{{occupation}}</h5>
            <p class="card-text">{{catchPhrase}}</p>
        </div>
 
       </div>

    </div>
    {{/each}}
     </div>  
     </div>
       
</div>