<h2>List of Celebrities</h2>

<ul>
    {{#each celebrities}}
    <li>Name:   {{name}}</li>
    <a href="/celebrities/{{id}}">Acerca de..</a><br>

    <br><br>
    {{/each}}
</ul>

<p><a href="/">Back to Home</a></p>