<h2>All Celebrities</h2>
{{#each celebs}}
<h3>{{name}}</h3>
<h4>{{occupation}}</h4>
<p>{{catchphrase}}</p>

<a href="/celebrities/{{_id}}/edit">Edit Celebrity</a>
{{/each}}

<a href="/celebrities/create">Add Celebrity</a>
