<h1>CELEBRITIES</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
        {{#each celebrity}}
    <div class="col">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.ocupation}}</p>
            <p class="card-text">{{this.catchPhrase}}</p>
        </div>
        </div>
    </div>
    {{/each}}
    </div> 