<h2>😎 List of Celebrities 😎</h2>

<div class="list">
    {{#each celebrity}}
        <div class="item">
            <p>{{this.name}}</p>
            <a href="/celebrities/{{this.id}}">See Details</a>
        </div>
    {{/each}}
</div>

<div class="add-button-container">
    <a class="button-link" href="/celebrities/create">Add a Celeb</a>
</div>

<div class="go-home-container">
    <a class="button-link go-home" href="/">Back to Main Page</a>
</div>
