<div class="container">

    <h1>{{name}}</h1>

    <hr>

    <div class="row">
        <div class="col-md-8">
            <p><strong>Frase celebre</strong>: {{catchPhrase}}</p>
        </div>
        <div class="col-md-4">
            <img src="{{image}}" alt="image" style="width: 100%">
            <h4><strong>Ocupación</strong>: {{ocupation}}</h4>


        </div>
    </div>

    <hr>

    <a href="/celebridades/" class="btn btn-dark">Volver al listado de celebridades</a>

</div>