<h1>Celebrities</h1>
{{#each celebrity}}
    <h3>Name: {{name}}</h3>
    <p>Occupation: {{occupation}}</p>
    <p>Catch Phrase: {{catchPhrase}}</p>
{{/each}}

<a href="/celebrities/create">Add a new celeb</a>