<h2>This is the celebrities page</h2>

{{#each celebritiesList}}

  <div style="border: 1px solid black; padding: 20px">

    <p>{{this.name}}</p>
    <p>{{this.occupation}}</p>
    <p>{{this.catchPhrase}}</p>

  </div>

{{/each}}