

{{#each celebrity}}
<section class="celebrities-summary">
            <h4>Name: {{this.name}}</h4><br />
            <p>Occupation: {{this.occupation}} </p> <br />
            <p>Catch Phrase: {{this.catchPhrase}} </p> <br />
</section>
<p></p>
{{/each}}

<a href="/">Home</a>