<h1>Celebrities page</h1>

{{#each celebrities}}

<a href=""> {{name}} </a>

{{/each}}

<a href="/celebrities/create" class="btn btn-dark">Add a new celebrity</a>
<a href="/" class="btn btn-dark">Back to home</a>