<h2>List of All Celebrities</h2>


{{#each celebrities}}
<h3>{{this.name}}</h3>
<h5>Occupation:</h5>
<h5>{{this.occupation}}</h5>
<h5>Catch Phrase:</h5>
<p>{{this.catchPhrase}}</p>
<hr>
{{/each}}

<a href="/">back to homepage</a>