<div class="container">
    <h1>Listado de celebridades</h1>
    <hr class="mb-3">

    {{#each allCelebrities}}
    {{name}}

    <hr>

    {{/each}}

    <a href="/" class="btn btn-dark">Volver a inicio</a>
</div>