<h3>List of celebs</h3>
<ul>
    {{#each data}}
    <li>
        <p><a href="/celebrities/{{id}}/details">Details</a>
            | Name: {{name}}
            | Occupation: {{occupation}}
            | Catch Phrase:{{catchPhrase}}</p>
    </li>

    {{/each}}
</ul>