<div class="container">
    <h2>Celebrities</h2>
    <hr>
    {{#each celebrities}}
    <p>{{name}}</p>
    {{/each}}
    <hr>
    <div>
        <a href="/" class="btn btn-dark">Home</a>
    </div>
</div>