<main>
  <section>
    <h3>Detalles de la ficha del famoso</h3>

    <article>
      <h4>Nombre: {{celebrity.name}}</h4>
      <p>Profesión: {{celebrity.occupation}}</p>
      <p>Frase célebre: {{celebrity.catchPhrase}}</p>

    </article>

  </section>
</main>