<h2>Listing Our Celebrities</h2>
<ul>
    {{#each celebrity}}
    <li>Name: {{name}}</li>
    {{!-- <li>Occupation: {{occupation}}</li>
    <li>Catch Phrase: {{catchPhrase}}</li> --}}
    {{/each}}
</ul>