<main class="container my-5">
    <h1>Celebrities</h1>
    <hr>

    <ol class="list-group">

        {{#each celebrity}}

        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{name}}</div>
            </div>
            <div>
                <a href="/celebrities/details/{{_id}}" class="btn btn-primary btn-sm me-2">Detalles</a>
                <a href="/celebrities/{{_id}}/edit" class="btn btn-warning btn-sm me-2">Editar</a>
                <form action="/celebrities/delete/{{_id}}" method="POST" class="d-inline">
                    <input type="submit" value="Eliminar" class="btn btn-danger btn-sm">
                </form>
            </div>
        </li>

        {{/each}}
    </ol>
    <hr>
    <a href="/" class="btn btn-dark mb-3">Volver a inicio</a>
    <a href="/celebrities/create" class="btn btn-dark mb-3">Añadir nueva celebrity</a>
</main>