<h1>Celebrities</h1>
<ul>
    {{#each allCelebs}}
    <li class="list">{{name}}</li>
    {{/each}}
</ul>

<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-primary btn-color" href="/celebrities/create">Create a celebrity</a>
    </div>
</div>