<h2>Celebrities</h2>
<ul class="row">
    {{#each celebrities}}
    <li class="col-12">
        <a href="/celebrities/{{id}}" class="item-link">
        <h3> {{name}} </h3>
        </a>
    </li>
    {{/each}}
</ul>