<h2>Celebrities' list</h2>
<hr>

{{#each celebrities}}

<ul>
    <li>
        <p> Name: {{name}} </p>

        <p> Occupation: {{occupation}} </p>

        <p> Catch Phrase: {{catchPhrase}}</p>
        <hr>
    </li>

</ul>



{{/each}}

<a href="/" class="btn btn-outline-info">Volver al inicio</a>