<h1>List of Celebrities</h1>

{{#each celebrities}}
    <section>
        <h2>{{this.name}}</h2>
        <p>
            occupation: {{this.occupation}} <br>
            catchphrase: {{this.catchPhrase}} <br>
        </p>
    </section>
{{/each}}