<h2>{{name}} details</h2>
<div class="row justify-content-center">
    <div class="col-4 mt-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">Occupation: {{occupation}}</h6>
                <hr>
                <p class="card-text">CatchPhrase: {{catchPhrase}}</p>
                <hr>

            </div>
        </div>
    </div>
</div>