<h2>Artistas</h2>

<div>
    {{#each celebrityArr}}
    <p>Nombre: {{name}}</p>

    {{!-- <p>Occupation: {{occupation}}</p>

    <p>Catch Phrase: {{catchPhrase}}</p> --}}


    <hr>
    {{/each}}

</div>

<a class="btn btn-outline-danger" href="/" role="button">Volver a inicio</a>