<h2>List of Celebrities</h2>

{{#each celebrities}}
    <section>
        <h3>{{this.name}}</h3>
        <p>
            Celebrity occupation: {{this.occupation}} <br>
            Celebrity catchphrase: {{this.catchPhrase}} <br>
        </p>
    </section>
{{/each}}