<h2 class="title has-text-centered m-5">List of celebrities</h2>

<section class="section">
  <div class="columns is-vcentered is-multiline">
    {{#each celebrities}}
    <div class="column is-full">
      <p class="subtitle mt-5 mb-0"> {{name}} </p> 
      <div class="is-flex">
        <a class="button is-info is-small is-focused mr-5" href="/celebrities/{{_id}}">Details</a> 
        <form action="/celebrities/{{_id}}/delete" method="POST">
          <button class="button is-danger is-small is-focused">Delete</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
</section>