<h2>List of Celebrities</h2>
<hr />
<table class="table">
  <tbody>
    {{#each celeb}}
    <tr>
      <td>
        <p><a href="/celebrities/{{id}}">{{name}}</a></p>
      </td>
      <td>
        <a href="/celebrities/{{id}}/edit" class="btn btn-warning btn-sm">Edit</a>
      </td>
      <td>
        <form action="/celebrities/{{id}}/delete" method="post">
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>