<h2>Celebrities</h2>
<a href="/">Home</a> | <br />
<a href="/celebrities/create">create celebrities</a> 



{{#each celebrity}}
<h3>{{name}}</h3>
<p>Occupation: {{occupation}} </P> <br />
<p>Catchphrase: {{catchPhrase}} </P> <br />


{{/each}}