<h2>CREATE A CELEBRITY</h2>
<form action="/celebrities/create" method="POST">
    <label>NAME:
        <input type="text" name="name" placeholder="THE NAME">
    </label><br>
    <label>OCUPATION:
        <input type="text" name="ocupation" placeholder="THE OCUPATION">
    </label><br>
    <label>CATCHPHRASE:
        <input type="text" name="catchPhrase" placeholder="THE CATCHPHRASE">
    </label><br><br>
    <button type="submit">CREATE DB ENTRY</button>
</form>