<div class="col-12 text-center mt-5 bg-light bg-secondary h-75 w-50">
    <h1 class="mt-4">Details</h1>
    <div class="row">
        <div class="col-12 mt-5">
            <h4 class="w-50 bg-dark m-0 m-auto mb-3 text-white">Name</h4>
            {{name}}
        </div>
        <div class="col-12 mt-5">
            <h4 class="w-50 bg-dark m-0 m-auto  mb-3 text-white">Occupation</h4>
            {{occupation}}
        </div>
        <div class="col-12 mt-5">
            <h4 class="w-50 bg-dark m-0 m-auto  mb-3 text-white">CatchPhrase</h4>
            {{catchPhrase}}
        </div>
        <div class="col-12 mt-5">
            <hr>
            <a href="/celebrities" class=" btn w-75">Volver</a>
        </div>
    </div>

</div