<h2> Welcome to our network of celebrities </h2>
<hr>
<h2>List of Celebrities</h2>
<br>

    {{#each allCelebrities}}
        <div class="row">
            <div class="col-3"><p>{{this.name}}</p></div>
           <div class="col-3"><a href="/celebrities/{{this._id}}"  class="btn btn-light"> See details</a></div> 
            <hr>
        </div>
    {{/each}}
<hr>
<a href="/" class="btn btn-dark">Home</a>
<a href="/celebrities/create" class="btn btn-dark">Create a celebritity</a>
