<h2>hellooo celebrities</h2>
{{!-- <a href="/celebrities/create">Create</a>

{{#each celebrities}}
  <p>{{this.name}}</p>
{{/each}} --}}

<ul>
  {{#each celebrity}}
    <li>
        {{ name}}
    </li>
  {{/each}}
</ul>
