<h1>Celebrities</h1>

{{#each celebrities}}
<br><br><br>
    <h4>{{name}}</h4>
    <span>{{occupation}}</span> <br>
    <span>{{catchPhrase}}</span>
<br><br><br>
{{/each}}

<br>
<a href="/celebrities/create"><button>Create a New Celebrity</button></a>
<a href="/"><button>Home</button></a>