<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <h2>A to Z official celebrities.</h2>
            <hr>
            <p>Behold humans, these are actual celebrities.</p>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Occupation</th>
                        <th scope="col">Catch Phrase</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each celebrities}}

                    <tr>
                        <td>{{name}}</td>
                        <td>{{occupation}}</td>
                        <td>{{catchPhrase}}</td>
                    </tr>

                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>

</div>