<h2>Details of {{ foundCelebrity.name }}</h2>

<hr>

<p>Occupation: {{foundCelebrity.occupation}}</p>
<br>
<h5>Catch Phrase: {{foundCelebrity.catchPhrase}}</h5>

<a href="/celebrities/{{foundCelebrity._id}}/edit"> Edit </a>

<br>

<a href="/celebrities">Back to celebrities</a>