<h1>Celebrity</h1>
{{#each celebrities}}
<div>
  <h3>Name: {{name}}</h3>
  <h4>Occupation: {{occupation}}</h4>
  <h5>Catch-Phrase: {{catchPhrase}}</h5>
  
</div>
  <br/>
{{/each}}
<a href="/celebrities/create">Add Celebrity</a>