<div class="container">
  <h2>Celebrities</h2>
  </br>
  <div class="row">

    {{#each data}}
      <div class="col-md-12">
        <h5>{{name}}</h5>
      </div>
    {{/each}}

  </div>
    </br>
    <a href="/">Back</a>
</div>