<div class="container">

    <h2>Detalles de {{name}}</h2>
    <hr>
    <p>Profesión: {{occupation}}</p>
    <hr>
    <p>Frase: {{catchPhrase}}</p>

    <a href="/celebrities" class="btn btn-dark">Volver</a>

</div>