<a href="/">Home</a>
<hr />

<h2>Celebrities List</h2>
<hr />

{{#each celebrities}}
  <div>
    <h3>Celebrity Name: <p>{{name}}</p></h3>
    <h3>Occupation: <p>{{occupation}}</p></h3>
    <h3>Famous Catch Phrase: <p>{{catchPhrase}}</p></h3>
  </div>
  <hr />
{{/each}}