<div class="movies-page">
  <h1 class="movies-title">Celebrities:</h1>

  <div class="movies-flex">
    {{#each allCelebrities}}
      <div class="card">
        <h2 class="card-title">{{name}}</h2>
        <a class="card-link" href="/movies/{{_id}}">See more</a>
      </div>
    {{/each}}
  </div>

</div>