<h2>Celebrities in our DB:</h2>

{{#each celebrity}}

  <section class="celeb-summary">
    <h2>{{this.name}}</h2>
    <h4>Occupation: {{this.occupation}}</h4>
    <h4>Catchphrase: {{this.catchphrase}}</h4>

  </section>
  <hr />

{{/each}}