<div class="container">
  <h1>Created Celebrities</h1>
  {{#each celebrities}}
  <div>
    <h2>{{this.name}}</h2>
    <p>{{this.occupation}}</p>
    <p>{{this.CatchPhrase}}</p>
  </div>
{{/each}}
</div>