<h2>Celebrities List</h2>

{{#each celebrityList}}

  <div class='list-group'>
    <div class='d-flex w-100 justify-content-between'>
      <h3 class='mb-1'>{{this.name}}</h3>
    </div>
    <p class='mb-1'>{{this.occupation}}</p>
    <p class='mb-1'>{{this.catchPhrase}}</p>

  </div>
{{/each}}