<a href="/">Back to home</a>
<br /><br />
<h2>Celebrities in our DB:</h2>
<hr />

{{#each celebrity}}

  <section class="celeb-summary">
    <h4>{{this.name}}</h4>
    <p>Occupation: {{this.occupation}}</p>
    <p>Catchphrase: {{this.catchphrase}}</p>

  </section>
  <hr />

{{/each}}