<h2>Celebrities list</h2>

{{#each celebrities}}
  <div>
    <p>{{name}}</p>
    <a href="/celebrities/{{_id}}">See details</a>
    {{!-- <p>Occupation: {{occupation}}</p>
    <p>Catch phrase: {{catchPhrase}}</p> --}}
  </div>

{{/each}}
<br>
<a href="/">Go back</a>