<header>
    <nav>
        <a href="/">Home</a>
        <a href="/celebrities/create">Add Celebrity</a>
        <a href="/movies">Movies</a>
        <a href="/movies/create">Add a Movie</a>
    </nav>
</header>

<h2>Celebrities!</h2>

{{#each celebs}}
<ul>
    <li>{{this.name}}</li>
</ul>   
{{/each}}