<h1>Ironhack Celebrities</h1>
<h2>Click on the movie to check the showtime</h2>


        {{#each data }}

                <div class= "col-4">
                    <div class ="card">
                        <div class="card-body">
                            <h3>{{name}}</h3>
                            <h3>{{ocuppation}}</h3>
                            <h3>{{catchPhrase}}</h3>
                        </div>
                    </div>
                </div>  

        {{/each}}