<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <table class="table">
  <tr>
    
    <th scope="col">Celeb Name</th>
    <th scope="col">Occupation</th>
    <th scope="col">Catch-Phrase</th>
   
  </tr>

    <tr scope="row">
    
      <td>{{celeb.name}}</td>
      <td>{{celeb.occupation}}</td>
      <td>{{celeb.catchPhrase}}</td>
      
    </form></td>  
    </tr>
  
 
  
</table>