
 <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{celeb.name}}">
<label for="genre">Genre:</label>
        <input type="text" id="occupation" name="occupation" value="{{celeb.occupation}}">
 <label for="plot">Plot:</label>
        <input type="text" id="catchPhrase" name="catchPhrase" value="{{celeb.catchPhrase}}">
        {{!-- {{/each}} --}}
          <td> <form action="/celebrities/{{_id}}/edit" method="GET">
        <button value="submit">Submit Edit</button>
  {{!-- <button value="submit">Submit Edit</button> --}}
</form

