<div class="container">

    <h2>Celebrities List</h2>

</div>
<div class="row d-flex justify-content-around flex-wrap">

    {{#each celebritiesDb}}
    <div class="card m-3" style="width: 18rem;">


        <div class="card-header">
            <span class="fw-bold">Name:</span> {{name}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="fw-bold">Ocupation:</span> {{ocupation}}</li>
            <li class="list-group-item"><span class="fw-bold">Phrase:</span> {{catchPhrase}}</li>

        </ul>
    </div>

    {{/each}}

</div>