<h2>Celebrities in our DB:</h2>

{{#each celebrities}}
<section>
    <h3>{{this.name}}</h3>
    <p>
        Occupation: {{this.occupation}} <br>
        Catchphrase: {{this.catchPhrase}} <br>
    </p>
</section>
{{/each}}