<h2>Celebrities</h2>

{{#each celebrity}}
  <section>
    <h2>{{this.name}}</h2> <br>
    <p>
     Occupation
      {{this.occupation}}
      <br />
     Catch Phrase:
      {{this.catchPhrase}}
      <br />
    </p>
   
  </section>
{{/each}}