<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <h2>Lista famosos</h2>
            <hr>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ocupacion</th>
                        <th scope="col">Eslogan</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each celebrities}}

                    <tr>
                        <td>{{name}}</td>
                        <td>{{occupation}}</td>
                        <td>{{catchPhrase}}</td>
                    </tr>

                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <a href="/" class="btn btn-dark">Volver a inicio</a>

</div>