<h2>Celebrities</h2>

{{#each celebrities}}

  <h3>Name: {{name}}</h3>
  <h3>Occupation: {{occupation}}</h3>
  <h3>Catch phrase:{{catchPhrase}}</h3>
  <br /><br />

{{/each}}

<br /><br />
<a href="/">Go back</a>