<div class="container">
    <h2>All Celebrities</h2>
    <hr>
    {{#each celebirtiesData}}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{occupation}}</p>
                    <p class="card-text">{{catchPhrase}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>