<h1>Celebrities</h1>

<div class="celebrities">
  {{#each celebrities}}
    <div class="card text-center m-5" style="width: 18rem;">
      <div class="card-body">
        <h5>{{name}}</h5>
        <a href="#" class="mt-3 btn btn-primary">More Info</a>
      </div>
    </div>
  {{/each}}
</div>