<h1>Celebrities in DataBase</h1>
{{#each celebrities}}
</br>
    <h2><strong>Name: </strong>{{this.name}}</h2>
    <h4><strong>Occupation: </strong>{{occupation}}</h4>
    <p><strong>Catch phrase: </strong>{{catchPhrase}}</p>
{{/each}}