<h2>List of our celebrities</h2><br>

{{#each celebritiesArr}}
    <section>
        <h3>{{this.name}}</h3>
        <p>
            Occupation: {{this.occupation}} <br><br>
            Catch-Phrase: {{this.catchPhrase}} <br>
        </p>
    </section>
{{/each}} 