<div class="container">
    {{#each celebrities}}
    <h2>Celebrity details </h2>
    <h2>{{name}}</h2>
    <p>Occupation:{{occupation}}</p>
    <p>{{catchPhrase}}</p>
    {{/each}}
    <a href="/celebrities/celebrities" class="btn btn-dark">Back to celebrities list</a>
</div>