<div class="container box-movies justify-content-center">
    <h2>CELEBRITIES</h2>
    <hr>


    {{#each celebrities}}
    <p><strong> Name: </strong>{{name}}</p>
    <p><strong>Occupation: </strong>{{occupation}}</p>
    <p><strong>Catch Phrase: </strong>{{catchPhrase}}</p>
    <br>
    <hr>
    {{/each}}
    <a href="/celebrities/create" class="btn btn-dark">Add a new celebrity</a>




</div>