<div class="container text-center celebrities_title">
    <h2>List of celebrities!!</h2>
    <a class="btn btn-danger m-3" href="/">Vuelve a index</a>
</div>

<div class="container">
    <div class="row justify-content-center">
        {{#each celebrities}}
        <div class="col-md-3 movies_columna bg-light text-center m-2 p-3">
            <h3>Name</h3>
            <p>{{name}}</p>
            <hr>
            <h3>Occupation</h3>
            <p>{{occupation}}</p>
            <hr>
            <h3>Catchphrase</h3>
            <p>{{catchPhrase}}</p>
        </div>
        {{/each}}
    </div>
</div>