<div class="container">
    <h2>Movie Details</h2>
    <hr>
    <h5>
        Name:
        {{name}}
    </h5>
    <p>
        Occupation:
        {{occupation}}
    </p>
    <p>
        Catch Phrase:
        {{catchPhrase}}
    </p>
    <hr>
    <a href="/celebrities">Go to see celebrities</a>
</div>