<h1>famosos</h1>
<a href="/">inicio</a>
{{#each celebrities}}
<h5>{{name}}</h5>
<p> <strong>ocupación:</strong>  {{occupation}}</p>
<p><strong>frase:</strong> {{catchphrase}}</p>
{{/each}}
{{#each ei}}
<h1>{{this}}</h1>
{{/each}}