
<div class="container">
    <h2>Listado de celebrities</h2>
    <hr>

    {{#each Celebrity}}
    
        {{name}}
        <br>
        {{occupation}}
        {{catchPrase}}
       
    <hr style="opacity: .5;">

    {{/each}}

    <a href="/" class="btn btn-dark">Volver</a>
</div> 