<h2>Celebrities</h2>

<div class="row justify-content-center d-flex">
    {{#each celebritiesArray}}
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <p class=" card-text">{{name}}</p>
                <p class=" card-text">{{occupation}}</p>
                <p class=" card-text">{{catchPhrase}}</p>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>