<h2> All celebrities</h2>

<ul>
{{#each celebrities}}
<br>
<li> <h6>Who?</h6>{{name}}</li>
<a href="/celebrities/celebrities/{{id}}">Detalle de actor</a>
<br>
{{!-- <a href="/update/{{id}}">Update usuario</a> --}}
<a href="/celebrities/delete/{{id}}">Delete</a>
<br>

<p>----------------------------------------------------------------</p>
{{/each}}
</ul>
<br>


<a href="/">Home</a>

