<h2>Celebrity List</h2>
{{#each celebs}}
  <div>
    <p>{{name}}</p>


    {{!-- <a href="/books/{{_id}}">See details</a>  --}}
    {{!-- link that points to the details page --}}
     {{!-- <a href="/books/{{_id}}/edit">Edit</a>  --}}
     {{!-- link to redirect to the edit form for each specific book  --}}
    {{!-- <form action="/books/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form> --}}
  </div>
{{/each}}
