<h1>Celebrities:</h1>

<hr />

{{#each celebrities}}
  <div>
    <h3>{{name}}</h3>
    <p>Occupation: {{occupation}}</p>
    <p>Catch Phrase: {{catchPhrase}}</p>
  </div>
{{/each}}

<a href="/">Homepage</a>