<h2>All Celebrities available</h2>
<hr/>

{{#each celebrities}}

    <div>
        <h3>{{name}}</h3>
        <p>Occupation: {{occupation}}</p>
        <p>Catch Phrase: {{catchPhrase}}</p>
        {{!-- <a href="/book-details/{{_id}}">See details</a> --}}
    </div>


{{/each}}