{{!-- iteration 4 --}}
<h2>CELEBS</h2>

{{!-- not sure where my array of celebs is (celebs?, celebsFromDB?, or data?) --}}
{{#each celebs}} 

<section>
    <h2>{{this.name}}</h2>
</section>

{{/each}}