<div class="container">
    <h2>Listado de celebridades</h2>
        <ul>
            {{#each celebrity}}
                <li>Celebrity:{{name}}</li>
                {{/each}}
        </ul>
        
</div>