<div class="container">

    <h2>Celebrities</h2>
    <div class="mt-3">
        {{#each celebrities}}
        <a class="btn btn-dark" href="https://www.google.com/search?q={{name}}">{{name}}</a>
        {{/each}}
    </div>
</div>