<body>
    <div class="container">
        <h1>Detalles de {{name}}</h1>
        <hr>
        <p>Ocupación: {{occupation}}</p>
        <hr>
        <p class="cursiva">{{catchPhrase}}</p>
        <hr>
        <a href="/celebrities" class="btn btn-dark mb-3">Volver al listado</a>
        <a href="/" class="btn btn-dark mb-3">Volver a inicio</a>
    </div>
</body>