<h1>Celebrities</h1>
<div class="container d-flex gap-3 flex-wrap justify-content-center">
    {{#each celebrity}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">Occupation : {{occupation}}</p>
            <p class="card-text">Catchphrase : {{catchphrase}}</p>
            <form action="/celebrities/{{_id}}/delete" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>

        </div>
    </div>
    {{/each}}
</div>
<a href="/" class="btn btn-warning" tabindex="-1" role="button" aria-disabled="true">Go back</a>