<div>
    <h2>Page header</h2>
    <section>
        {{#each celebrities}}
        <div>
            <h4>{{name}}</h4>
        </div>
        {{/each}}
    </section>
    <a href="/">Home Page</a>
</div>