<div class="container">

    <h2>Listado celebrities</h2>

    <hr>

    <ul>
        {{#each celebrities}}
        <li class="book-row">
            {{name}}
        </li>
        {{/each}}
    </ul>

    <hr>

    <a href="/" class="btn btn-dark">Volver al incio</a>

</div>