<h2>Famosos</h2>
<ul>
{{#each celeb}}
<li>Nombre: {{name}}</li>
<li>Ocupación: {{occupation}}</li>
<li>Frase Gancho: "{{catchPhrase}}"</li>
<a href="/celebrities/celebrities/{{_id}}">Detalles</a>
<hr>
{{/each}}
</ul>