<div class="main-content">
    <h2>Celebrities</h2>
    {{#each celebrities}}
    <h3 class="h4">{{name}}</h3>
    <p class="text-muted">{{occupation}}</p>
    <p>{{catchPhrase}}</p>
    {{/each}}
</div>