<h2>Celebrities</h2>
<br>


<h5 class="card-title mt-2">{{name}} </h5>
<p> Occupation: {{occupation}}</p>
<p> Catch Phrase: {{catchPhrase}}</p>




<a href="/celebrities/" class="btn btn-dark ">Celebrities list</a>

<a href="/" class="btn btn-dark ">Home </a>