<h2>Celebrity Details</h2>
<a href="/celebrities/celebrities">Back celebrities list</a>
</br>
<hr>
<h4>{{celebrityDetail.name}}</h4>
<p><strong>Occupation: </strong> {{celebrityDetail.occupation}}</p>
<p><strong>Catch Phrase: </strong> {{celebrityDetail.catchPhrase}}</p>
