<div class="formsAndDetails">
	<h2>Celebrities</h2>
	<div class="celebsAndMovies">
	{{#each celebs}}

		<p>{{name}}</p>
		<button><a href='/celebrities/{{_id}}'>Details</a></button>

	{{/each}}
	</div>
</div>