<div class="container">

    <div class="row justify-content-center">
        <div class="col-7">

            <h2 class="text-center">Celebrities</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Occupation</th>
                        <th scope="col">Catchphrase</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each celebrities}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{occupation}}</td>
                        <td>{{catchPhrase}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <div>
                <a href="/celebrities/create" class="btn btn-warning btn-lg">Create a Celebrity</a>
            </div>
        </div>


    </div>
</div>