<h2>Celebrity Edit</h2>
<form action="/celebrities/edit">
    <label>Name:</label><input type="text" name="name">{{celebrityDetails.name}}</input><br>
    <label>Occupation:</label><input type="text" name="occupation">{{celebrityDetails.occupation}}</input><br>
    <label>CatchPhrase:</label><input type="text" name="catchphrase">{{celebrityDetails.catchphrase}}</input>
    <input type="submit"></input>
</form>
<br><br>
<a href="javascript:history.back();">goback</a>