<h2>Checkout theese Celebrities!</h2>
<ul>
    {{#each allCelebs}}
    <a href="/celebrities/{{this._id}}" >
      <li>
          {{this.name}}
          {{this.occupation}}
          {{this.catchPhrase}}
      </li>
    {{/each}}
    </a>
</ul>

<a href="/celebrities/create">Add a New Celeb!!!</a>
<a href="/">Back to Home</a>