<div class="container">
    <div class="container-celebrities">

        <h1>LIST OF CHARACTERS</h1>

        <hr>
        {{#each newCelebrity}}
        <h6><a href="celebrities/{{id}}">{{name}}</a></h6>
        <hr>
        {{/each}}

        <a href="/movies" class="btn btn-dark">LIST OF
            MOVIES</a>
        <a href="/" class="btn btn-dark">HOME</a>

    </div>
</div>