<div class="celebDetails">
    <h2>{{name}}</h2>
    <hr>
    <h5>
        Occupation
    </h5>
    <h6 class="cont">{{occupation}}</h6>

    <h5>CatchPhrase:</h5>
    <h6 class="cont">{{catchPhrase}}</h6>

    <a href="/celebrities/{{_id}}/edit"><button class="btn btn-outline-primary">Edit this celebrity</button></a>
</div>