<div>
    <ul>
        {{#each celebrity}}
         <li>Celebrity: {{name}}</li>
         <li>Occupation: {{occupation}}</li>
         <li>Phrase: {{catchPhrase}}</li>
        {{/each}}
    </ul>
</div>
