<a href="/" class="btn btn-outline-danger">Back</a>
<br><br>

<h1>Celebrities</h1> <br><hr>

<div>
    <ul>
        {{#each allCelebrities}}
        <a href="">
            <li>{{name}}</li></a>
        {{/each}}
    </ul>

</div> <br>

<a class="btn btn-outline-danger" href="/celebrities/create" role="button">New celebrity</a>
    