<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celebritie</title>
</head>
<body>
    <h2>All Celebrities</h2>
<ul>
  {{#each celebrities}}
    <li>{{name}}</li>
            <li>
                  <h3><a href="/celebrities/{{this._id}}">{{name}}</a></h3>
                  <p><strong>Ocupation:</strong> {{occupation}}</p>
            </li>
  {{/each}} 
</ul>
</body>
</html>