<h2>Celebrities List</h2>

<ul class="list-group">

{{#each celebrities as |celebrity|}}
  <div>
      <a href="celebrities/{{celebrity._id}}">
      <li class="list-group-item mt-2">  {{celebrity.name}}</li>
      </a>
  
  </div>
{{/each}} 
</ul>