<div class="container">

    <h2>Listado famosos</h2>

    <hr>

    <ul>
        {{#each celebrities}}
        <li class="book-row">
            <a href="/celebrities/{{id}}">{{name}}</a>
        </li>
        {{/each}}
    </ul>

    <hr>

    <a href="/celebrities/create" class="btn btn-dark">Crear un personaje</a>


    <a href="/" class="btn btn-dark">Volver al inicio</a>

</div>