<h1>Todas la celebridades</h1>
    <div>
        {{#each celebrities}}
            <h2>{{name}}</h2>
            <p>Ocupation: {{ocupation}}</p>
            <p>Catch Phrase: {{catchPhrase}}</p>
        {{/each}}
    </div>
