<a href="/celebrities/create" class="btn btn-primary" role="button">Add a new
  celebrities</a>

{{#each celebrities}}

  <h1>name: {{this.name}}</h1>
  <h2>occupation: {{this.occupation}}</h2>
  <h3>catchPhrase: {{this.catchPhrase}}</h3>
  <a
    href="/celebrities/{{this.id}}"
    class="btn btn-primary"
    role="button"
  >See more</a>

{{/each}}