<h1>Celebrities</h1>

<ul>
    {{#each celebrities}}
        
        <li>{{name}}</li>
        <li>Occupation: {{occupation}}</li>
        <li>Catch Phrase: '{{catchPhrase}}'</li>
        <br> <br>
    {{/each}}
</ul>


<a href="/celebrities/create">Add Celebrity</a>
<br>
<a href="/">Home</a>