<div class="container">
    <h2>This Are Our Celebrities</h2>
    <hr>

    {{#each celebrities}}

    <p>

     {{name}}
     
    </p>

    <hr>

    {{/each}}

    <a href="/" class="btn btn-dark">Home</a>
</div>