<div class="container">
    <h2>LISTADO DE CELEBRIDADES</h2>
    <br>
    <hr>

    {{#each celebrities}}
    <h3> {{name}} </h3>

    {{/each}}


</div>

<a class="btn btn-primary" href="/" role="button">Inicio</a>