
<div class="container">
        <h2>Celebrities</h2>
                {{#each celebrities}}
                        <h3>Name: {{name}}</h3>
                {{/each}}
        <a href="/celebrities/create">Create New Celebrity</a><br>
        <a href="/">Home</a>    
</div>

