<h2>Celebrity details</h2>

{{#with celebrity }}
  <p><strong>Name: </strong>{{name}}</p>
  <p><strong>Occupation: </strong>{{occupation}}</p>
  <p><strong>Catch phrase: </strong>{{catchPhrase}}</p>
{{/with}}

<a href="/celebrities">Back</a>