<div class="container listado-peliculas">
    <h2>Listado Celebridades</h2>
    <div class="row">
        <div class="col-md-6">
            {{#each celebs}}
            <div>
                <h2>{{name}}</h2>
            </div>
            {{/each}}
        </div>
    </div>
</div>