<h2>Celebrities</h2>
<br>
{{#each celebritiesArr}}
    <h4>{{this.name}}</h4>
    <p>{{this.occupation}}</p>
    <p>{{this.catchPhrase}}</p>
    <hr>
{{/each}}

<button><a href="/celebrities/create">Add new</a></button>