<h2>List of Celebrities</h2>

{{#each celebrities}}
<section class="celebrities-summary">
    <h3>{{name}}</h3>
    <p>
        Occupation: {{occupation}} <br />
        CatchPhrase: {{catchPhrase}} <br />
    </p>
</section>
{{/each}}