<a href="/" class="backButton">Back</a>
<h1>Celebrities list</h1>
<hr />

<div class="celebrities-list">
  <ol>
    {{#each celebs}}

      <a href="./celebrity/{{_id}}"> <li>{{name}}</li></a>

    {{/each}}
  </ol>

</div>