<a href="/" class="btn btn-primary" role="button">Home</a>

<a href="/celebrities/create" class="btn btn-primary" role="button">Add a new
  celebrities</a>

{{#each celebrities}}

  <h1>name: {{this.name}}</h1>
  <a href="/celebrities/{{this.id}}" class="btn btn-primary" role="button">See
    more</a>

{{/each}}