<h3>Latest Celebrities added:</h3>

<ul>
    {{#each celebrities}}
        <li>{{this.name}}</li>
    {{/each}}
</ul>

<button class="submit-btn"><a href = "/celebrities/create">Add your favorite Celebrity</a></button>