<h1>Celebrities list</h1>
  <hr />
<div class="container">

{{#each celebrities}}
<div class="holder">
    <h3>Name: {{name}}</h3>
    <h3>Occupation: {{occupation}}</h3>
    <h3>Catch Phrase: {{catchPhrase}}</h3>
    
</div>
{{/each}}

</div>
<div class="btn-container">
    <div>
<a class="btn2"href="/celebrities/new-celebrities">Create a Celebrity</a>
</div>
</div>

