<div class="container ctnPadding">

    <h1>stars</h1>

    <hr />

    <ul>
        {{#each celebrity}}
            <li>
                <p>name: {{name}}</p>
                <p>ocupacion: {{ocupacion}}</p>
                <p>catch catchPhrase: {{catchPhrase}}</p>

    

            </li>
        {{/each}}
    </ul>

    <hr />

</div>