<h2>Celebrities</h2>

<form action="/celebrities/create" method="POST">
<input type="text" name="celebrity" value="occupation"  value="catchPhrase">
<button type=""submit>Search for a Celebrity</button>
</form>
