


<div class="container my-5 p-2 bg-dark rounded">

    <div class="row m-4">

        <div class="col-12 my-2 bg-light rounded p-4">

            <h4>{{name}}</h4>

            <h5>Occupation: <span class="occupation">{{occupation}}</span></h5>

            <h6>Catch Phrase: <span class="catchPhrase"><strong>{{catchPhrase}}</strong></span> </h6>

        </div>
    </div>
</div>

<div class="container">

    <div class="row m-4">

        <div class="col-2 my-4 bg-light rounded">

            <a href="/celebrities" class="btn btn-outline-danger btn-lg my-1 w-100">Go back</a>

        </div>
    </div>
</div>
    

