<h1>Celebrities List</h1>
{{#each celebrities}}
  <div class="celebritiesList">
    <a href="/celebrities/{{_id}}">Name: <h3>{{name}}</h3></a>
    <a>Occupation: <p>{{occupation}}</p></a>
    <a>Catch Phrase: <p>{{catchPhrase}}</p></a>
  </div>
{{/each}}