<div class="mb-3 centeredDiv d-flex flex-column">
    <h2>Celebrities</h2>
    {{#each celebrities}}
    <a href="/celebrities/details/{{_id}}">
        <h3>{{name}}</h3>
    </a>
    {{/each}}
</div>
<div class="formDiv">
    <a href="/"><button type="text" class="btn btn-dark"> Home </button></a>
</div>