<div>
    <h2>Celebrities list</h2>
    <section>
        {{#each celebrities}}
        <div>
            <h4>{{name}}</h4>
        </div>
        {{/each}}
    </section>
    <a href="/celebrities/create">New artist entry</a>
    <a href="/movies">Movies list</a>
    <a href="/">Home Page</a>
</div>