
<h2>All the Celebrities</h2>

<div class="card">
  {{#each celebrity}}
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">Occupation: {{occupation}}</p>
      <p class="card-text">Catch Phrase: {{catchPhrase}}</p>
    </div>
  {{/each}}
</div>