<h1>List of Celebrities</h1>
<a href="/">Go back</a>
{{#each celebrities}}
	<hr />
	<p>Celebrity Name: {{this.name}}</p>
	<p>Occupation: {{this.occupation}}</p>
	<p>Catch Phrase: {{this.catchPhrase}}</p>
	<a href="/celebrities/{{this.id}}">See more</a>

{{/each}}