<div class="container">
    <h2> Celebrities </h2>

    <table class="table">
        <tbody>
            {{#each celebrities }}
            <tr>
                <td> {{name}} </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>