<div class="celebrities">
    <h2 class="celebrities-title">List of characters</h2>
    <hr>

    {{#each allCelebrities }}

    <article>

        <a href="/celebrities">
            <div class="text-celebrities">
                <h5>Nombre {{name}} </h5>
                <h5>Ocupación {{occupation}}</h5>
                <h5>Slogan {{catchPhrase}} </h5>
            </div>
        </a>


        <a href="/celebrities/create" class="btn-secondary btn-sm">Create celebrity</a>

        <a href="/" class="btn btn-dark btn-sm">Return home</a>

        <hr>

    </article>
    {{/each}}
</div>