<div class="container">
    <h1>All Celebrities</h1>
    <hr class="mb-3">

    {{#each celebrities}}
    <p>{{name}}</p>
    <hr>

    {{/each}}

    <hr>
    <a href="/celebrities/create" class="btn btn-dark">Create Celebrity</a>
    <a href="/" class="btn btn-dark">Go Home</a>

</div>