<h2>New Celebrity</h2>
<h1>Detalles del libro</h1>
</br></br>
<h2>{{name}}</h2>
</br>
<h3>Occupation:</h3>
<p>{{occupation}}</p>
<p>Catch Phrase: {{catchPhrase}}</p>

</br>
</br>
<a href="/">Go Back</a>