<h1>List of Celebrities</h1>
<div class="row">
    {{#each celebritiesArr}}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">Occupation: {{occupation}}</p>
                <p class="card-text">Catch-phrase: {{catchPhrase}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>