<h2>Celebrities</h2>

{{#each celebrity}}
    <div>
        <h2>Name: </h2>
            <p>{{this.name}}</p>
        <h2>Occupation: </h2>
            <p>{{this.occupation}}</p>
        <h2>Catch phrase: </h2>
            <p>{{this.catchPhrase}}</p>
    </div>
{{/each}}