<h2>Celebrities</h2>
<hr>

<div class="row">

    {{#each celebrities}}
        <div class="col-md-3 celebrity">
            <h3>{{name}}</h3>
            <h5>{{occupation}}</h5>
            <p>{{catchPhrase}}</p>
        </div>
    {{/each}}

</div>


<hr>
<a href="/" class="btn btn-dark">Go back</a>
