<div class="container">

    <h1>Lista delle Celebrities</h1>
    <hr>

    {{#each celebrities}}
    <p>- <strong> {{name}} </strong><br>
        <small>
            {{occupation}} |
            {{catchPhrase}}
        </small>
    </p>
    {{/each}}

</div>