<div class="container">
    <h2>Celebrities List</h2>     
    {{#each celebrities}}
        <div class="celebrity-row">
            {{this.name}}
           
            {{this.occupation}}
            
            {{this.catchPhrase}}
            <hr>
        </div>   
    {{/each}}
</div>