<h1>List of Celebrities in our Database:</h1>

{{#each celebrities}}
<section class="book-summary">
  <h4>{{this.name}}</h4>
  <p>{{this.occupation}}</p>
  <p>"{{this.catchPhrase}}"</p>
</section>
{{/each}}