

<h2>Celebrities list</h2>

<ul class="list-group mt-4">
    {{#each celebrity}}
  <li class="list-group-item">
    <h4>{{name}}</h4>
    <p>{{occupation}}</p>
    <p class="catchPhrase"><strong>{{catchPhrase}}</strong></p>
  </li>
  {{/each}}
</ul>