<ul class="list-wrapper">
    <h2>Celebrities</h2>
    {{#each celebrity}}

    <li>
        <h4 class="celebrity-name">{{this.name}}</h4>
    </li>
    {{/each}}
    <a href="/" class="back-link">Back</a>
</ul>