<form action='/celebrities/create' method='POST' class='container'>
	<label for='name'>Name</label>
	<input type='text' name='name' />
	<label for='occupation'>Occupation</label>
	<input type='text' name='occupation' />
	<label for='catchPhrase'>Catch Phrase</label>
	<input type='text' name='catchPhrase' />

	<button>Submit</button>
</form>
