<form action="/celebrities-create" method="post">
    <div class="mb-3">
        <label  class="form-label">Name</label>
        <input  class="form-control"  type="text" name="name"   placeholder=""/>
        
    </div>
    <div class="mb-3">
        <label class="form-label">Occupation</label>
        <input   type="text" class="form-control"  name="image" value="{{event.image}}"  placeholder="">
    </div>
    <div class="mb-3">
        <label class="form-label">Age</label>
        <br>
        <input class="form-control"  type="number" name="age" id="">
    </div>
    <div class="mb-3">
        <label class="form-label">Nationality</label>
        <br>
        <input class="form-control"  type="text" name="nationality" id="">
    </div>
   
    
    
   

    <button type="submit" class="btn btn-outline-primary">Done</button>

</form>
