<form action='/celebrities/create' method='POST' class='container edit'>
	<label>Name:
		<br />
		<input type='text' name='name' />
	</label>

	<label>Occupation:
		<br />
		<input type='text' name='occupation' />
	</label>

	<label>Catch Phrase:
		<br />
		<input type='text' name='catchPhrase' />
	</label>

	<button class='edit' style='color:rgb(66, 219, 66)'>Create</button>
	<a href='javascript:history.back()'>Go Back</a>
</form>
