<h2>Edit Celebrity</h2>

<form action="/celebrities/{{_id}}/edit" method="POST">
  <input type="text" name="name" placeholder="Name" value="{{name}}" required>
  <input type="text" name="occupation"  placeholder="Occupation" value="{{occupation}}">
  <input type="text" name="catchPhrase" placeholder="Catch phrase" value="{{catchPhrase}}">
  
  <button type="submit">Edit</button>
</form>