<div class="col-12  mt-5 bg-light bg-secondary h-75 w-50 p-3">
    <div class="row">
        <div class="col-12 mt-4 text-center ">
            <h2>New Celebrities</h2>
            <hr>
        </div>
        <div class="col-12 mt-5">
            <div class="row">
                <form action="/celebrities/{{id}}/edit" method="POST">

                    <div class="mb-3">
                        <label for="title" class="form-label">Name</label>
                        <input type="text" class="form-control" id="title" name="name" value="{{name}}">
                    </div>
                    <div class="mb-3">
                        <label for="genre" class="form-label">Occupation</label>
                        <input type="text" class="form-control" id="occupation" name="occupation"
                            value="{{occupation}}">
                    </div>
                    <div class="mb-3">
                        <label for="plot" class="form-label">CatchPhrase</label>
                        <input type="text" class="form-control" id="catchPhrase" name="catchPhrase"
                            value="{{catchPhrase}}">
                    </div>
                    <div class="col 12 text-center mt-5">
                        <button type="submit" class="btn btn-dark">Edit a new celebrities </button>
                        <a href="/celebrities" class="btn btn-dark">Back to celebrities</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>