<h2>Edit Celebrity</h2>
<form action="/celebrities/{{ foundCelebrity.id }}/update" method="POST">
    <label> Name
        <input type="text" name="name" value="{{ foundCelebrity.name }}">
    </label>
    <br>
    <label> Occupation
        <input type="text" name="occupation" value="{{ foundCelebrity.occupation }}">
    </label>
    <br>
    <label> Catch Phrase
        <input type="text" name="catchPhrase" value="{{ foundCelebrity.catchPhrase }}">
    </label>
    <br>
    <button type="submit"> Edit Celebrity </button>
</form>