<h2>EDIT CELEBRITY</h2>
<form action="/celebrities/{{details.id}}/edit" method="POST">
    <label for="name" class="form-label">Name</label>
    <input type="text" id="name" name="name" value="{{details.name}}">
    
    <label for="occupation" class="form-label">Occupation</label>
    <input type="text" id="occupation" name="occupation" value="{{details.occupation}}">
    
    <label for="catchPhrase" class="form-label">Catch Phrase</label>
    <input type="text" id="catchPhrase" name="catchPhrase" value="{{details.catchPhrase}}">

    <button type="submit">Update celebrity</button>
</form>