<h2>Edit celebrity</h2>

<form action="/celebrities/{{foundCeleb._id}}/update" method="post">
<label>Name
    <input type="text" name="name" value="{{foundCeleb.name}}">
</label>

<label>Occupation
    <input type="text" name="occupation" value="{{foundCeleb.occupation}}">
</label>

<label>Catch Phrase
    <input type="text" name="catchPhrase" value="{{foundCeleb.catchPhrase}}">
</label>




<button type="submit">Save</button>
</form>