{{! Errormessage for user, not working yet }}
{{#if error}}
  <h2>ups, there was an eror, please try again!</h2>
  <hr />
{{/if}}

{{#with celebrity}}

  <h2 class='m-3'>Update <em>{{name}}</em></h2>
  <hr />

  <form class='w-50 m-4' action='/celebrities/{{id}}' method='post' class='form'>

    {{> celebrityFormPartial}}

  </form>
{{/with}}