<div class="container">

    <h2>Edit celebrity</h2>

    <form action="/celebrities/{{_id}}/edit" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input
                type="text"
                name="name"
                value="{{name}}"
                class="form-control"
                id="name"
            />
        </div>

        <div class="form-group">
            <label for="occupation">Occupation</label>
            <input
                type="text"
                name="occupation"
                value="{{occupation}}"
                class="form-control"
                id="occupation"
            />
        </div>

        <div class="form-group">
            <label for="catchPhrase">Catch Phrase</label>
            <input
                type="text"
                name="catchPhrase"
                value="{{catchPhrase}}"
                class="form-control"
                id="catchPhrase"
            />
        </div>

        <br />

        <button type="submit" class="btn btn-dark btn-block">Submit Changes</button>
    </form>

</div>