<h1>Edit</h1>

<form action="/celebrity-edit/{{id}}" method="POST">
    <label>Name</label>
    <input name="name" value="{{name}}">
    <label>Occupation</label>
    <input name="occupation" value="{{occupation}}" >

    <label>Catch Phrase</label>
    <input name="catchPhrase" value="{{catchPhrase}}">

    <button type="submit">Send</button>
</form>