<h2>Celebrity Edition</h2>
<hr>
<div class="row justify-content-center mt-5">
    <div class="col-6">
        <form action="/celebrities/{{_id}}/edit" method="post">
            <div class="mb-3">
                <label for="Celebrity Name" class="form-label">Celebrity Name</label>
                <input type="text" class="form-control" id="Celebrity Name" name="name" value="{{name}}">

            </div>
            <div class=" mb-3">
                <label for="Celebrity Occupation" class="form-label">Celebrity Occupation</label>
                <input type="text" class="form-control" id="Celebrity Occupation" name="occupation"
                    value="{{occupation}}">
            </div>

            <div class=" mb-3">
                <label for="Celebrity CatchPhrase" class="form-label">Celebrity CatchPhrase</label>
                <input type="text" class="form-control" id="Celebrity CatchPhrase" name="catchPhrase"
                    value="{{catchPhrase}}">
            </div>

            <button type=" submit" class="btn btn-light">Submit</button>
        </form>
    </div>
</div>