<h2>Add a new Celebrity</h2>

<form action="/celebrities/{{id}}/edit" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="{{name}}"><br>

    <label for="occupation">Occupation:</label><br>
    <input type="text" id="occupation" name="occupation" value="{{occupation}}"><br>

    <label for="catchPhrase">Catch Phrase:</label><br>
    <input type="text" id="catchPhrase" name="catchPhrase" value="{{catchPhrase}}"><br>

    <br>
    <button type="submit">ADD</button>
</form>