
<form action="/celebrities/{{this.id}}/edit" method="post">

  <label> Name:
    <input type="text" name="name" value="{{this.name}}">
  </label>
  <label> Occupation:
  <input type="text" name="occupation" value="{{this.occupation}}">
  </label>
  <label> Catchphrase:
  <input type="text" name="catchPhrase" value="{{this.catchPhrase}}">
  </label>
  <button>Submit</button>

</form>