<h2>Edit celebrity</h2>

<form action="/celebrities/{{_id}}/edit" method="POST">
    <label>
        Name:
        <input type="text" name="name" value="{{name}}">
    </label>
    <br>
    <label>
        Occupation:
        <input type="text" name="occupation" value="{{occupation}}">
    </label>
    <br>
    <label>
        Catchphrase:
        <input type="text" name="catchPhrase" value="{{catchPhrase}}">
    </label>
    <br>
    <button type="submit">Submit</button>
</form>