<h2>{{name}}</h2>

<form action="/celebrities/{{id}}/edit" method="POST" class="row g-3">
    <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input type="string" class="form-control" id="name" name="name" value="{{name}}">
    </div>
    <div class="col-md-12">
        <label for="occupation" class="form-label">Occupation</label>
        <select id="occupation" class="form-select" name="occupation">
            <option selected>Select</option>
            <option value="Actor">Actor</option>
            <option value="Singer">Singer</option>
            <option value="Comedian">Comedian</option>
            <option value="Athlete">Athlete</option>
            <option value="Streamer">Streamer</option>
            <option value="Unknown">Unknown</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="catchPhrase" class="form-label">Catch phrase</label>
        <input type="string" class="form-control" id="catchPhrase" name="catchPhrase" value="{{catchPhrase}}">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-warning mt-3">Save changes</button>
    </div>
</form>