<form action="/{{_id}}/edit" method="POST" style="display: inline-block;">

<label>
    Name
    <input type="text" name="name" value="{{name}}">
</label>

<label>
    Occupation
    <input type="text" name="occupation" value="{{occupation}}">
</label>

<label>
    CatchPhrase
    <input type="text" name="catchPhrase" value={{catchPhrase}}>
</label>

<input type="submit" value="Edit Celebrity">


</form>