<h1>Create new celebrity</h1>

<form action="/celebrities/create" method="POST">
  <div>
    <label for="name">Name of the celebrity</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <label for="occupation">Occupation of the celebrity</label>
    <input type="text" name="occupation" id="occupation" />
  </div>
  <div>
    <label for="catchPhrase">Catch phrase of the celebrity</label>
    <input type="text" name="catchPhrase" id="catchPhrase" />
  </div>

  <button>Create celebrity</button>
</form>