<h1>
  All Celebrities 
</h1>

<ul>
  {{#each allTheCelebrities}}
    <li>
        <h2>{{name}}</h2>
        </br>
        <h3>Occupation:</h3>
        <p>{{occupation}}</p>
        <p>Catch Phrase: </br>{{catchPhrase}}</p>
        
    </li>
  {{/each}}
</ul>

</br>
</br>
<a href="/">Go Back</a>
