<h2>CELEBRITIES LIST</h2>

<div class="container">
    <ul>
        {{#each celebrities as |celebrity|}}
        <li>
            <h4>{{celebrity.name}}</h4>
        </li>
        {{/each}}
    </ul>

    <a href="/celebrities/create">Create celebrity</a>
    </div>

