{{>navbar}}
<div class="container mt-5">
    <h3 class="mb-4" style="color:#1a1a1a">Celebrities list</h3>
    {{#each celebrities}}
        <div class="list-group">
            <a class="list-group-item list-group-item-action" aria-current="true">{{name}}</a>
        </div>
    {{/each}}
</div>
