<h1>List of celebrities</h1>
<hr>
<a href="/celebrities/create">Add one!</a>

{{#each celebrities}}
    <div>
        <a href="/celebrities/{{ _id }}">{{ name }}</a>
        <p>{{ occupation }}</p>
        <p>{{ catchPhrase }}</p>
    </div>
{{/each}}
