<h2>Crea tu Celebridad</h2>
<form method="post" action="/celebrities/create">
<input name="name" type="text" placeholder="Ingresa a tu Celebridad">
<input name="occupation" type="text" placeholder="Ingresa su Ocupacion">
<input name="catchPhrase" type="text" placeholder="Ingresa una Frase">
<button type="submit">Submit</button>
</form>