<h2>New Celebrities</h2>
<form action="new-celebrity" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <label for="occupation">Ocuppation:</label>
    <input type="text" name="occupation" id="occupation">
    <label for="catchPhrase">Catch Phrase:</label>
    <input type="text" name="catchPhrase" id="catchPhrase">
    <button type="submit">Add Celebrity</button>
</form>
<a href="/celebrities">Back to Celebrities</a>