<h2>NEW CELEBRITY</h2>

<form method= "POST" action="/celebrities/create">

<label> Celebrity name 
<input type="text" name="name" />
</label> <br>

<label> Occupation 
<input type="text" name="occupation" />
</label> <br>

<label> Catch Phrase
<input type="text" name="catchPhrase" />
</label>


</form>