<h2>NEW CELEBRITY</h2>
<form action="/celebrities/create." method="post">
    <label for="name" class="label">Name</label>
    <input class="input" type="text" id="name" name="name" value="">

    <label for="occupation" class="label">Occupation</label>
    <input class="input" type="text" id="occupation" name="occupation" value="">


    <label for="CatchPhrase" class="label">CatchPhrase</label>
    <input class="input" type="text" id="CatchPhrase" name="CatchPhrase" value="">

<button>Submit</button>


</form>
