<form action="/celebrities/create" method="post">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="name" name="name">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Occupationl</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="occupation" name="ocuppation">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Catch Phrase</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="catch phrase"
            name="catchPhrase">
    </div>
    <button type="submit">Enviar</button>
</form>