<h2></h2>
<form action="/celebrities/create" method="POST">
  Name:
  <input name="name" type="text" /><br />
  Occupation:<input name="occupation" type="text" /><br />
  Catchphrase:<input name="catchPhrase" type="text" /><br /><br />
  <button type="submit">Create new celebrity</button>
</form>