<h1>Add New Celebrity</h1>

<form action="/celebrities/" method="POST">

 <label class="form-label" for=''>Name</label>
  <input class="form-control" type='text' name='name'>

  <br>
  <label class="form-label" for=''>Occupation</label>
  <input class="form-control" type='text' name='occupation'>

  <br>
  <label class="form-label" for=''>Catchphrase</label>
  <input class="form-control" type='text' name='catchPhrase'>

  <br>
  <button type='submit' class="btn btn-success">Create</button>

</form>