<!-- Iteration 3-->

<h2>Create Celebrities</h2>
 
<form action="/celebrities/create" method="post">
  <label><b>Name:</b>
    <input type="text" name="name" />
  </label>
 
  <label><b>Occupation:</b>
    <input type="text" name="occupation" />
  </label>
 
  <label><b>Catch Phrase:</b>
    <input type="text" name="catchPhrase" />
  </label>
 
  <button type="submit"> Create </button>
</form>