<h2>New celebrity</h2>
<hr />
<form action='/celebrities/create' method='POST'>
  <label for='name'>Namw</label>
  <input type='text' name='name' id='name' />

  <label for='occupation'>occupation</label>
  <input type='text' name='occupation' id='occupation' />

  

  <label for='catchPhrase'>Rating</label>
  <input type='catchPhrase' name='catchPhrase' id='catchPhrase' />

  <button type='submit'>New celebrity </button>
</form>