<div class="container">
    <h2>Create New Celebrities</h2>
    <hr>
    <form action="/celebrities/create" method="POST">
        <label>
            <p>Name:</p>
            <input type="text" name="name">
        </label>
        <br><br>
        <label>
            <p>Occupation:</p>
            <input type="text" name="occupation">
        </label>
        <br><br>
        <label>
            <p>Catch Phrase:</p>   
            <input type="text" name="catchPhrase">
        </label>
        <br><br>
        <input type="submit" value="Create New Celebrity">
    </form>
    <hr>
    <a href="/celebrities">Go to see celebrities</a> <br><br>
    <a href="/">Go to the Home</a>
</div>