<h2>New Celebrity</h2>
<form action="/celebrities/create" method="post">
    <label for="name">Celebrity Name:</label>
    <input name="name" id="name" type="text">

    <label for="occupation">Occupation:</label>
    <input name="occupation" id="occupation" type="text">

    <label for="catchphrase">Catchphrase:</label>
    <input name="catchphrase" id="catchphrase" type="text">

    <button type="submit">Create Celebrity</button>
</form>