<h2>New Celebrity</h2>

<form action="/celebrities/create" method="post">

  {{! for the Name }}
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" />

  {{! for the Occupation }}
  <label for="occupation">Occupation: </label>
  <input type="text" name="occupation" id="occupation" />

  {{! for the Aatch Phrase }}
  <label for="catchPhrase">Catch Phrase: </label>
  <input type="text" name="catchPhrase" id="catchPhrase" />

  {{! creating the button }}
  <button type="sumit">Create</button>
</form>