<h2 class="title has-text-centered m-5" >Add a New Celebrity</h2>

<form action="/celebrities/create" method="POST">
  <label class="subtitle">Name:
    <input class="input is-info mb-5" type="text" name="name">
  </label>

  <label class="subtitle">Occupation:
    <input class="input is-info mb-5" type="text" name="occupation">
  </label>

  <label class="subtitle">CatchPhrase:
    <textarea class="textarea is-info mb-5" name="catchPhrase" cols="30" rows="7"></textarea>
  </label>
  
  <button class="button is-large is-success" type="submit">Add</button>
</form>

<div class="container">

</div>