<h2>Add a new celebrity</h2>

<form action='/celebrities/create' method="POST">
  <label for=''>Name</label>
  <input type='name' name='name'>

  <br>
  <label for=''>Occupation</label>
  <input type='occupation' name='occupation'>

  <br>
  <label for=''>Catch phrase</label>
  <input type='catchPhrase' name='catchPhrase'>

  <br>
  <button type='submit'>ADD</button>
</form>