<div class="new-Cel-Bg">
    <div class="container new-Celbrity">
        <h2 class="newCelTitle"> Nueva Celebridad</h2>
        <p> <i>(Si es madrileña tiene pluses) </i> </p>
        <form action="/celebrities/create" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="occupation" class="form-label">Ocupación</label>
                <input type="text" class="form-control" id="occupation" name="occupation">
            </div>
            <div class="mb-3">
                <label for="catchPhrase" class="form-label">Eslogan</label>
                <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>