<h2>Crea una celebridad</h2>
<form action="/celebrities/create" method="POST">
  <label for="label-name">Name</label>
  <input type="text" name="name" id="label-name">

  <label for="label-occupation">Occupation</label>
  <input type="text" name="occupation" id="label-occupation">

  <label for="label-catchPhrase">Occupation</label>
  <input type="text" name="catchPhrase" id="label-catchPhrase">

  <button type="submit">Create</button>
</form>