<div>
  <div>
      <h2 class="heading">
          Load a New Celebrity
      </h2>
  </div>
  <form action="/celebrities/create" method="POST">

      <label> Celebrity Name </label>

        <input type="text" class="formInput" name="name" placeholder="Mario">

      <label> Occupation </label>

        <input type="text" class="formInput" name="occupation" placeholder="Plumber">

      <label> Catch Phrase </label>

        <input type="text" class="formInput" name="phrase" placeholder="It's a-me, Mario!">

      <button class="addDB" type="submit">Add</button>
  </form>
</div>