<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h2>Crear Celebrity</h2>

            <hr>

            <form action="/celebrities/create " method="POST">

                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>

                <div class="form-group">
                    <label for="occupation">Ocupación</label>
                    <input type="text" class="form-control" name="occupation" id="occupation">
                </div>

                <div class="form-group">
                    <label for="catchPhrase">Frase Atrapadora</label>
                    <input type="text" class="form-control" name="catchPhrase" id="catchPhrase">
                </div>

                <button type="submit" class="btn btn-dark btn-block btn-lg">Crear celebrity</button>

            </form>
        </div>

    </div>

</div>