<h2>Create celebrities</h2>
<form action='/celebrities/create' method='POST'>
  <label for='name'>Name:</label>
  <input type='text' id='fname' name='name' />
  <label for='occupation'>Occupation:</label>
  <input type='text' id='lname' name='occupation' />
  <label for='pname'>CatchPhrase:</label>
  <input type='text' id='pname' name='catchPhrase' />
  <button type='submit'>Submit</button>
</form>