<div>
    <h2>Añade Actor/Actriz</h2>
    <form action="/celebrities/create" method="POST">
        <label for="name">Actor/Actriz:</label>
        <input id="name" type="text" name="name">
        <label for="occupation">Ocupación:</label>
        <input id="occupation" type="text" name="occupation">
        <label for="catchPhrase">Frase Típica:</label>
        <input id="catchPhrase" type="text" name="catchPhrase">
        <button type="submit" class="btn btn-dark btn-block">Crear</button>
    </form>
</div>