<h2>CELEBRITY</h2>

<form action='/celebrities/create' method='POST'>

  {{!  if we dont wrap divs around these they go left to right, otherwise if we put divs then we go top to bottom }}
  <label for='celebName'>
    Celebrity:
    {{!  name is whats being sent to the body as a key value attribute  key is name and value is whatever is typed in the input}}
    <input id='celebName' type='text' name='name' />
  </label>

  <label for='celebOccupation'>
    Occupation:
    <input id='celebOccupation' type='text' name='occupation' />
  </label>

  <label for='celebCatchPhrase'>
    Catchphrase:
    <input id='celebCatchPhrase' type='text' name='catchPhrase' />
  </label>

  <button type='submit'>Submit</button>
</form>