<h2> Add a Celebrity</h2>
<form action="/celebrities/create" method="POST">
<label>Celebrity Name: 
    <input type="text" name="name">
</label>
<label>Celebrity Occupation: 
    <input type="text" name="occupation">
    </label>
<label>Celebrity Catch-Phrase: 
    <input type="text" name="catchPhrase">
</label>
<button type="submit">Add New Celebrity</button>


</form>