<h2>Add a new celebrity!</h2>

<form action="/celebrities/create" method="POST">

    <div>
        <label for="field1">Name</label>
        <input type="text" id="field1" name="name">
    </div>

    <div>
        <label for="field2">Occupation</label>
        <input type="text" id="field2" name="occupation">
    </div>

    <div>
        <label for="field3">catchPhrase</label>
        <input type="text" id="field3" name="catchPhrase">
    </div>

    <div>
        <button type="submit">Add celebrity</button>
    </div>
</form>