<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1>NEW CELEBRITY</h1>
            <hr>

            <form action="/celebrities/create" method="POST">
                <div class="mb-3 mt-5">
                    <label for="nameCelebrity" class="form-label">Name</label>
                    <input type="text" class="form-control" id="nameCelebrity" name="name">
                </div>

                <div class="mb-3">
                    <label for="occupationCelebrity" class="form-label">Ocupation</label>
                    <input type="text" class="form-control" id="occupationCelebrity" name="occupation">
                </div>

                <div class="mb-3 ">
                    <label for="catchPhraseCelebrity" class="form-label">Catch Phrase</label>
                    <input type="text" class="form-control" id="catchPhraseCelebrity" name="catchPhrase">
                </div>


                <button type="submit" class="btn btn-warning">create</button>

            </form>

        </div>
    </div>



</div>