<h1>Create a new celebrity!</h1>

<form action="/celebrities/create" method="POST">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="occupation" placeholder="Occupation" />
  <input type="text" name="catchPhrase" placeholder="Catch phrase" />
  <button type="submit">Save</button>
</form>
<br />
<a href="/">Back to Homepage</a>