<h2>new Celebrity</h2>

<form action="/celebrities/new-celebrity" method="post">
    
    <label>
        <h3>Name:</h3><br>
        <input type="text" name="name">
    </label><br>
    <label>
        <h3>Occupation:</h3><br>
        
        <textarea name="occupation" cols="30" rows="4"> </textarea>
    </label><br>
    <label>
        <h3>Catch Phrase:</h3><br>
        <textarea name="catchPhrase" cols="30" rows="4"> </textarea>
    </label><br>
    <button type="submit"> Create </button>
</form>