<div class="greyBackground">
    <h2>New Celeb</h2>
    <form action=" /celebrities/create" method="POST">

        <div class="mb-3 mt-5">
            <label for="celebName" class="form-label">Name: </label>
            <input type="text" class="form-control" id="celebName" name="name">
        </div>
        <div class="mb-3 mt-5">
            <label for="occupation" class="form-label">Occupation: </label>
            <input type="text" class="form-control" id="occupation" name="occupation">
        </div>
        <div class="mb-3 mt-5">
            <label for="catchPhrase" class="form-label">Catchphrase: </label>
            <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
        </div>
        <div class="mb-3 mt-5">
            <label for="celebPic" class="form-label">Image URL: </label>
            <input type="text" class="form-control" id="celebPic" name="image">
        </div>

        <button type="submit" class="btn btn-lg btn-danger">Add your favorite Celeb</button>
        <button type="submit" class="btn btn-lg btn-dark">Cancel</button>
    </form>
</div>