<h2>
All Celebrities
</h2>

<form action="/celebrities/create" method="POST">
  <label for = "name"> Name:
    <input type="text" name="name" />
  </label>
<br>
  <label for = "occupation">Occupation:
    <input type="text" name="occupation" />
  </label>
<br>
  <label for = "catchPhrase"> Catch phrase:
    <input type="text" name="catchPhrase" />
  </label>

  <br>

  <button type="submit"> Create Celebrity</button>