<form action="/celebrities/create" method="post">
<label for="name">Enter Name</label>
<input type="text" name="name">
<label for="occupation">Enter Celebrity Occupation</label>
<input type="text" name="occupation">
<label for="catchPhrase">Enter Celebrity Catchphrase</label>
<input type="text" name="catchPhrase">
<button>Submit Celebrity Information</button>
</form> 