<h2> ¡Añade una nueva Celebrity!</h2>

<!--<form class="formulario" action="/celebrities/create" method="POST">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre nuevo celebrity:</span>
        <input type:"text" placeholder=" Introduzca celebrity" name="name" id="name">

    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">¿A qué se dedica?:</span>
        <input class="input-three " type:"text" placeholder="ocupación" name="occupation" id="occupation">

    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"> Frase célebre: </span>
        <input class="input-four" type:"text" placeholder="frase" name="catchPhrase" id="catchPhrase">

    </div>


</form> -->


<form class="formulario" action="/celebrities/create" method="POST">

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre nuevo celebrity:</span>
        <input type:"text" placeholder=" Introduzca celebrity" name="name" id="name">

    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">¿A qué se dedica?:</span>
        <input class="input-three " type:"text" placeholder="ocupación" name="occupation" id="occupation">
    </div>


    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"> Frase célebre: </span>
        <input class="input-four" type:"text" placeholder="frase" name="catchPhrase" id="catchPhrase">
    </div>


    <div class="input-buton">
        <input class="btn btn-success" type="submit" value="Enviar">
    </div>


</form>