<h2>Create a new celebrity</h2>
<form method="post" action="/celebrities">
<div>
    <label>Name:</label>
    <input type="text" name="name" placeholder="Celebrity name">
</div>
<div>
    <label>Occupation:</label>
    <input type="text" name="occupation" placeholder="Occupation">
</div>
<div>
    <label>Catch phrase:</label>
    <input type="text" name="catchPhrase" placeholder="Catch phrase">
</div>
<input type="submit" value="Submit">
</form>