<div class="container">

    <div class="row">

        <div class="col-6">


            <h2>Create your Celebrity</h2>

            <form action="/celebrities/create" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Celebrity</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Ocupation</label>
                    <input type="text" class="form-control" name="ocupation">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">CatchPhrase</label>
                    <input type="text" class="form-control" name="catchPhrase">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>

        </div>

    </div>

</div>