<form action="/celebrities/create" method="POST">
  <label> Name:        <input name="name" /> </label>
  <br>
  <label> Occupation:  <input name="occupation" /> </label>
  <br>
  <label> Catch Phrase:<input name="catchPhrase" /> </label>
  <br>

  <button type="submit"> Register </button>
</form>

