<h2>Create celebrities</h2>

<form method="POST" action="/celebrities/create">
<label>Name
    <input type="text" name="name" value="{{name}}"> 
</label>
<br>
<label>Occupation
    <input type="text" name="occupation" value="{{occupation}}">
</label>
<br>
<label>Catch Phrase
    <input type="text" name="catchPhrase" value="{{catchPhrase}}"> 
</label>
<br>
<button type="submit">Create a celeb</button>
</form>