<h2>Create a New Celebrity</h2>

<form action="/celebrities/create" method="POST">
    <label>Name</label>
    <input name="name" placeholder="Name">
    <label>Occupation</label>
    <input name="occupation" placeholder="Occupation" >

    <label>Catch Phrase</label>
    <input name="catchPhrase" placeholder="catchPhrase">

    <button type="submit">Send</button>
</form>