<div class='form-continaer'>
  <div>
    <a href="/">Home</a>
  </div>
  <h2>
    Add Celebrity 😀 
  </h2>
  <form action='/celebrities/create' method='POST'>
    <label for='name'>
      Name:
      <input id='name' type='text' name='name' />
    </label>
    <label for='occupation'>Occupation:
      <input id='occupation' type='text' name='occupation' />
    </label>
    <label for='catchPhrase'>Catch phrase:
      <input id='catchPhrase' type='text' name='catchPhrase' />
    </label>
    <button>
      Submit
    </button>
  </form>
</div>