<h1>Create New Celebrity</h1>

<form action="/celebrities/create" method="POST">
  <label> Name of the Celebrity:
    <input type="text" name="name" />
  </label>

  <label>Occupation
    <input type="text" name="occupation" />
  </label>

  <label> Catch Phrase:
    <input type="text" name="catchPhrase" />
  </label>

  <button type="submit"> Create </button>
</form>