<h2>New celebrity</h2>

<form action="/celebrities/create" method="POST">
  <label for="name">Name:</label>
  <input name="name" placeholder="Name" />

  <label for="occupation">Occupation:</label>
  <input name="occupation" placeholder="Occupation" />

  <label for="catchPhrase">Catch Phrase:</label>
  <input name="catch-phrase" placeholder="Catch Phrase" />

  <button type="submit">Add</button>
</form>