<h2>New Celebrity</h2>
<form action="/celebrities/create" method="post">
  <input name="name" type="text" value="" placeholder="Name" />
  <input name="occupation" type="text" value="" placeholder="Ocupation" />
  <input name="catchPhrase" type="text" value="" placeholder="catchPhrase" />
  <button type="submit">Create new celebrity</button>
</form>