<h2>Create a new celebrity</h2>
<form action="/celebrities/create" method="post">
  <div class="mb-3">
    <label for="inputName" class="form-label">Celebrity name: </label>
    <input type="text" class="form-control" id="inputName" name="name"/>
  </div>
  <div class="mb-3">
    <label for="inputOccupation" class="form-label">Occupation:
    </label>
    <input type="text" class="form-control" id="inputOccupation" name="occupation"/>
  </div>
  <div class="mb-3">
    <label for="inputCatchPhrase" class="form-label">Catch phrase: </label>
    <input type="text" class="form-control" id="inputCatchPhrase" name="catchPhrase"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>