<h2>Create a new celebrity</h2>
<!--<form method="POST" action="/celebrities/create">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  <label for="occupation">Occupation:</label>
  <input type="text" id="occupation" name="occupation" required>
  <label for="catchPhrase">Catchphrase:</label>
  <input type="text" id="catchPhrase" name="catchPhrase" required>
  <button type="submit">Create Celebrity</button>
</form>-->
<form action="/celebrities/create" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="occupation" placeholder="Occupation">
  <input type="text" name="catchPhrase" placeholder="Catch Phrase">
  <button type="submit">Submit</button>
</form>