<h2 class="mb-5">New celebrity</h2>

<form method="POST" action="/celebrities/create/">
 
    <label class="form-label">name</label>
    <input name="name" type="text" class="form-control" placeholder="Name"/>


 
    <label class="form-label">occupation</label>
    <input name="occupation" type="occupation" class="form-control" placeholder="occupation celebrityl"/>


 
    <label class="form-label">catchPhrase</label>
    <input name="catchPhrase" type="catchPhrase" class="form-control" placeholder="catchPhrase"/>


  <button type="submit" class="btn btn-success">Create</button>
</form>