<h2>Create celebrity</h2>

<form action="/celebrities/create" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="occupation" placeholder="Occupation">
    <input type="text" name="catchPhrase" placeholder="catchPhrase">
    <button type="submit"> Submit</button>
</form>