<h2>Add new Celebrity</h2>

<form action="/celebrities/create" method="POST">
  <label for="name">Name</label>
  <br />
  <input class="form-control" type="text" name="name" />
  <br />
  <label  for="occupation">Occupation</label>
  <br />
  <input class="form-control" type="text" name="occupation" />
  <br />
  <label for="catchPhrase">Catch Phrase</label>
  <br />
  <input class="form-control" type="text" name="catchPhrase" />
  <br />
  <button class="btn btn-primary"type="submit">Add new Celebrity</button>
</form> 