<h2>New celebrities</h2>

<form action="/celebrities/create" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input type="text" class="form-control" id="title" name="name">
    </div>
    <div class="mb-3">
        <label for="ocupation" class="form-label">ocupation</label>
        <input type="text" class="form-control" id="ocupation" name="ocupation">
    </div>
    <div class="mb-3">
        <label for="catchPhrase" class="form-label">catchPhrase</label>
        <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-dark">Enviar formulario</button>
    </div>