<h2>Celebrities Search</h2>
<hr />
<form action="/celebrities/create" method="POST">
	Name:
	<input type="text" name="name" />
	<br />
	<br />
	Occupation:
	<input type="text" name="occupation" /><br /><br />
	Catch Phrase:
	<input type="text" name="catchPhrase" /><br /><br />
	<button type="submit">Create a Celebrity</button>
</form>