<div class="container">
    <h2>New Celebrity</h2>
    <form action="./celebrities/create" method="post">
    
    <label for="name" class="form-label">name</label>
    <input type="text" class="form-control" id="name" name="name">

    <label for="ocupation" class="form-label">Ocupation</label>
    <input type="text" class="form-control" id="ocupation" name="ocupation">

    <label for="catchPhrase" class="form-label">Catch phrase</label>
    <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
    </form>
</div>