<h2>Create</h2>

<form method="post" action="/celebrities/create">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="mb-3">
    <label for="occupation" class="form-label">Occupation</label>
    <input type="text" class="form-control" id="occupation" name="occupation">
  </div>
  <div class="mb-3">
    <label for="catchPhrase" class="form-label">Catchphrase</label>
    <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>