<h1>New celebrity</h1>
<h2>Create a new celebrity</h2>
<form action="/celebrities/create" method="POST">
<input type="text" name="name" placeholder="Celebrity name">
<input type="text" name="occupation" placeholder="Celebrity occupation">
<input type="text" name="catchPhrase" placeholder="Celebrity catch phrase">
<button type="submit">Add celebrity</button>
</form>