<h2>New Celebrity</h2>

<form action='/celebrities/create' method='POST'>
  <input type='text' name='name' placeholder='celebrities name' />
  <input type='text' name='occupation' placeholder='celebrities occupation' />
  <input
    type='text'
    name='catchPhrase'
    placeholder='celebrities catch phrase'
  />
  <button type='submit'>Submit</button>
</form>