<h2>Create your own celebrity</h2>

<hr/>
<form action="/celebrities/create" method="POST">

    <label>Name:
        <input type="text" name="name" value="{{this.celebrities.name}}{{this.elebrities.surname}}" />
    </label>

    <label> Occupation:
        <input type="text" name="occupation" value="{{this.occupation}}" />
    </label>

    <label> Catch Phrase:
        <input type="text" name="catchPhrase" value="{{this.catchPhrase}}" />
    </label>

    <button type="submit"> Create </button>

</form>