<h2>Create a New Celebrity</h2>

<form method="POST" action="/celebrities/create">

<input type="text" name="name" placeholder="Add Celebrity name here">

<input type="text" name="occupation" placeholder="Enter your occupation here">

<input type="text" name = "catchPhrase" placeholder="Enter catchPhrase here">

<button type="Submit"> Create Celebrity button</button>
</form>
