<div>
<h2>New Celebritie</h2>


<form action="/celebrities/create" method="POST">

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="occupation" class="form-label">Occupation</label>
    <input type="text" class="form-control" id="occupation" name="occupation">
  </div>
   <div class="mb-3">
    <label for="catchPhrase" class="form-label">CatchPhrase</label>
    <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
  </div>

     <div>
        <button type="submit" class="btn btn-light">New Celebritie</button>
    </div>

</form>