
<h2>Celebrity</h2>

<div>
    <a href="/" class="btn btn-secondary mb-5 " >volver</a>
</div>

<form action="/celebrities/create" method="POST">
    <div>
        <label class="form-label">Name</label>
        <input type="text" name="name" placeholder="name">
    </div>
    <div>
        <label class="form-label">Occupation</label>
        <input type="text" name="occupation" placeholder="occupation">
    </div>
    <div>
        <label class="form-label">Phrase</label>
        <input type="text" name="catchPhrase" placeholder="phrase">
    </div>

    <button type="submit" class="btn btn-primary mt-4">Crear</button>
    
</form>
