<h1>New celebrity</h1>


    <form action="/celebrities/create" method="POST">
        <label>
            Name: <input type="text" name="name" placeholder="name">
        </label>

        <label>
            Occupation: <input type="text" name="occupation" placeholder="occupation">
        </label>

        <label>
            CatchPhrase: <input type="text" name="catchPhrase" placeholder="catchPhrase">
        </label>

        <button type="submit">Create</button>
    </form>