<h2>
    <form action="/celebrity/create" method="POST">
    <label> name:
        <input type="text" name="name" />
    </label>
        <label> occupation:
        <input type="text" name="occupation" />
    </label>
        <label> catchPhrase:
        <input type="text" name="catchPhrase" />
    </label>
    <button type= "submit">Submit</button>
   </form>
</h2>