<h2>New celebrity</h2>
<form action="" method="POST">
<<<<<<< HEAD
  <label>Name: 
     <input type="text" name="name">
  </label>
  <label>Occupation: 
     <input type="text" name="occupation">
  </label>
  <label>Catch phrase: 
     <input type="text" name="catchPhrase">
  </label>
=======
  <label for="name">Name</label>
  <input type="text" name="name" />
  <br />
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" />
  <br />
  <label for="catchPhrase">Famous Quote</label>
  <input type="text" name="catchPhrase" />
  <br />
>>>>>>> e7c62d983b383bac70f302b9f7650e2f29e56ea5
  <button>Create!</button>
</form>