<h2>Add a New Celebrity</h2>

<form action="/celebrities/create" method="post">
<input type="text" name="name">
<input type="text" name="occupation">
<input type="text" name="catchPhrase">
<button type="submit">Submit Celebrity</button>


</form>