<div>
    <h2> Agregar celebridad </h2>

    <form action="/celebrities/create" method="post">

        <label for="name">Nombre: </label>
        <input type="text" name="name">
        <br>
        <label for="occupation">Ocupación: </label>
        <input type="text" name="occupation">
        <br>
        <label for="catchPhrase">Frase celebre:</label>
        <input type="text" name="catchPhrase">
        <br>
        <button>Enviar</button>

    </form>


</div>