<form action='/celebrities/create' method='POST'>

    <div>
        <label for='name'>Name: </label><input id='name' name='name' type='text' />
    </div>
    <div>
        <label for='occupation'>Occupation: </label><input id='occupation' name='occupation' type='text' />
    </div>
    <div>
        <label for='catchPhrase'>Catchphrase: </label><input id='catchPhrase' name='catchPhrase' type='text' />
    </div>

  
  <button>Create a celebrity</button>
</form>
