<h1>Add Celebrity!!!</h1>
<hr>

<form action="/celebrities/new-movie" method="post">
    <label> Name: </label>
    <input type="text" name="name">
    <label> Occupation: </label>
    <input type="text" name="occupation" placeholder="comedian/artist/musician">
    <label> Catch Phrase: </label>
    <input type="text" name="catchPhrase" placeholder="Cowabunga!!!">
</form>

<button type="submit">Create!</button>