<h2>Create Celebritie</h2>
<form method="POST" action="/celebrities/create">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" style="width: 50%;">
    </div>
    <div class="mb-3">
        <label for="occupation" class="form-label">Ocupacion</label>
        <input type="string" class="form-control" id="occupation" name="occupation" style="width: 50%;">
    </div>
    <div class="mb-3">
        <label for="catchPhrase" class="form-label">Frase</label>
        <input type="text" class="form-control" id="catchPhrase" name="catchPhrase" style="width: 50%;">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>