<h2> New Celebrity </h2>

<form action="/celebrities/create" method="POST">
    <label for="name">Celebrity name:</label>
    <input type="text" name="name" id="name" value="" placeholder="Name of the Celebrity" />
    <label for="name">Celebrity occupation:</label>
    <input type="text" name="occupation" id="occupation" value="" placeholder="Occupation" />
    <label name="catchPhrase">Catch Phrase:</label>
    <input type="text" name="catchPhrase" id="catchPhrase" value="" placeholder="Catch Phrase" />
    <br><button type="submit">Create the celebrity!</button>
</form>