<h2>New celebrity</h2>

<form action="/celebrities/create" method="POST">

  <label>
    Name
    <input type="text" name="name" />
  </label>

  <br /><br />

  <label>
    Occupation
    <input type="text" name="occupation" />
  </label>

  <br /><br />

  <label>
    Catch Phrase
    <input type="text" name="catchphrase" />
  </label>

  <br /><br />

  <input
    type="submit"
    class="btn btn-outline-secondary"
    value="Create celebrity"
  />
</form>