<!--

Add an <h2> for the page's heading.
Add a <form> tag that makes a POST request to /celebrities/create.
Add <input> tags inside the form so the user can fill in values for each attribute of the celebrity. Make an input for name, occupation, and catchPhrase
Add a <button> tag in the form so the user can submit the form once they are done filling it out.-->


<!--<form action="/books" method="POST">
	<label for="title">Title: </label>
	<input type="text" name="title">

	<label for="author">Author: </label>
	{{!-- <input type="text" name="author"> --}}
	<select name="author">
		{{#each authors}}
			<option value="{{_id}}">{{name}} {{lastName}}</option>
		{{/each}}
	</select>

	<label for="description">Description: </label>
	<input type="text" name="description">

	<label for="rating">Rating: </label>
	<input type="number" name="rating">

	<button type="sumbmit">Add book</button>
</form> -->

<h2>This is the heading page</h2>
<form action ="/celebrities/create" method="POST">

</form>
