<h2>ADD A NEW CELEBRITY</h2>

<form action="/celebrities/create" method="POST">
  <input type="text" name="name" id="" placeholder="celebrity name" />
  <br />
  <input
    type="text"
    name="occupation"
    id=""
    placeholder="celebrity occupation"
  />
  <br />
  <input
    type="text"
    name="catchPhrase"
    id=""
    placeholder="celebrity catch phrase"
  />
  <br />

  <button type="submit">Save the celebrity</button>
</form>

<hr />
<a href="/"><button>Back to home</button></a>