<a href="/celebrities">Go back to the list</a>
<h2>Create new celebrity</h2>

<form action="/celebrities/create" method="POST">
    <label>
        Name:
        <input type="text" name="name">
    </label>
    <br>
    <label>
        Occupation:
        <input type="text" name="occupation">
    </label>
    <br>
    <label>
        Catchphrase:
        <input type="text" name="catchPhrase">
    </label>
    <br>
    <button type="submit">Submit</button>
</form>