<h2>Add new celebrity</h2>
<form method="post" action="/celebrities/create" >
<div>
    <label>Name:</label>
    <input type="text" name="name"/>
</div>
<div>
    <label>Occupation:</label>
    <input type="text" name="occupation"/>
</div>
<div>
    <label>catchPhrase</label>
    <input type="text" name="catchPhrase"/>
</div>
<div>
    <button type="submit" method="get" action="/celebrities" >Salvar</button>
</div>
</form>