<div class="container">
    <h1>Add celebrity</h1>
    <form action="/celebrities/create" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">

        <label for="occupation">Occupation: </label>
        <input type="text" name="occupation" id="occupation">

        <label for="catchPhrase">Catch phrase: </label>
        <input type="text" name="catchPhrase" id="catchPhrase">

        <button type="submit">Add celebrity</button>
    </form>
    <a href="/celebrities">Celebrities</a>
    <a href="/">Return Home</a>
</div>