<h2></h2>

<form action="/celebrities/create" method="POST">
  <label>
    Name:
    <input type="text" name="name" />
  </label>

  <label>
    Occupation:
    <input type="text" name="occupation" />
  </label>

  <label>
    Catchphrase
    <input type="text" name="catchphrase" />
  </label>

  <button>Create new celebrity</button>
</form>