<h2>New Celebritie</h2>

<hr>

<form action="/celebrities/create" method="POST">
    <div class="mb-3">
        <label for="field1" class="form-label">name</label>
        <input type="text" class="form-control" id="field1" name="name">
    </div>

    <div class="mb-3">
        <label for="field2" class="form-label">occupation</label>
        <input type="text" class="form-control" id="field2" name="occupation">
    </div>

    <div class="mb-3">
        <label for="field2" class="form-label">catchPhrase</label>
        <input type="text" class="form-control" id="field2" name="catchPhrase">
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>

</form>