
<h2>Add a new celebrity</h2>

<form action="/celebrities/create" method="POST">
  <div>
    <label for="celebName">Name</label>
    <input id="celebName" type="text" name="name">
  </div>
  <div>
    <label for="celebOccupation">Occupation</label>
    <input id="celebOccupation" type="text" name="occupation">
  </div>
  <div>
    <label for="celebCatchPhrase">Catch Phrase</label>
    <input id="celebCatchPhrase" type="text" name="catchPhrase">
  </div>
  <button type="submit">Submit</button>
</form>