<h2> NEW CELEBRITY</h2>

    <form action="/celebrities/create" method="POST">
        <div class="input-group mb-3">
            <input type="text" name="name" class="form-control" placeholder="Name">
        </div>

        <div class="input-group mb-3">
            <input type="text" name="occupation" class="form-control" placeholder="Occupation">
        </div>

        <div class="input-group mb-3">
            <input type="text" name="catchPhrase" class="form-control" placeholder="Catchphrase">
        </div>

        <button type="submit" clasS="btn btn-outline-primary">Create</button>


    </form>