<h2>Create new celebrity</h2>

<form action="/celebrities/create" method ="post">

    <label for="name">Name</label>
    <input id="name" name="name"> 

    <label for="occupation">Occupation</label>
    <input id="occupation" name="occupation"> 

    <label for="catchPhrase">Catch phrase</label>
    <input id="catchPhrase" name="catchPhrase"> 

    <button type="submit">Create celebrity</button>

</form>

<br>
<br>
<a href="./index.hbs">
<button>Go back home</button>
</a>