<h2>Add new celebrities:</h2>

<form method="POST" action="/celebrities/create">
  <input type="text" name="name" placeholder="Celebrity name">
  <input type="text"  name="ocupation" placeholder="Ocupation">
  <input type="text"  name="catchPhrase" placeholder="Celebritie's catchphrase">
  <button type="submit" class="btn btn-primary">Add new celebrity!</button>
</form>