<h2>Create a new celebrity</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-4">
            <form action="/celebrities/create" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label"></label>
                    <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                </div>
                <div class="mb-3">
                    <label for="occupation" class="form-label"></label>
                    <input type="text" class="form-control" id="occupation" placeholder="Occupation" name="occupation">
                </div>
                <div class="mb-3">
                    <label for="catchPhrase" class="form-label"></label>
                    <input type="text" class="form-control" id="catchPhrase" placeholder="Phrase" name="catchPhrase">
                </div>
                <button type="submit" class="btn btn-dark">Create</button>
            </form>
        </div>
    </div>
</div>

