<div class="container2">
    <h2 class="titleEveryPage">Add a new celebrity</h2>
    <div class="mb-3 centeredDiv d-flex">
        <form action="/celebrities/create" method="post" class="formDiv d-flex flex-column">
            <label class="form-label"> Name
                <input type="text" name="name" class="form-control" />
            </label>

            <label class="form-label"> Occupation
                <input type="text" name="occupation" class="form-control" />
            </label>

            <label class="form-label"> CatchPhrase
                <input type="text" name="catchPhrase" class="form-control" />
            </label>

            <button type="submit" class="btn btn-dark indexButton"> Add the celebrity </button>
        </form>
    </div>
    <div class="formDiv">
        <a href="/"><button type="text" class="btn btn-dark indexButton"> Home </button></a>
    </div>
</div>