<h2>Create new celebrity</h2>
<hr />
<form action="/celebrities/create" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" />
  </div>

  <div class="mb-3">
    <label for="ocup" class="form-label">Ocupation</label>
    <input type="text" class="form-control" id="ocup" name="ocupation" />
  </div>

  <div class="mb-3">
    <label for="cp" class="form-label">Catch phrase</label>
    <input type="text" class="form-control" id="cp" name="catchPhrase" />
  </div>

  <div class="d-grid">
    <button type="submit" class="btn btn-dark">Submit</button>
  </div>
</form>