<h2>New Celebrity</h2>

{{ err }}

<form method="POST" action="/celebrities/create" >
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="text" name="occupation" placeholder="Occupation">
    <br>
    <input type="text" name="catchphrase" placeholder="Catch phrase">
    <br>
    <button type="submit">Enviar</button>
</form>