<h2>Page heading</h2>
<form action="/celebrities/create" method="POST">
{{!-- {{# each celebs}} --}}
  <label>
    Name
    <input type="text" name="name">
  </label>
  <label>
    Occupation
    <input type="text" name="occupation">
  </label>
  <label>
    Catch-Phrase
    <input type="text" name="catchPhrase">
  </label>
  <button type=“submit”>Submit</button>
</form>
