<h1>Create a celebrity</h1>

<form action="/celebrities/create" method="post">

<label for="name">Name</label>
<input type="text" name="name" id=" name" />

<label for="occupation">Occupation</label>
<input type="text" name="occupation" id=" occupation" />

<label for="catchPhrase">Catch Phrase</label>
<textarea type="text" name="catchPhrase" id=" catchPhrase" cols="15" rows="2"></textarea>


<button type="submit">Add Celebrity</button>

</form>