<h1>New celebrity</h1>

<hr>

<form action="/celebrities/create" method="POST">
    <div class="row">
        <div class="col">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="col">
            <label for="occupation">Occupation</label>
            <input type="text" id="occupation" name="occupation">
        </div>
        <div class="col">
            <label for="catchPhrase">Quotes</label>
            <input type="text" id="catchPhrase" name="catchPhrase">
        </div>
        <div class="col">
            <button type="submit" class="btn-create">Create New Celeb</button>
        </div>
    </div>
</form>