<h2>Create Celebrity</h2>

<form action="/celebrities/create" method="POST">
    <label for="name">Celebrity Name</label>
    <input required type="text" id="name" name="name">

   <label for="occupation">Occupation</label>
   <input required type="text" id="occupation" name="occupation">

   <label for="catchPhrase">Catch Phrase</label>
   <input required type="text" id="catchPhrase" name="catchPhrase">

   <button type="submit"> Create New Celebrity</button>

</form>