<h2>Create a Celebrity</h2>

<form action="/celebrities/create" method="POST">

  <label> Name:
    <input type="text" name="name" required />
  </label>

  <label> Occupation:
   <input type="text" name="occupation" />
 </label>

  <label> CatchPhrase:
     <input type="text" name="catchphrase" />
  </label>

 
  <button type="submit"> Create Celebrity</button>
</form>


 
