<h2></h2>
<form action="/celebrities/create" method="post">
    <input type="text" name="name" placeholder="Ingresa el nombre">
    <input type="text" name="occupation" placeholder="Ingresa la ocupación">
    <input type="text" name="catchPhrase" placeholder="Ingresa la frase">
    <button type="submit">submit</button>
</form>   