<h2>Create New Celebrity</h2>

<form action="/celebrities/create" method="POST">
  <label for="name">Name:
    <input type="text" id="name" name="name" required />
  </label>

  <label for="occupation">Occupation:
    <input type="text" id="occupation" name="occupation" required />
  </label>

  <label for="catchPhrase">Catch Phrase:
    <input type="text" id="catchPhrase" name="catchPhrase" required />
  </label>

  <button type="submit">Create Celebrity</button>
</form>