<h2>Create a new celebrity</h2>
<div class="row justify-content-center">
    <div class="col-12 d-flex justify-content-center">
        <form action="/celebrities/create" method="POST">
            <label class="d-flex justify-content-between align-items-center">
                <p>Name</p>
                <input type="text" name="name">
            </label>
            <label class="d-flex justify-content-between align-items-center">
                <p>Occupation</p>
                <input type="text" name="occupation">
            </label>
            <label class="d-flex justify-content-between align-items-center">
                <p>Catch phrase</p>
                <input type="text" name="catchPhrase">
            </label>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <input class="btn btn-color" type="submit" value="Create Celeb">
                </div>
            </div>
        </form>
    </div>
</div>