<h2>Create a Celebrity</h2>

<form method="post" action="/celebrities/create" class="form">
    <label for="name" class="label">Name: </label>
    <input class="input" type="text" id="name" name="name" value="Celebrity Name">

    <label for="occupation" class="label">Occupation: </label>
    <input class="input" type="text" id="occupation" name="occupation" value="Celebrity Occupation">

    <label for="catchPhrase" class="label">Catch Phrase: </label>
    <input class="input" type="text" id="catchPhrase" name="catchPhrase" value="Celebrity Catch Phrase">

    <button class="btn">Create</button>
</form>