<h2>Add a new celebrity</h2>

<div class="container">
    <div class="row text-align-center">

        <form action="/celebrities/create" method="post" class="col-8 container-fluid">
            <div class="row g-4 container-fluid">
                <div class="col-12 row g-0 text-align-left vertical-margin-2">
                    <label for="celebrity-name">Name</label>
                    <input type="text" name="name" id="celebrity-name">
                </div>

                <div class="col-12 row g-0 text-align-left vertical-margin-2">
                    <label for="celebrity-occupation">Occupation</label>
                    <input type="text" name="occupation" id="celebrity-occupation">
                </div>

                <div class="col-12 row g-0 text-align-left vertical-margin-2">
                    <label for="celebrity-catch">Catch phrase</label>
                    <input type="text" name="catchPhrase" id="celebrity-catch">
                </div>

                <button type="submit" class="col-12 btn btn-secondary">Create</button>
            </div>
        </form>

        <p class="error">{{errorMessage}}</p>

    </div>
</div>