<div class="main">


<h2>Add a new celebrity:</h2>
<br>
<br>
<form action="/celebrities/create" method="POST">
    <label for=''>Name: </label><br>
    <input type="text" name="name">
    <br>
    <br>

    <label for=''>Occupation: </label><br>
    <input type="text" name="occupation">
    <br>
    <br>

    <label for=''>CatchPhrase: </label><br>
    <input type="text" name="catchPhrase">
    <br>
    <br>

  
  	<button type="submit">Add</button>
</form>

<br>
<br>
<a href="/celebrities">
  <button>Go back to celebrities</button>
</a>
<br>
<br>
<a href="/">
  <button>Home</button>
</a>

</div>