<h1>Create a new, beautiful and VERY famous celebrity here!</h1>

<form action="/celebrities/create" method="post">
  <label for="name"></label>
  <input type="text" name="name" id="name" placeholder="Celebrity's name" />
  <label for="occupation"></label>
  <input
    type="text"
    name="occupation"
    id="occupation"
    placeholder="Celebrity's occupation"
  />
  <label for="catchPhrase"></label>
  <input
    type="text"
    name="catchPhrase"
    id="catchPhrase"
    placeholder="Celebrity's Catch Phrase"
  />
  <button type="submit">Create new Celebrity</button>
</form>