<h1>New celebrity</h1>

<form action="/celebrities/create" method="POST">
    <label for="Name">Name</label>
    <br>
    <input type="text" name="name">
    <br>
    <label for="Name">Ocupation</label>
    <br>
    <input type="text" name="ocupation">
    <br>
    <label for="catchPhrase">Phrase</label>
    <br>
    <input type="text" name="catchPhrase">
    <br>
    <button type="submit" >Create</button>
</form>