<!-- Iteration #3 -->

<h2>New Celebrity</h2>

<form action="/celebrities/create" method="POST">

<input class="form-control" type="text" name="name" placeholder="Name of Celebrity" />

<input class="form-control" type="text" name="occupation" placeholder="Occupation of Celebrity" />

<input class="form-control" type="text" name="catchPhrase" placeholder="Catch Phrase of Celebrity" />

<button class="btn btn-success" type="submit">Submit</button>

</form>