<h2>Create a new celebrity</h2>

<form action="/celebrities/create" method="POST">

    <label>
        <input type="text" placeholder="name your celebrity" name="name">
    </label>

    <label>
        <input type="text" placeholder="occupation" name="occupation">
    </label>

    <label>
        <input type="text" placeholder="catch phrase" name="catchPhrase">
    </label>

    <input type="submit" value="Create celebrity">


</form>