<h2>New celebrity page</h2>

<form action="/create" method="POST">
  <label>
    Name:
    <input type="text" name="name" />
  </label>
  <br />

  <label>
    Occupation:
    <input type="text" name="occupation" />
  </label>
  <br />

  <label>
    Catch Phrase:
    <input type="text" name="catchphrase" />
  </label>

  <button type="submit"> Create celebrity </button>
</form>