<h2>Add a new celeb</h2> 


<form action="/celebrities/create" method="post">

<label for="name">Celeb's name:</label>
<input type="text" id="name" name="name" placeholder="add name"> <br><br>

<label for="occupation">Celeb's occupation:</label>
<input type="text" id="occupation" name="occupation" placeholder="add occupation"><br><br>

<label for="catchPhrase">Celeb's catchPhrase:</label>
<input type="text" id="catchPhrase" name="catchPhrase" placeholder="add catchphrase">

<button type="submit">Create my Celeb!</button>

</form>





