<h2>Create new celebrity</h2>

<form action="/celebrities/create" method="post">
  <label for="">Name: 
    <input type="text" name="name" id="">
  </label>

  <label for="">Occupation: 
    <input type="text" name="occupation" id="">
  </label>

  <label for="">Catch phrase: 
    <input type="text" name="catchPhrase" id="">
  </label>

  <button type="submit">Save</button>
</form>