<h2>Add a new celebrity</h2>

<form method="POST" action="/celebrities/create">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input name="name" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="occupation" class="form-label">Occupation</label>
        <input name="occupation" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="catchPhrase" class="form-label">Catch Phrase</label>
        <input name="catchPhrase" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>