
        <h1>New Celebrity</h1>
        <hr>
        <div class='container'>
        <form action='/celebrities/new-celebrities' method='POST'>
          <label>
            Name:
            <input type='text' name='name' placeholder='Celebrity name' />
          </label>

          <label>
            Occupation:
            <input type='text' name='occupation' placeholder='Celebrity occupation' />
          </label>

          <label>
            Catch Phrase:
            <input type='text' name='Catch Phrase' placeholder='Celebrity Catch Phrase' />
          </label>

          <button type='submit' class='btn-dark btn'>Create</button>
        </form>
        </div>


