<h2></h2>
<form action="P/celebrities/create" method="POST">
    <label for="">
        Name:
        <input type="text" name="name">
    </label>
     <label for="">
        Occupation:
        <input type="text" name="occupation">
    </label>
     <label for="">
        Catchphrase:
        <input type="text" name="catchPhrase">
    </label>
    <button type="submit">Create</button>
</form>
