


<h2>New celebrity</h2>

<form action="/celebrities/create" method="POST">

  <label class="name">Name:
    <input type="text" name="name" />
  </label>

  <label class="occup">Occupation:
    <input type="text" name="occupation" />
  </label>

  <label class="phrase">Catch Phrase:
    <input type="text" name="catchPhrase" />
  </label>

  <button type="submit">Create a celebrity</button>

</form>