<h2>Create a celebrity</h1>

<form action="/celebrities/create" method="post">

  <label for="title"><b>Title</b></label>
  <br />
  <input type="text" name="title" id="title" />

  <br />
  <br />

  <label for="occupation"><b>Occupation</b></label>
  <br />
  <input type="text" name="occupation" id="occupation" />

  <br />
  <br />

  <label for="catchPhrase"><b>Catch Phrase</b></label>
  <br />
  <textarea name="catchPhrase" id="catchPhrase" cols="20" rows="10"></textarea>

  <br />
  <br />

  <button type="submit">Add Celebrity</button>

</form>