<h2></h2>
<form action="">
    <input name="name" type="text">
    <input name="occupation" type="text">
    <input name="catchPhrase" type="text">
    <button type="submit">Create new celebrity</button>
</form>