<h1>Add New Celebrity</h1>
<form action="/celebrities/create" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required><br>

  <label for="occupation">Occupation:</label>
  <input type="text" id="occupation" name="occupation" required><br>

  <label for="catchPhrase">Catch Phrase:</label>
  <input type="text" id="catchPhrase" name="catchPhrase" required><br>

  <button type="submit">Submit</button>
</form>

<a href="/">Come back</a>