<h2>Create a New Celebrity here!</h2>
<form method="POST" action="/celebrities/create">
    <input type="text" name="name" placeholder="Name" required>
    <input type="text" name="occupation" placeholder="Occupation" required>
    <input type="text" name="catchPhrase" placeholder="Catch Phrase" required>
    <button type="submit">Add New Celebrity</button>
</form>