<div class="container">
    <h2 class="mt-2">Add celebrity</h2>
    <form action="/celebrities/create" method="POST">
        <div>
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name">
        </div>
        <div>
            <label class="form-label" for="occupation">Occupation</label>
            <input class="form-control" type="text" id="occupation" name="occupation">
        </div>
        <div>
            <label class="form-label" for="catchPhrase">Catchphrase</label>
            <input class="form-control" type="text" id="catchPhrase" name="catchPhrase">
        </div>
        <button class="btn btn-dark" type="submit">Add to database</button>
    </form>
</div>