<h2>New Celebrity in the House</h2>

<form action="/celebrities/create" method="POST">
    
    <label for=''>Name</label>
    <input type='text' name='name'>
    
    <br>
    <label for=''>Occupation</label>
    <input type='text' name='occupation'>
    
    <br>
    <label for=''>Catch Phrase</label>
    <input type='text' name='catchphrase'>

    <br>
    <button type='submit'>Add New Celebrity</button>

</form>
<br>
<br>
<a href="/private"> <button>RETURN</button></a>