<h2>NEW CELEBRITY</h2>
<form action="/celebrities/create" method="post">
    <label for="name" class="label">Name</label>
    <input class="input" type="text" id="name" name="name" >

    <label for="occupation" class="label">Occupation</label>
    <input class="input" type="text" id="occupation" name="occupation" >


    <label for="catchPhrase" class="label">CatchPhrase</label>
    <input class="input" type="text" id="catchPhrase" name="catchPhrase" >

<button>Submit</button>


</form>
