 <div class="container">

    <h1> New Celebrity</h1>



        <form action="/celebrities/create" method="POST">

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="name">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">occupation</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" name="occupation">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">catchPhrase</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" name="catchPhrase">
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-dark">New Celebrity</button>
            </div>

        </form>



</div>