<h1>Add a new celebrity</h1>

<form method="POST" action="/celebrities/create">
  <label>
    Name:
    <input name="name" type="text" /></label>
  <label>
    Occupation:
    <select name="occupation" id="occupation">
      <option value="unknown">unknown</option>
      <option value="actor">actor</option>
      <option value="singer">singer</option>
      <option value="comedian">comedian</option>
    </select>
  <label>
    Catchphrase:
    <input name="catchPhrase" type="text" /></label>
  <button type="submit">Create</button>
</form>