<h2>Add a new Celebrity!</h2>
<form action="/celebrities/create" method="post">
    <label>Name:
        <input type="text" name="name">
    </label>
    <label>Ocupation:
        <input type="text" name="occupation">
    </label>
    <label>Catch Phrase:
        <input type="text" name="catchPhrase">
    </label>
    <button type="submit">Create my Celebrity</button>
</form>