<h1>Create new celebrity</h1>

<form action="/celebrities/create" method="POST">
  <div>
    <label for="name">Celebrity's name</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <label for="occupation">Celebrity's Occupation</label>
    <input type="text" name="occupation" id="occupation" />
  </div>
  <div>
    <label for="catchPhrase">Celebrity's Catch phrase</label>
    <input type="text" name="catchPhrase" id="catchPhrase" />
  </div>

  <button>Create celebrity</button>
</form>