<h2>Add a new Celebrity</h2>

<form action="/celebrities/create" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="occupation">Occupation:</label><br>
    <input type="text" id="occupation" name="occupation"><br>
    <label for="catchPhrase">Catch Phrase:</label><br>
    <input type="text" id="catchPhrase" name="catchPhrase"><br>
    <br>
    <button type="submit">ADD</button>
</form>