<div id="form">
  <h2>Add new celebrity</h2>
  <form action="/celebrities/create" method="POST">

    <label>
      Name
      <input type="text" name="name" placeholder="" />
    </label>

    <label>
      Occupation
      <input type="text" name="occupation" placeholder="" />
    </label>

    <label>
      Catch phrase
      <input type="text" name="catchPhrase" placeholder="" />
    </label>

    <button type="submit">Create celebrity</button>

  </form>
</div>