<h2>Creade new celebrity</h2>

<form action="/celebrity/celebrities/create" method="POST">

<label for="">Name</label>
<input type="text" name="name" placeholder="Name">

<label for="">Occupation</label>
<input type="text" name="occupation" placeholder="Occupation">

<label for="">catchPhrase</label>
<input type="text" name="catchPhrase" placeholder="catchPhrase">

<button type="submit">Send</button>



</form>