<div class="container">
    <h2>CREATE A CELEBRITY</h2>

    <form action="/celebrities/create" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="mb-3">
            <label for="occupation" class="form-label">Occupation</label>
            <input type="text" class="form-control" id="occupation" name="occupation">
        </div>

        <div class="mb-3">
            <label for="catchphrase" class="form-label">Catchphrase</label>
            <input type="text" class="form-control" id="catchphrase" name="catchPhrase">
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-dark">Create celebrity</button>
        </div>
    </form>


</div>