<h1> Celebrity Creation </h1>
<form action="/celebrities/create" method="post">
  <label> name:
    <input type="text" name="name" />
  </label>

  <label> occupation:
     <input type="text" name="occupation" />
  </label>

  <label> catchPrase:
    <input type="text" name="catchPrase" />
  </label>

  <button type="submit"> submit </button>
</form>