<div>
    <h2 class="heading">
        Load a New Celebrity
    </h2>
</div>
<form action="/celebrities/create" method="POST">

    <label> Celebrity Name
      <input type="text" class="formInput" name="name" placeholder="Mario">
    </label>

    <label> Occupation
      <input type="text" class="formInput" name="occupation" placeholder="Plumber">
    </label>

    <label> Catch Phrase
      <input type="text" class="formInput" name="phrase" placeholder="It's a-me, Mario!">
    </label>

    <button class="addDB" type="submit">Add</button>

</form>