<form  class='form'action="/celebrities/create" method="post">
<label class="label" for="name">Enter Name</label>
<input class="label" type="text" name="name">
<label class="label" for="occupation">Enter Celebrity Occupation</label>
<input class="label" type="text" name="occupation">
<label class="label" for="catchPhrase">Enter Celebrity Catchphrase</label>
<input class="label" type="text" name="catchPhrase">
<button type="submit" class="button">Submit Celebrity Information</button>
</form> 