<form action="/celebrities/create" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="occupation">Occupation:</label>
        <input type="text" id="occupation" name="occupation">
    </div>
    <div>
        <label for="catchPhrase">Catch Phrase:</label>
        <input type="text" id="catchPhrase" name="catchPhrase">
    </div>
    <button type="submit">crear</button>
</form>