<div class="container">
    <h2>DAMMI UN TITOLO</h2>
    <form action="/celebrities/create" method="POST">
        <label for="field1" class="form-label">Name</label>
        <input type="text" class="form-control" id="field1" name="name">

        <label for="field2" class="form-label">Occupation</label>
        <input type="text" class="form-control" id="field2" name="occupation">

        <label for="field3" class="form-label">Catchphrase</label>
        <input type="text" class="form-control" id="field3" name="catchPhrase">
        <button>CREATE!</button>


        <a href="/celebrities/celebrities">VEDI LE CELEBRITIES</a>
    </form>

</div>