<h2>This is a new Celebrity!</h2>

<form action="/celebrities/create" method="POST">
<input type="text" name="name" tag="Name:" placeholder="Insert name"/>
<input type="text" name="occupation" tag="Occupation:" placeholder="Insert occupation!"/>
<input type="text" name="catchPhrase" tag="Catch Phrase:" placeholder="Insert catch Phrase!"/>

  <button type="submit">Submit!</button>
</form>

