<h1>Create a Celebrity</h1>
<form action="/celebrities/create" method="POST">
<label> Name
    <input type="text" name ="name" >
</label>
<label> Occupation
    <input type="text" name = "occupation">
</label>
<label> Phrase
    <input type="text" name = "catchPhrase">
</label>
<button type = "submit"> Create Celebrity!</button>
</form>