<h2>Add a new celebrity</h2>

<form method="POST" action="/celebrities/create">

    <input class="form-control" type="text" placeholder="Name" aria-label="default input example" name="name">
    <br>
    <input class="form-control" type="text" placeholder="Occupation" aria-label="default input example" name="occupation">
    <br>
    <input class="form-control" type="text" placeholder="Catch Phrase" aria-label="default input example" name="catchPhrase">
    <br>
    <button class="btn btn-primary" type="submit">SUBMIT</button>
</form>


