<h2 class="create-title">
  Create a Celebrity
</h2>
<div>
<form class="input-container" action="/celebrities/create" method="post">
  <label>Celebrity Name:
    <input type="text" name="name" />
  </label>
  <label>Occupation:
    <input type="text" name="occupation" />
  </label>
  <label>Catch Phrase:
    <input type="text" name="catchPhrase" />
  </label>
  </div>
  <div >  
    <button class="submit-btn" type="submit">Submit</button>
  </div>

</form>