<h2>Create a New celebrity</h2>
<form action="/celebrities/create" method="post">
    <label for="nameId">Name</label>
    <input type="text" name="name" id="nameId">
    <label for="ocuppationId">Occupation</label>
    <input type="text" name="ocuppation" id="ocuppationId">
    <label for="catchPhraseId">Catch Phrase</label>
    <textarea name="catchPhrase" id="catchPhraseId" cols="40" rows="2">

    </textarea>
    <button type="submit">Create!</button>
</form>