<h2>Crear dato de nueva celebridad</h2>

<form action="/celebridades/crear" method="post">

    <label>Nombre
        <input type="text" name="name">
    </label>
    <br>
    <label>Ocupación
        <input type="text" name="occupation">
    </label>
    <br>
    <label>Frase
        <input type="text" name="catchPhrase">
    </label>
    <br>
    <input class="btn btn-primary" type="submit" value="Crear registro">

</form>


<a class="btn btn-warning" href="/celebridades" role="button">Volver al listado</a>