<div>
 <h2>Add a celebrity!</h2>


<form action ="/celebrities/create" method="POST"> 

    <label for="name">Name</label>
    <input type="text" name="name">
        <br>
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation">
        <br>
      <label for="catchPhrase">Catch Phrase</label>
    <input type="text" name="catchPhrase">
        <br>
    <button>Añadir</button>

</form>
</div>