<h2>Add a new celebrity</h2>
<form action="/celebrities/create" method="POST">

  <label>
    Name:
    <input type="text" name="name" required />
  </label>

  <label>
    Occupation:
    <input type="text" name="occupation" required />
  </label>

  <label>
    Catch Phrase:
    <input type="text" name="catchPhrase" required />

  </label>

  <button type="submit">Save</button>

</form>