<div class="container">
    <h2 class="mb-5">Create new celebrity</h2>

    <form action="/celebrities/create" method="POST">
        <div class="mb-5">
            <label for="name" class="form-label"><strong>Name</strong></label>
            <input type="text" class="form-control mb-3" name="name"></br>
            <label for="occupation" class="form-label"><strong>Occupation</strong></label>
            <input type="text" class="form-control mb-3" name="occupation"></br>
            <label for="catch-phrase" class="form-label"><strong>Catch Phrase</strong></label>
            <input type="text" class="form-control mb-3" name="catchPhrase"></br>
        </div>

        <button type="submit" class="btn btn-outline-dark">Create</button>

    </form>
</div>