<h2>Add Celebrity</h2>

<form action="/celebrities/create" method="POST">

  <div class="input-group mb-3">
    <span for="name" class="input-group-text" id="inputGroup-sizing-default">Name:</span>
    <input name="name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <span for="occupation" class="input-group-text" id="inputGroup-sizing-default">Occupation:</span>
    <input name="occupation" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <span for="catchPhrase" class="input-group-text" id="inputGroup-sizing-default">Catch Phrase</span>
    <input name="catchPhrase" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <select name="name" multiple="true">

    {{#each allCelebrities}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}

  </select>

  <button type="submit" class="btn btn-success">Add Celebrity</button>

</form>


