<h1>New Celebrities View</h1>
<p>Welcome</p>

<form action="/celebrities/create" method="post">

<label>Name</label>
<input type="text" name="name">

<label>Occupation</label>
<input type="text" name="occupation">

<label>Catch Phrase</label>
<input type="text" name="catchPhrase">

    <button type="submit">
        Save
    </button>
</form>