  <h2 class='m-3'>Add celebrity</h2>
  <hr />
{{! Errormessage for user, not working yet }}
<hr />
{{#if error}}
  <h2>ups, there was an eror, please try again!</h2>
  <hr />
{{/if}}

  <form class='w-50 m-4' action='/celebrities/create' method='post' class='form'>

    {{> celebrityFormPartial}}

  </form>