<h2>New Celebrity</h2>

{{err}}
<form method="POST" action="/celebrities/create">
    <input type="text" name="name" placeholder="Namme">
    <br>
    <br>
    <input type="text" name="occupation" placeholder="Occupation">
    <br>
    <br>
    <input type="text" name="catchPhrase" placeholder="catchPhrase">
    <br>
    <br>
    <button type="submit">Enviar</button>


</form>