<h2>Agregar Nueva Celebridad</h2>
<form action="/celebrities/create" method="POST">
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" required>

    <label for="occupation">Ocupación:</label>
    <input type="text" name="occupation" id="occupation" required>

    <label for="catchPhrase">Frase Célebre:</label>
    <input type="text" name="catchPhrase" id="catchPhrase" required>

    <button type="submit">Agregar Celebridad</button>
</form>