<h2>Celebrities</h2>
<form action="/celebrities/create" method="POST">

    <label for="name">Celebrity Name</label>
    <input id="name" type="text" name="name">

    <label for="occupation">Celebrity Occupation</label>
    <input id="occupation" type="text" name="occupation">

    <label for="catchphrase">Celebrity Catchphrase</label>
    <input id="catchphrase" type="text" name="catchphrase">

    <button type="Submit">Submit Celebrity</button>
</form>