<div class="container">

    <div class="row justify-content-center">

        <div class="col-6">

            <h2>Nueva celebridad</h2>

            <hr>

            <form action="/celebridades/registrar" method="POST">

                <div class="form-group">
                    <label for="name">Nombre de la celebridad</label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>

                <div class="form-group">
                    <label for="ocupation">Ocupación</label>
                    <input type="text" class="form-control" name="ocupation" id="ocupation">
                </div>

                <div class="form-group">
                    <label for="catchPhrase">Frase celebre</label>
                    <input type="text" class="form-control" name="catchPhrase" id="catchPhrase">
                </div>

                <div class="form-group">
                    <label for="image">URL imagen</label>
                    <input type="text" class="form-control" name="image" id="image">
                </div>

                <button type="submit" class="btn btn-dark btn-block btn-lg">Registrar celebridad</button>

            </form>
            {{#if errorMessage}}
            <div
                style="margin-top: 20px; padding: 5px; color: white; background: rgba(0, 45, 245, 0.747); text-align: center; font-size: .95em">
                {{errorMessage}}</div>
            {{/if}}
        </div>

    </div>

</div>