<h1>NEW CELEBRITY</h1>


<form action="/celebrities/create" method="POST">

    <div class="row">
        <div class="col">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="XXXXX" name="name">
        </div>
        <div class="col">
            <label for="occupation" class="form-label">Occupation</label>
            <input type="text" class="form-control" id="occupation" placeholder="XXXXXX" name="occupation">
        </div>
        <div>
            <label for="catchPhrase" class="form-label">Catch phrase</label>
            <input type="text" class="form-control" id="catchPhrase"  placeholder="XXXXXX" name="catchPhrase">
        </div>
        <button type="submit" class="btn btn-primary">CREATE</button>
    </div>

</form>