<h2>Heading</h2>

<form action="/celebrities/create" method="POST">
    <label for=“label-name”>Name</label>
    <input type="text" name="name" id="">
    <label for=“label-occupation”>occupation</label>
     <input type="text" name="occupation" id="">
     <label for=“label-catchPhrase”>catchPhrase</label>
      <input type="text" name="catchPhrase" id="">
      <button>submit</button>
</form>

<a href="http://localhost:3000/">go back</a>