<h2 class="mb-5">New Celebrity</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="d-flex flex-column" action="/celebrities/create" method="POST">
                <label for="name-input">Name</label>
                <input id="name-input" type="text" name="name" />

                <label class="mt-3" for="occupation-input">Occupation</label>
                <input id="occupation-input" type="text" name="occupation" />

                <label class="mt-3" for="catchPhrase-input">Catch Phrase</label>
                <input id="catchPhrase-input" type="text" name="catchPhrase" />

                <button class="btn btn-dark mt-5" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>