<h1>New Celebrity</h1>

<form action="/celebrities/create" method="post">
  <input type="text" name="name"        placeholder="Enter the name for the celebrity"/>
  <input type="text" name="occupation"  placeholder="Enter the occupation for the celebrity"/>
  <input type="text" name="catchPhrase" placeholder="Enter a catchPhrase for the celebrity"/>
  <button type="submit">Save!</button>
</form>