<h1>New Celebrity</h1>

<form action="/celebrities/create" method="POST">

<label for=""></label>
<input type="text" name="name" placeholder="Name">

<label for=""></label>
<input type="text" name="occupation" placeholder="Occupation">

<label for=""></label>
<input type="text" name="catchPhrase" placeholder="Catch Phrase">

<button type="submit">Submit</button>

</form>