<h1>Create a celebrity</h1>
<div class="form-container">
    <div class="info-container">
        <form action="/celebrities/create" method="post">
            <div class="text-container">
                <div class="text1-container">
                    <label>
                        Name:
                        <input type="text" name="name" />
                    </label>

                    <label>
                        Occupation:
                        <input type="text" name="occupation" />
                    </label>
                </div>
                <div class="text2-container">
                    <label>
                        Catch Phrase:
                        <textarea name="catchPhrase" cols="30" rows="10">
                        </textarea>
                    </label>
                </div>
                <div class="btn-container">
                    <button type="submit" class="button"> Create </button>
                </div>

            </div>

        </form>
        <div class="image-container"></div>

    </div>

</div>