    <div class="row">
        <div class="col col-6 offset-3">
            <h1>New Celebrity</h1>
            {{#if errorMessage}}
            <div
                style="margin-top: 20px; padding: 5px; color: white; background: red; text-align: center; font-size: .95em">
                {{errorMessage}}</div>
            {{/if}}

            <form action="/celebrity/create" method="POST">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name">
            </div>
            <div class="mb-3">
                <label class="form-label" for="ocupation">Ocupation</label>
                <input class="form-control" type="text" id="ocupation" name="ocupation">
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image</label>
                <input class="form-control" type="text" id="image" name="image">
            </div>
            <div class="mb-3">
                <label class="form-label" for="catchPhrase">Catchphrase</label>
                <textarea class="form-control" type="text" id="catchPhrase" name="catchPhrase"></textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Celebrity</button>
            </div>
            
        
        </form>
        <div class="mb-3">
            <a class="btn btn-info" href="/celebrities">All Celebrities</a>
        </div>


    </div>
</div>