<div class="container">
    <h2>Add a Celebrity</h2>
    
    <form class="form-container" method="post" action="/celebrities/create">
    
        <label for="name">
            Name: <input name="name" id="name" type="text">
        </label>
    
        <label for="occupation">
            Occupation: <input name="occupation" id="occupation" type="text">
        </label>
    
        <label for="catchPhrase">
            Catch Phrase: <input name="catchPhrase" id="catchPhrase" type="text">
        </label>
    
        <button type="submit">Add</button>
    </form> 
</div>