<h1>Add new Celebrities</h1>

<form method="POST" action="/celebrities/create">
    <label for="name">Celebrity Name :</label>
    <input type="text" name="name" id="name">

    <label for="occupation">Occupation :</label>
    <input type="text" name="occupation" id="occupation">

    <label for="catchPhrase">Catch Phrase :</label>
    <input type="text" name="catchPhrase" id="catchPhrase">

    <button type="submit">Add this celebrity</button>

</form>