<h1>CREATE A NEW CELEBRITY:</h1>
<hr/>

<form action="/celebrities/create" method="POST">
  <label> Name:
    <input type="text" name="name" />
  </label>
  <hr/>
  <label> Occupation:
    <input type="text" name="occupation" />
  </label>
  <hr/>
  <label> CatchPhrase:
    <textarea name="catchPhrase" cols="30" rows="4"> </textarea>
  </label>
  <hr/>
  <button type="submit">Create new Celebrity</button>
</form>