<div class="container mt-5 pt-5">
  <h2>Create a new Celebrity</h2>
  <hr />
</div>
<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="/celebrities/create" method="POST">
        <div class="mb-3 mt-5">
          <label for="celebrityName" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="celebrityName"
            name="name"
          />
        </div>

        <div class="mb-3">
          <label for="celebrityOccup" class="form-label">Occupation</label>
          <input
            type="text"
            class="form-control"
            id="celebrityOccup"
            name="occupation"
          />
        </div>

        <div class="mb-3">
          <label for="celebrityCatch" class="form-label">Catch Phrase</label>
          <input
            type="text"
            class="form-control"
            id="celebrityCatch"
            name="catchPhrase"
          />
        </div>
        <button type="submit" class="btn btn-dark">Create Celebrity</button>
      </form>
    </div>
  </div>

</div>