<h2>CREAR CELEBRIDAD</h2>
<form action="/celebrities/create" method = "post">
<input type="text" name = "name" placeholder="Ingresa el nombre">
<input type="text"name = "occupation" placeholder="Ocupacion">
<input type="text"name = "catchPhrase" placeholder=" Ingresa una frase">
<button type=" submit">Sumbit</button>
</form>