<h2>Nuevo Artista</h2>

<form action="/celebrities/create" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="occupation" class="form-label">Ocupacion</label>
        <input type="text" class="form-control" id="occupation" name="occupation">
    </div>
    <div class="mb-3">
        <label for="catchPhrase" class="form-label">Frase</label>
        <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-dark">Crear Artista</button>
        <a class="btn btn-outline-danger" href="/" role="button">Volver a inicio</a>
    </div>

</form>