<h2>Crear nuevo famoso</h2>
<form action='/celebrities/create' method='post'>
  <label for='name'>Nombre</label>
  <input type='text' name='name' />
  <label for='occupation'>Ocupación</label>
  <input type='text' name='occupation' />
  <label for='catchPhrase'>Frase</label>
  <input type='text' name='catchPhrase' />
  <button>Nuevo famoso</button>
</form>