<h2>New Celebrities</h2>

<form action="/celebrities/create" method="post">
 <label> Name:
    <input type="text" name="name" />
  </label>

  <label> Occupation:
    <input type="text" name="propellers" />
  </label>

 <label> Catch Phrase:
    <input type="text" name="maxSpeed" />
  </label>
  
  <button type="submit"> Create </button>
</form>