<h2>create a new celebrity</h2>
<form action="/celebrities/create" method="post">
    <label for="name">Name<input type="text" name="name"></label>
    <label for="occupation">occupation<input type="text" name="occupation"></label>
    <label for="catchPhrase">catch Phrase<textarea name="catchPhrase"></textarea></label>
    <button type="submit">Submit</button>
</form>