<div class="newCelHeading">
    <h2>If you are here is because you want to create a Celebrity</h2>
    <h3>But can celebrities really be "created"?</h3>
    <h4>Ou shit think about it</h4>
</div>

<form action="/celebrities/create" method="POST">

    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <label for="ocuppation">Ocuppation</label>
    <input type="string" id="ocuppation" name="ocuppation">

    <label for="catchPhrase">Catch Phrase</label>
    <input type="string" id="catchPhrase" name="catchPhrase">

    <button type="submit" class="btn btn-dark">"Create" Celebrity</button>


</form>