<div class="celebbg">
    <h2 class="white">Create a new celebrity</h2>
    <article class="row">
        <form action="/celebrities/create" method="POST" class="white col-md-6 ">
            <div class="mb-3 ">
                <label for="name" class="form-label">name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>

            <div class="mb-3">
                <label for="ocupation" class="form-label">ocupation</label>
                <input type="text" class="form-control" id="ocupation" name="ocupation">
            </div>

            <div class="mb-3">
                <label for="catchPhrase" class="form-label">catchPhrase</label>
                <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
            </div>

            <button type="submit" class="btn btn-dark">Create celebrity</button>
            <a href="/celebrities" class="btn btn-dark">Back</a>

        </form>

    </article>

</div>