<h2>Create New celebrity</h2>

<form action="/celebrities/create" method="POST">
  <label>Name:
    <input type="text" name="name" />
  </label>
  <label>Occupation:
    <input type="text" name="occupation" />
  </label>
  <label>Catch Phrase:
    <input type="text" name="catchPhrase" />
  </label>
  <button type="submit">Create new celebrity</button>

</form>
<hr />
<button><a href="/celebrities">Back to celebrities list</a></button>