<h2>Create a new celebrity</h2>

<div>
    <form method="POST">
        <div class="">
        <label for="name" class="form-label">Celebrity Name</label>
        <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="">
        <label for="occupation" class="form-label">Occupation</label>
        <input type="text" class="form-control" id="occupation" name="occupation">
        </div>
        <div class="">
        <label for="catchPhrase" class="form-label">Catch Phrase</label>
        <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add Celebrity</button>
    </form>
</div>
