<div class="container">
    <h2>Agregar nueva celebridad</h2>
    <form action="/celebrities/create" method="POST">
        
        <div class="mb-3">
            <label for="name" class="form-label">Celebrity name
            </label>
            <input type="text" class="form-control" id="name" placeholder="Celebrity name" name="name">
        </div>

        <div class="mb-3">
            <label for="occupation" class="form-label">Celebrity occupation
            </label>
            <input type="text" class="form-control" id="occupation" placeholder="Celebrity occupation" name="occupation">
        </div>
    
    <div class="mb-3">
            <label for="catchPhrase" class="form-label">Celebrity catchPhrase
            </label>
            <input type="text" class="form-control" id="catchPhrase" placeholder="Celebrity catchPhrase" name="catchPhrase">
        </div>
    
    
    
    </form>

</div>