<h1 class="mt-3">New celebrity</h1>

<div class="card p-3" style="width: 25rem;">
    <form action="/celebrities/create" method="post">
        <label for="">Name: </label>
        <input type="text" name="name">

        <br><label for="">Occupation: </label>
        <input type="text" name="occupation">

        <br><label for="">Catch Phrase:</label>
        <input type="text" name="catchPhrase">

        <button class="btn btn-primary btn-lg m-2" type="submit">Add celebrity</button>
    </form>
</div>