<h2>Create a new Celebrity</h2>   

<form action="/celebrities/create" method="post">

    <label>Name</label>
    <input name="name" placeholder="Name of your celebrity">

    <label>Occupation</label>
    <input  name="occupation" placeholder="Actor, comedian?">

    <label>Catch phrase</label>
    <input  name="catchPhrase" placeholder="A famous phrase of your celebrity!">


    <button type="submit">Create</button>
</form>