<h1>Create a new Celeb!</h1>
<p>
<form method="POST" action="/celebrities/create">
    <div>
        <input class="form-control" type="text" size="50" placeholder="Name" aria-label="default input example" name="name">
        <br>
        <input class="form-control" type="text" size="50" placeholder="Occupation" aria-label="default input example" name="occupation">
        <br>
        <input class="form-control" type="text"  size="50" placeholder="Catch Phrase"  aria-label="default input example" name="catchPhrase">
        <br>
        <button class="btn btn-primary" type="submit">SUBMIT</button>
    </div>
</form>
</p>