<h2>Add a new celebrity</h2>

<form method="POST" action="/celebrities/new" class="form">

<label class="label" for="name">Name :</label>
<input class="input" type="text" name="name" id="name" placeholder="Enter name here">

<label class="label" for="occupation">Occupation :</label>
<input class="input" type="text" name="occupation" id="occupation" placeholder="Enter occupation here">

<label class="label" for="catchPhrase">Catch phrase :</label>
<input class="input" type="text" name="catchPhrase" id="catchPhrase" placeholder="Enter catch phrase here">

<button>Add !</button>
</form>