<h2>Nuevo Famoso</h2>
<form action="/celebrities/create" method="POST">

    <label>
        Nombre
        <input type="text" name="name">
    </label>

    <label>
        Ocupación
        <input type="text" name="occupation">
    </label>

    <label>
        Frase Gancho
        <input type="text" name="catchPhrase">
    </label>
    
    <input type="submit" value="Crear famosete">

</form>