<h2>Creation of a new celebrity</h2>
<div class="create-celeb-content">
  <form action="/celebrities/create" method="POST">
    <div>
      <label>
        Name:
        <input type="text" name="name" />
      </label>
    </div>

    <div>
      <label>
        Occupation:
        <input type="text" name="occupation" />
      </label>
    </div>

    <div>
      <label>
        Catchphrase
        <textarea name="catchprase"></textarea>
      </label>
    </div>

    <button>Create new celebrity</button>
  </form>
</div>