<h2>CREA TUS ACTORES FAVORITOS</h2>

<form action="/actores/crear" method="POST">

  <label>
    Nombre del actor
    <input type="text" name="name" />
  </label>
  <br />
  <label>
    Profesion
    <input type="text" name="occupation" />
  </label>
  <br />
  <label>
    Eslogan
    <input type="text" name="catchPhrase" />
  </label>
  <br /><br />
  <button>Guardar actor</button>

</form>
<br /><br />
<a href="/">Volver a la pagina principal</a>
<br /><br />
<a href="/actores">Volver al indice de actores</a>