<h2> Add new Celebrity</h2>


<div class="celebrities">
<form action="/celebrity/new" method="post">

<label for="name">Name</label>
<input class="text" type="text" name="name" id="name" />
<br><br>

<label for="occupation">Occupation</label>
<input class="text" type="text" name="occupation" id="occupation" />
<br><br>
<label for="catchPhrase">Catch Phrase</label>
<input class="text" type="text" name="catchPhrase" id="catchPhrase" />
<br><br>

<button class="text" type="create">Create</button>
</div>

</form>