<form class="display-block" id="create-celebrity" action="/celebrities/create" method="post">

  <label> Name:
    <br>
    <input type="text" name="name" />
  </label>
  <br>
  <label> Occupation:
    <br>
    <input type="text" name="occupation" />
  </label>
  <br>
  <label> Catchphrase:
    <br>
    <input type="text" name="catchPhrase" />
  </label>
  <br>
  <button class="button">Submit</button>

</form>