<h1>Submit a celebrity</h1>

<div class="new-form">
<form action="/celebrities/create" method="POST">

  <div class="form-group">
    <label class="form-label" for="name-input">Name:</label>
    <input type="text" name="name" id="name-input" class="form-input">
  </div>

  <div class="form-group">
    <label class="form-label" for="occupation-input">Occupation:</label>
    <input type="text" name="occupation" id="occupation-input" class="form-input">
  </div>

  <div class="form-group">
    <label class="form-label" for="catch-phrase-input">Catch Phrase:</label>
    <input type="text" name="catchPhrase" id="catch-phrase-input" class="form-input">
  </div>

  <button class="form-submit" type="submit">Create a celebrity</button>

</form>
</div>