<h2>Add a celebrity</h2>
<form class="formS" action="/celebrities/create" method="POST">
    <label class="lastTouch" for="">Name</label>
    <input class="lastTouch" type="text" name="name">
    <label class="lastTouch" for="">Occupation</label>
    <input type="text" name="occupation">
    <label class="lastTouch" for="">CatchPhrase</label>
    <input type="text" name="catchPhrase">
    <br>
    <button class="botoncilloPe">Add</button>
</form>