<h2>Add a new Celebrity</h2>
<form action="/celebrities/create" method="POST">
    <label for="name">Name</label>
    <input class="form-control mb-3" type="text" name="name" />
    <label for="occupation">Occupation</label>
    <input class="form-control mb-3" type="text" name="occupation" />
    <label for="catchPhrase">Catch Phrase</label>
    <input class="form-control mb-3" type="text" name="catchPhrase" />
    <button class="btn btn-primary" type="submit">Create Celebrity</button>
</form>
