<h2>ADD A CELEBRITY</h2>

<form action="/celebrities/create" method="POST">

    <input name="name" type="text" placeholder="name">
    <input name="ocuppation" type="text" placeholder="ocuppation">
    <input name="catchPhrase" type="text" placeholder="Catch Phrase">

    <input type="submit">
</form>