<h1>Create new celebrity</h1>
<form action="/create-celebrity" method="POST">
    
    <label>Name</label>
    <input type="text" name="name" />

    <label>Occupation</label>
    <input type="text" name="occupation" />

    <label>Catchprhase</label>
    <input type="text" name="catchphrase" />

<button type="submit">Create</button>
</form>