<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            {{> messages}}
        <h2 class=" text-center">Create New Celebrity</h2>
        <form action="/celebrities/create" method="POST">
        <div class="createCelebrity form-group">
            <label for="name">Name</label>
            <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder="Name"
            />
            <label for="occupation">Occupation</label>
            <input
                type="text"
                id="occupation"
                name="occupation"
                class="form-control"
                placeholder="Occupation"
            />
            <label for="catchPhrase">Catch Phrase</label>
            <input
                type="text"
                id="catchPhrase"
                name="catchPhrase"
                class="form-control"
                placeholder="Catch Phrase"
            />
        </div>
                <button  type="submit" class="btn btn-primary btn-block">Submit</button>
                <a class="btn btn-primary" href="/">Home</a>
        </form>
        </div>
    </div>
  </div>
</div>