<h2>New Celebrities</h2>
<div class="div-news">
  <form action="/celebrities/create" method="post">

    <label for="name">Name</label>
    <input type="string" name="name" id="name" />

    <label for="occupation">Occupation</label>
    <input type="string" name="occupation" id="occupation" />

    <label for="catchPhrase">Catch Phrase</label>
    <input name="string" id="catchPhrase" />

    <button type="submit">Submit</button>

  </form>
  </div>
</div>