<h2>New Celebrity</h2>

<form action="/celebrities/create" method="POST">

    <label>Name:
        <input type="text" name="string" />
    </label>

    <label>Occupation:
        <input type="text" name="string" />
    </label>

    <label>Catch Phrase:
        <input type="text" name="string" />
    </label>


    <button type="submit">Add</button>

</form>