<a href="/">Go back</a>

<h2>Create new celebrity</h2>

<form action="/celebrities/new-celebrity" method="post">
  <fieldset>
    <label>
      Name:
    </label>
    <input type="text" name="name" id="name" />
  </fieldset>

  <fieldset>
    <label>
      Occupation:
    </label>
    <input type="text" name="occupation" id="occupation" />
  </fieldset>

  <fieldset>
    <label>
      Catch phrase:
    </label>
    <input type="text" name="catchPhrase" id="catchPhrase" />
  </fieldset>

  <button type="submit">Create celebrity</button>
</form>