<h2>Create Celebrity</h2>

<form method="POST" action="/celebrities/create">
    <label>Name</label>
    <input name="name" type="text" required>

    <label>Occupation</label>
    <input name="occupation" type="string">

    <label>Catch Phrase</label>
    <input name="catchPhrase" type="string">

    <button type="submit">Submit</button>

</form>