<h2>Adding New Celebritie</h2>
<form action="/celebrities/create" method="POST">
<label>Name
    <input type="text" name="name" placeholder="Type the name"/>
</label>
<br/>
<br/>
<label>Occupation
    <input type="text" name="occupation" placeholder="Type the occupation"/>
</label>
<br/>
<br/>
<label>Catch Phrase
    <input type="text" name="catchPhrase" placeholder="Type the catch phrase"/>
</label>
<br/>
<br/>
<button type="submit">Submit</button>
</form>