<div id="form"></div>
<form action='/celebrities/create' method="POST">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>

    <label for="occupation">Occupation:</label>
    <input type="text" id="occupation" name="occupation"><br><br>

    <label for="catchPhrase">Catch phrase:</label>
    <input type="text" id="catchPhrase" name="catchPhrase"><br><br>

    <input type="submit" value="Create">

</form>
</div>