<h1>New Celebrity</h1>
<form action="/celebrities/new-celebrity" method="post">
  <label>Name:
    <input type="text" name="name" />
    </label>
    <label>Occupation:<input type="text" name="occupation" />
    </label>
   <label> CatchPhrase: <input type="text" name="catchphrase" />
   </label>  
  <button type="submit">Create new celebrity</button>
</form>
