<h2>Create a new celebrity</h2>

<form action="/celebrities/create" method = "post">
    <label>
        Name:<br>
        <input type="text" name="name" placeholder="name">
    </label>
    <br>

    <label>
        Occupation:<br>
        <input type="text" name="occupation" placeholder="occupation">
    </label>
    <br>

    <label>
        Any catch phrase?<br>
        <textarea row="4" cols="55" name="catchPhrase">
        </textarea>  
    </label>
    <br>

    <button class="btn btn-success" type="submit"> Create </button>
</form>