<div>
    <h2>New celebrity</h2>

    <form action="/celebrities/create" method="post">

        <label for="name">Nombre: </label>
        <input type="text" name="name">
        <br>
        <label for="occupation">Ocupación: </label>
        <input type="text" name="occupation">
        <br>
        <label for="catchPhrase">Eslogan: </label>
        <input type="text" name="catchPhrase">
        <br>

        <button>Añadir</button>

    </form>
</div>