<h2>New Celebrity</h2>

<form action="/celebrities/create" method="post">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="occupation">Occupation:</label>
    <input type="text" id="occupation" name="occupation" required>

    <label for="catchPhrase">CatchPhrase:</label>
    <input type="text" id="catchPhrase" name="catchPhrase" required>

    <button class="btn btn-success" type="submit">Create Celebrity</button>

</form>