<div>

<h2>Añadir celebrity</h2>

<form action="/celebrities/create" method="POST">
<label for="name">Nombre: </label>
<input type="text" name="name">
<br>
<label for="occupation">Trabajo: </label>
<input type="text" name="occupation">
<br>
<label for="catchPhrase">Frase: </label>
<input type="text" name="catchPhrase">
<br>
<button>Añadir</button>


</form>

</div>