<h2>Form to Create Celebrities</h2>
  </br>  </br>
<form action="/celebrities/create" method="POST">
 <label>
    Name:</label>
 <input type="text" name="name">
  </br>
    </br>
    <label>Occupation:</label>
 <input type="text" name="occupation">
  </br>
    </br>
 <label> Catch Phrase: </label>
  <input type="text" name="catchPhrase">
    </br>
      </br>
<input type="submit" value="Create celebrities">
</form>