
<h2>Create Celebrity</h2>

<form action="/celebrities/create" method="post" enctype="application/x-www-form-urlencoded">
  <div class="input-group mb-1">
    <label class="input-group-text" for="name">Name</label>
    <input type="text" name="name" class="form-control" placeholder="celebrity name...">
  </div>

  <div class="input-group mb-1">
    <label class="input-group-text" for="ocupation">Ocupation</label>
    <input type="text" name="ocupation" class="form-control" placeholder="celebrity ocupation...">
  </div>

  <div class="input-group mb-1">
    <label class="input-group-text" for="catchPhrase">catchphrase</label>
    <input type="text" name="catchPhrase" class="form-control" placeholder="celebrity catchphrase...">
  </div>

  <div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
