<h2>Create your own celebrity!</h2> <br>
<a href="/celebrities">Go back</a> <br><br>
<form action="/celebrities/create" method="post">
    Name:
    <input type="text" name='name'> <br> <hr>
    Occupation:
    <input type="text" name='occupation'><br> <hr>
    CatchPhrase:
    <input type="text" name='catchPhrase'><br> <br> <br>
    <button>Create new a celebrity</button>
</form>