<h2>Create a new celebrities</h2>
<div class="container">

    <form action="/celebrities/create" method="post">

        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input class="form-control" type="text" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="occupation" class="form-label">Occupation:</label>
            <input class="form-control" type="text" id="occupation" name="occupation">
        </div>
        <div class="mb-3">
            <label for="catchPhrase" class="form-label">CatchPhrase:</label>
            <input class="form-control" type="text" id="catchPhrase" name="catchPhrase">
        </div>
        <button class="btn btn-success" type="submit">Create</button>

    </form>
</div>