<h2>New-Celebrity</h2>
<div class="container">
    <div class="row">
        <div class="col col-6 offset-3">

            <form action="/celebrities/create" method="POST">

                <div class="form-group">
                    <label for="name">Usuario</label>
                    <input type="text" class="form-control" name="name" id="username">
                </div>

                <div class="form-group">
                    <label for="occupation">Ocupación</label>
                    <input type="text" class="form-control" name="occupation" id="occupation">
                </div>

                <div class="form-group">
                    <label for="catchPhrase">CatchPhrase</label>
                    <input type="text" class="form-control" name="catchPhrase" id="occupation">
                </div>

                <button type="submit" class="btn btn-dark btn-block btn-lg">Registrar New Celebrity</button>

                {{!--
            </form>
            {{#if errorMessage}}
            <div
                style="margin-top: 20px; padding: 5px; color: white; background: red; text-align: center; font-size: .95em">
                {{errorMessage}}
            </div>
            {{/if}} --}}

        </div>
    </div>
</div>