<h2>Add a new celebrity</h2>

<form action="/celebrities/create" method="POST">
  
  <div>
  <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
  <div class="mt-1">
    <input type="text" name="name" id="name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Emiliano Cruz">
  </div>
</div>

<div>
  <label for="occupation" class="block text-sm font-medium text-gray-700">Occupation</label>
  <div class="mt-1">
    <input type="text" name="occupation" id="occupation" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Musician">
  </div>
</div>

<div>
  <label for="catchPhrase" class="block text-sm font-medium text-gray-700">Catchphrase</label>
  <div class="mt-1">
    <input type="text" name="catchPhrase" id="catchPhrase" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="iiiiiii">
  </div>
</div>
 
  <button type="submit"> Create </button>
</form>

