<h2>New Celebrity</h2>

<form method="POST" action="/celebrities/create">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input class="form-control" type="text" name="name">
        <br>
        <label class=" form-label">Occupation</label>
        <input class="form-control" type="text" name="occupation">
        <br>
        <label class="form-label">Catch Phrase</label>
        <input class="form-control" type="text" name="catchPhrase">
        <br>
        <button class="btn btn-primary" type="submit">SUBMIT</button>
    </div>
</form>