
<h2>Add a New Celebrity</h2>
<form action="/celebrities/create" method="POST">
<label for="">Name:
    <input type="text" name="name">
</label>
<br>
<label for="">Occupation:
    <input type="text" name="occupation">
</label>
<br>
<label for="">Catch Phrase:
    <input type="text" name="catchPhrase">
</label>
<br>
<button type="submit"> Create a New Celebrity</button>
<br>
</form>