<h2>Create new Celebrity</h2>

<form action="/celebrities/create" method="POST">
    <label>Name:
        <input name="name" type="string">
    </label>
    <label>Occupation:
        <input name="occupation" type="string">
    </label>
    <label>Catch Phrase:
        <input name="catchPhrase" type="string">
    </label>

    <button type="submit">Create</button>
</form>