<h2>Create your Celebrity</h2>

<form action="/celebrities/create" method="POST">
  <label>Name</label>
  <input name="name" class="form-control mb-3">
  <label>Occupation</label>
  <input name="occupation" class="form-control mb-3">
  <label>catchPhrase</label>
  <input name="catchPhrase" class="form-control mb-3">
  <button class="btn btn-primary mt-3" type="submit">SUBMIT</button>
</form>