<h2>Add a New Celebrity to the Database!</h2>
<form action="/celebrities/create" method="post">

Name:<input type="text" name="name">
Occupation:<input type="text" name="occupation">
Catch Phrase:<input type="text" name="catchPhrase">
<button type="submit">Add New Celebrity</button>

</form>