<h2>Create a new Celebrity </h2>
<form action="/celebrities/create" method="POST">


    <div class="mb-3">
        <label for="desc" class="form-label">name</label>
        <input type="text" class="form-control" id="desc" name="name">
    </div>

    <div class="mb-3">
        <label for="rat" class="form-label">occupation</label>
        <input type="Number" class="form-control" id="rat" name="occupation">
    </div>


    <div class="mb-3">
        <label for="rat" class="form-label">catchPhrase</label>
        <input type="Number" class="form-control" id="rat" name="catchPhrase">
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-dark">Create your celebrity!</button>
    </div>
</form>