<h2>añade un famoso nuevo</h2>
<a href="/">inicio</a>
<form action="/celebrities/create" method="POST">
<label>
    nombre
    <input type="text" name="name">

</label>
<label>
    ocupación
    <input type="text" name="occupation">

</label>
<label>
    frase
    <input type="text" name="catchphrase">
</label>
    <input type="submit" value="añadir celebridad">

    
</form>