<h2> New Celebrity </h2>

<form action="/celebrities/create" method="POST">
    <div class="mb-4">
        <label for="tit" class="form-label"> Name </label>
        <input type="text" class="form-control" id="tit" name="name">
    </div>

    <div class="mb-4">
        <label for="tit" class="form-label"> Occupation </label>
        <input type="text" class="form-control" id="tit" name="occupation">
    </div>

    <div class="mb-4">
        <label for="tit" class="form-label"> Catch Phrase </label>
        <input type="text" class="form-control" id="tit" name="catchPhrase">
    </div>
    <div class="buttonCreate">
        <button type="submit" class="btn btn-dark"> Create a celebrity </button>
    </div>

</form>