<div class="row justify-content-center text-center mt-3">
    <h2>New Celebrity</h2>
    <hr>
    <div class="col-6">
        <form action="/celebrities/create" method="POST">
            <div class="row justify-content-center">
                <div class="col-10 mb-4 d-grid">

                    <input class="btn btn-light" type="text" placeholder="name" name="name">
                </div>

                <div class="col-10 mb-4 d-grid">
                    <input class="btn btn-light" type="text" placeholder="occupation" name="occupation">
                </div>

                <div class="col-10 mb-4 d-grid">
                    <input class="btn btn-light" type="text" placeholder="Phrase" name="catchPhrase">
                </div>
                <div class="col-5 d-grid">
                    <button class="btn btn-dark" type="submit">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>