<h2>CELEBRITY</h2>

<form action='/celebrities/create' method='POST'>
  <label for='name'>
    Celebrity:
    <input type='text' name='name' />
  </label>
  <label for='occupation'>
    Occupation:
    <input type='text' name='occupation' />
  </label>
  <label for='catchPhrase'>
    Catchphrase:
    <input type='text' name='catchPhrase' />
  </label>
  <button type='submit'>Submit</button>
</form>