<h2>New celebrity</h2>


<form action="/celebrities/create" method="POST">
    <label>Name</label>
    <input type="text" name="name" placeholder="Name"/>


    <label>Occupation</label>
    <input type="text" name="occupation" placeholder="Occupation"/>


        <label>Catch Phrase</label>
        <input type="text" name="catchPhrase" placeholder="Catch Phrase"/>


        <button type="submit">Create</button>

</form>

<a href="/">back</a>