<h1>Create a New Celebrity</h1>
<form action="/celebrities/create" method="POST">
<label for="name">Name Your Celebrity</label>
<input type="text" name="name">
<p>
<label for="occupation">Occupation </label>
<input type="text" name="occupation">
<p>
<label for="catchPhrase">What is your celebrity´s catch phrase</label>
<input type="text" name="catchPhrase">
<p>
<button type="submit">Create</button>
</form>