<div class="container">
    <h2><strong>Create a new Celebrity</strong></h2>
    <div class="form">
        <form action="/celebrities/create" method="POST">
            <label> Name: </label>
            <input type="text" class="form-control" name="name">
            <br>
            <label> Occupation:</label>
            <input type="text" class="form-control" name="occupation">
            <br>
            <label> Catch Phrase:</label>
            <input type="text" class="form-control" name="catchPhrase">
            <br>
            <button type="submit" class="btn btn-dark">Create a new Celebrity</button>
        </form>
    </div>
</div>