<h2>new Celebrity</h2>

<form action="/celebrity/create" method="post"> 
    <label>Enter celebrity name : 
        <input type="text" name="name"/> 
    </label>
        <label>Enter celebrity occupation : 
        <input type="text" name="occupation"/> 
    </label>
        <label>Enter celebrity catchphrase : 
        <input type="text" name="catchphrase"/> 
    </label>
    <button type="submit">Create Celebrity</button>

</form>
