<div class="container mt-5 d-flex flex-column justify-content-center">

	<div class="row justify-content-center">
		<div class="col-md-6">

			<h1>Add a new celebrity</h1>

			<form action="/celebrities/create" method="POST">
				<div class="mb-3">
					<label for="name" class="form-label">Name</label>
					<input type="text" class="form-control" id="name" name="name" />
				</div>
				<div class="mb-3">
					<label for="occupation" class="form-label">Occupation</label>
					<input type="text" class="form-control" id="occupation" name="occupation" />
				</div>
				<div class="mb-3">
					<label for="catchPhrase" class="form-label">Catchphrase</label>
					<input type="text" class="form-control" id="catchPhrase" name="catchPhrase" />
				</div>
				<div class="d-grid">
					<button type="submit" class="btn btn-danger">Add</button>
				</div>
			</form>

			<hr />
		</div>
	</div>

	<a href="/" class="btn btn-dark m-auto mt-5">Home</a>
</div>