<h2>New celebrity</h2>
<form action="/celebridades/crear" method="POST">

    <label>
        Name
        <input type="text" name="name">
    </label>

    <br><br>

    <label>
        Ocupattion
        <input type="text" name="ocupattion">
    </label>

    <br><br>

    <label>
        Phrase
        <input type="text" name="catchPhrase">
    </label>

    <input type="submit" value="Create celebrity">
</form>