<h1>new celebrity</h1>

<form method="POST" action="/celebrities/create">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="occupation">Occupation:</label>
    <input type="text" id="occupation" name="occupation" required>
  </div>
  <div>
    <label for="catchPhrase">Catchphrase:</label>
    <input type="text" id="catchPhrase" name="catchPhrase" required>
  </div>
  <button type="submit">Add new</button>
</form>