<h2>hola hola</h2>
<form action="/celebrities/create" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="occupation">Occupation</label>
        <input type="text" id="occupation" name="occupation">
    </div>
    <div>
        <label for="catchPhrase">CatchPhrase</label>
        <input type="text" id="catchPhrase" name="catchPhrase">
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-dark">Create Clebrity</button>
    </div>
</form>