<h2>Add to Celebrity</h2>
<form action="/celebrities/create" method="post">
    <input type="text" name="name" id="name" placeholder="Name..">
    <input type="text" name="occupation" id="occupation" placeholder="You Occupation">
    <input type="text" name="catchPhrase" id="catchPhrase" placeholder="Slogan">
    <button>Create</button>
</form>