<h2>Create Celebrity</h2>

{{!-- ALSO A DIV Wrapped each input will help clean it up a bit --}}

<form action="/celebrities/create" method="POST">
  <label> Name:                                           {{!-- <-- See walkthrough of this lab - different way to specify labels  --}}
    <input type="text" name="name" /> 
  </label>

  <label> Occupation:
    <select id="occupation-selection" name="occupation">
      <option value="Actor">Actor</option>
      <option value="Singer">Singer</option>
      <option value="Comedian">Comedian</option>
      <option value="Unkown">Unkown</option>
    </select>
  </label>

  <label> Catch Phrase:
    <input type="text" name="catchPhrase" /> 
  </label>
  
    <button type="submit">Create</button>
</form>