<h2>New celebrity</h2>
<a href="/">Go Back!</a>
<br>
<br />
<form action="" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" />
  <br />
  <label>Occupation:</label>
  <input type="text" name="occupation" />
  <br />
  <label>Catch phrase: </label>
  <input type="text" name="catchPhrase" />
  <br />
  <button>Create!</button>
</form>