<h2></h2>
<form action="/celebrities/create" method="POST">
	<input type="text" name="name" id="name" placeholder="Name" />
	<input
		type="text"
		name="occupation"
		id="occupation"
		placeholder="Occupation"
	/>
	<input
		type="text"
		name="catchPhrase"
		id="catch-phrase"
		placeholder="Catch phrase"
	/>

	<button type="submit">Submit</button>

</form>