<a href="/"><button>Go back</button></a>
<h2>Create Celebrity</h2>
<form action="/celebrities/create" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="name" />
  <label for="occupation">Occupation:</label>
  <select id="cars" name="occupation">
    <option value="Singer">Singer</option>
    <option value="Actor">Actor</option>
    <option value="Comedian">Comedian</option>
    <option value="Unknown">Unkown</option>
  </select>
  <label>Catchphrase:</label>
  <input type="text" name="catchPhrase" placeholder="Catch phrase" />
  <button type="submit">Create celebrity</button>
</form>