
<h2>New Celebrity</h2>

<form action="/celebrities/new-celebrity" method="post">
        <label class="form-label">Name
             <input type="text" name="name"  placeholder="Name" class="form-control">
        </label>        
        <label class="form-label">Occupation
             <input type="text" name="occupation"  placeholder="Name" class="form-control">
        </label>   
        <label class="form-label">CatchPhrase
             <input type="text" name="catchPhrase"  placeholder="Name" class="form-control">
        </label>  
        <button>Submit</button>  
</form>
    
