<h1>Create a New Celebrity</h1>

<div class="new-celebrity-form">
  <form action="/celebrities/create" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" name="name" class="form-control">
    </div>
    <div class="mb-3">
      <label for="occupation" class="form-label">Occupation</label>
      <input type="text" id="occupation" name="occupation" class="form-control">
    </div>
    <div class="mb-3">
      <label for="catchPhrase" class="form-label">Catch Phrase:</label>
      <input type="text" id="catchPhrase" name="catchPhrase" class="form-control">
    </div>
    <button class="mt-5 btn btn-dark">CREATE CELEBRITY!</button>
  </form>
</div>