<div class="container">
    <h2>Create a new Clebrity</h2>
    <div class="col-6">
        <div class="row">
            <form action="/celebrities/create" method="POST">
                <div class="row m-5">
                    <label for="">Name</label>
                    <input type="string" name="name">
                </div>
                <div class="row m-5">
                    <label for="">Occupation</label>
                    <input type="text" name="occupation">
                </div>
                <div class="row m-5">
                    <label for="">Catch Phrase</label>
                    <input type="text" name="catchPhrase">
                </div>
                <button class="m-5" type="submit">Create Celebrity</button>
            </form>

        </div>
    </div>
</div>