<h2>{{celebrity.name}}</h2>
<section id="one-celebrity">
  <ul>
    {{#each celebrity}}
      <li>{{occupation}}</li>
      <li>{{catchPhrase}}</li>
      <li>{{_id}}</li>
    {{/each}}
  </ul>
</section>

<a href="/" class="home"> < Home</a>

