<div class="container mt-4">
    <div class="d-flex justify-content-center">
        <h2 class="text-center">Update Celebrity: <span class="text-danger">{{name}}</span></h2>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <form action="/celebrities/{{id}}/edit" method="post">

            <label for="name">Name:</label>
            <input type="text" name="name">

            <label class="ml-2" for="occupation">Occupation:</label>
            <input type="text" name="occupation">

            <label for="catchPhrase">Catch Phrase:</label>
            <input type="text" name="catchPhrase">

            <button class="btn btn-warning" type="submit">Update Celebrity</button>

        </form>
    </div>
</div>
<div class="d-flex justify-content-center mt-4">
    <a class="btn btn-secondary px-4 text-white nav-link" href="/celebrities">Back</a>
</div>