<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{occupation}}</h6>
        <p class="card-text"> <b>Catch phrase:</b> {{catchPhrase}}</p>
        <a href="/celebrities/{{_id}}">View details</a>
    </div>
</div>