<div class='form-group mb-3'>
  <label for='name'>Name</label>
  <input type='text' class='form-control' name='name' value='{{name}}' required />
  <small class='form-text text-muted'>
    Please enter a name
  </small>
</div>
<div class='form-group mb-3'>
  <label for='occupation'>Occupation</label>
  <input type='text' class='form-control' name='occupation' value='{{occupation}}' required />
  <small class='form-text text-muted'>
    Please enter current or former occupation
  </small>
</div>
<div class='form-group mb-3'>
  <label for='catchphrase'>Catchphrase</label>
  <input type='text' class='form-control' name='catchphrase' value='{{catchphrase}}' required />
  <small class='form-text text-muted'>
    Please enter iconic catchphrase
  </small>
</div>
<div class='form-group w-25'>
  <input type='submit' class='form-control btn btn-secondary' value='Save' />
</div>