<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Celebrities Lab by:
    <a class="text-dark" href="https://mdbootstrap.com/">Arturo Vivar</a>
  </div>
  <!-- Copyright -->
</footer>