    <p class="card-text">{{genre}}</p>
    <p class="card-text">
        <span class="text-muted">{{plot}}</span>                                
    </p>
    <ul>
        {{#each cast}}
        <li>
            {{name}}
        </li>
        {{/each}}
    </ul>