<nav>
    <div class="navbar">
        <a href="/"><img src="/images/popcorn.png" alt="popcorn icon" width="30px"></a>
        <a href="/" id="title"><h1 id="title-text">Celebrities & Movies</h1></a>
        <a href="/celebrities" class="nav-btn">See celebrities</a>
        <a href="/movies" class="nav-btn">See movies</a>
    </div>
</nav>