<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Celebrities Lab</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/celebrities">Celebrities <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movies">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movies/new-movie">New movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/celebrities/new-celebrity">New Celebrities</a>
      </li>
    </ul>
    <span class="navbar-text">
      Celebrities LAB
    </span>
  </div>
</nav>