<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/celebrities" class="nav-link px-2 text-white">Celebrities</a></li>
          <li><a href="/celebrities/new" class="nav-link px-2 text-white">Add new Celebrity</a></li>
          <li><a href="/movies" class="nav-link px-2 text-white">Movies</a></li>
          <li><a href="/movies/new" class="nav-link px-2 text-white">Add new movie</a></li>
        </ul>
      </div>
    </div>
</header>