<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
      <a class="nav-link" href="/celebrities">Celebrities</a>
      <a class="nav-link" href="/celebrities/create">Add new Celebrity</a>
    </div>
  </div>
</nav>