<h2>Create the F#ck new cele</h2>

<form action="/lista" method="POST">
    <label>
        Nombre
        <input type="text" name="name">
    </label>
    <br><br>
    <label>
        ocupation
        <input type="text" name="ocupation">
    </label>
    <br><br>
    <label>
        Catch Phrase
        <input type="text" name="catchPhrase">
    </label>
    <button type="submit"> enter</button>
</form>