<form action="/celebrity/create-celebrity" method="POST">

    <label>
        Nombre
        <input type="text" name="name">
    </label>

    <br><br>

    <label>
        Ocupación
        <input type="text" name="Ocupation">
    </label>

    <br><br>

    <label>
        Catch Phrase
        <input type="text" name="catchPhrase">
    </label>

    <br><br>

    <br><br>

    <input type="submit" value="listo">
</form>