<div class="container">

    <h1>Teams's List</h1>
    <hr>

    {{#each teams}}
    <p>- {{name}}
        <small>
            <a href="details/{{id}}">See details</a> |
            <a href="details/{{id}}/edit">Edit</a>
        </small>
    </p>
    {{/each}}

</div>