{{>navbar}}

<div class="container d-flex justify-content-evenly">
    <div class="row mt-5">
        <div class="col-5">
            <a class="btn btn-outline-success btn-lg w-100" href="celebrities/new-celebrity" type="button">+ Celebrity</a>
        </div>
        <div class="col-5">
            <a class="btn btn-outline-success btn-lg w-100"  href="movies/new-movie" type="button">+ Movie</a>
        </div>
        <div class="col-5 mt-5">
            <a class="btn btn-success btn-lg w-100" href="celebrities" type="button">See all celebrities</a>
        </div>
        <div class="col-5 mt-5">
            <a class="btn btn-success btn-lg w-100"  href="movies" type="button">See all movies</a>
        </div>
    </div>
</div>
