<h1>{{title}}</h1>
<a href="/celebrities-create"><p>Load an celebrity{{title}}</p></a>
<p><a href="/celebrities-list">Go to list of celebrities</a></p>

<p><a href="/movies-list">Go to list of movies</a></p>
<p><a href="/movies-create">Load a movie</a></p>
