
<div class="home">
<a class="main-btn" href="/celebrities/create">Create celebrity</a>
<a class="main-btn" href="/celebrities">View celebrities</a>
<a class="main-btn" href="/movies">View movies</a>
</div>