<div class="home">
    <a href="/celebrities" class="home-btn"><div>
        <h2>See all celebrities</h2>
    </div></a>

    <a href="/movies" class="home-btn"><div>
        <h2>See all movies</h2>
    </div></a>
</div>