
<div class="home">
<a class="btn btn-primary" href="/celebrities/create">Create celebrity</a>
<a class="btn btn-primary"href="/celebrities">View celebrities</a>
<a class="btn btn-primary" href="/movies">View movies</a>
</div>