<h1 class="title">Movies and celebrities</h1><hr>
<p>Choose a option:</p>

<a class="btn btn-outline-danger" href="/celebrities" role="button">View celebrities</a>
<a class="btn btn-outline-danger" href="/celebrities/create" role="button">New celebrity</a><br><br>
<a class="btn btn-outline-danger" href="/movies" role="button">View all movies</a>
<a class="btn btn-outline-danger" href="/movies/create" role="button">New movie</a>
