<main class="container my-5">
    <h1>Cine +</h1>
    <p>Bienvenido a la base de datos CineYMás</p>

    <a href="/celebrities" class="btn btn-dark mb-3">Listado de Celebridades</a>
    <a href="/movies" class="btn btn-dark mb-3">Listado de Películas</a>
</main>