<h1>{{title}}</h1>
<p id="welcome">Welcome to {{title}}</p>
<div class="box small">
  <a href="/celebrities" class="btn">Check all the Celebs!</a>
  <a href="/celebrities/create" class="btn">add a Celeb</a>
  <a href="/movies" class="btn">Check all the Movies!</a>
  <a href="/movies/create" class="btn">add a Movie</a>
</div>