<h1>Movies and celebrities</h1>
<a href="/celebrities/create">create new celebrities!</a>
</br>
<a href="/celebrities">check celebrities!</a>
<br>
<a href="/movies/create">create new movies!</a>
</br>
<a href="/movies">check movies!</a>