<h1>Welcome to our platform of Celebs and movies</h1>
<h2>What do you want</h2>

<a class="btn btn-danger" href="/celebrities/create" role="button">Create a new Celeb!</a>
<a class="btn btn-danger" href="/celebrities" role="button">View all Celebs</a>
<a class="btn btn-warning" href="/movies/create" role="button">Create a new Movie!</a>