<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
<a href="/celebrities/create">Add a Celebrity</a>
<a href="/celebrities">See Our Celebrities</a>
</div>

<div>
<a href="/movies/create">Add a Movie</a>
<a href="/movies">See Our Movies</a>
</div>