

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p><br>

<nav>
<a href="/celebrities/create">Create a Celebrity</a>
<a href="/celebrities/">All Celebrities here</a> 
<a href="/movies/create">Create a Movie</a> 
<a href="/movies/">All Movies here</a>
</nav>
