<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<nav>

<a href="/celebrities/create">CREATE A CELEBRITY</a>
<a href="/celebrities">SEE ALL CELEBRITIES</a>
<a href="/movies/create">CREATE A MOVIE</a>
<a href="/movies">SEE ALL MOVIES</a>

</nav>
