<h1>Welcome!</h1>
<p>Check our Celebrities and Movies!</p>

<a href="/movies">Movies</a>
<br />
<a href="/movies/create">Create a New Movie</a><br />
<a href="/celebrities">Celebrities</a><br />
<a href="/celebrities/create">Create a New Celebrity</a>