<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- link to go to the create celebrity page
 --}}<a href="celebrities/create">Create a celebrity!</a>

{{!-- link to the celebrity list page
 --}}<a href="celebrities">Celeb List</a>

<a href="/movies/movies"> Movie List</a>

<a href="/movies/new-movie">Create a new Movie!</a>





