<h1>{{title}}</h1>
<h2>
    <p>Welcome to {{title}}</p>
</h2>
<hr>
<a href="/celebrities" class="btn btn-dark mb-2">Our Celebrities</a>
<p>
    <a href="/celebrities/create" class="btn btn-dark mb-2">Create a Celebrity</a>
</p>
<p>
    <a href="/movies/create" class="btn btn-dark mb-2">Add a movie</a>

</p>
<p><a href="/movies" class="btn btn-dark mb-2">Movies collection</a></p>