<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href='/celebrities'>List of all the celebrities</a>
<br>
<a href='/celebrities/create'>Create a new celebrity</a>
<br>
<a href='/movies'>List of all the movies</a>
<br>
<a href='/movies/create'>Create a new movie</a>