<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<nav class="nav-bar">
  <a href="/celebrities">Celebrities List</a><br>
  <a href="/celebrities/create">Add a New Celebrity</a><br>
  <a href='/movies'>Movies List</a><br>
  <a href="/movies/create">Add a New Movie</a>
</nav>


