<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div>
    <a href="/celebrities">List of Celebrities</a>
</div>

<div>
    <a href="/celebrities/create">New Celebrity</a>
</div>

<div>
    <a href="/movies">List of Movies</a>
</div>

<div>
    <a href="/movies/create">Create Movies</a>
</div>