<h1>{{appTitle}} Index</h1>

<a href="/celebrities/create">Create celebrities</a>

<a href="/celebrities">Go to list of celebrities</a> <br><br>

<a href="/movies/create">Create movies</a>

<a href="/movies">Go to list of movies</a>


