<h1>Bienvenido a la web de películas y famosos</h1>
<button>
  <a href='/movies'>Ver listado de Películas</a>
</button>
<button>
  <a href='/celebrities'>Ver listado de Famosos</a>
</button><br /><br />