<h1 class="is-size-1 has-text-centered">Movies & Celebrities</h1>
<p class="is-size-3 has-text-centered">By RenaniaCode</p>

<div id="btnIndex" class="container">
<a href="/logIn"><button id="btn2" class="button is-focused is-dark is-fullwidth is-responsive">Log In</button></a>
<a href="/signUp"><button id="btn2" class="button is-focused is-dark is-fullwidth is-responsive">Sign Up</button></a>
</div>