<h1>IronMovies</h1>
<hr>

<nav class="navbar navbar-expand-lg bg-outline">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/celebrities/create">Create a New Celebrity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/celebrities/celebrities">Celebrities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/create">Create a New Movie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/">Movies</a>
                </li>

            </ul>
        </div>
    </div>
</nav>