<div class="">
<h1 >{{title}}</h1>
<p class="centered-text">Welcome to {{title}}</p>

 <a class="centered-text"  href="celebrities/create"><button class="button" type="submit">Create a Celebrity</button></a>

  <a class="centered-text"  href="/celebrities"><button  class="button" type="submit">View Celebrities</button></a>

    <a class="centered-text" href="/movies"><button  class="button" type="submit">View Movies</button></a>

 <a class="centered-text" href="movies/create"><button  class="button" type="submit">Create new Movie</button></a>

</div>
 