<h1>Celebrities</h1>
<p>Welcome</p>
<ul>
    <li><a href="/celebrities/create">Nueva Celebridad</a></li>
    <li><a href="/celebrities/list">Lista de celebridades</a></li>
    <li><a href="/movies/create">Nueva Pelicula</a></li>
    <li><a href="/movies/list">Lista de Peliculas</a></li>
</ul>