<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="index-container">
    <div class="celebrities">
        <a href="/celebrities">Celebrities</a>
        <a href="/celebrities/create">Create new celebrity</a>
    </div>
    <div class="movies">
        <a href="/movies">Movies</a>
        <a href="/movies/create">Create new movie</a>
    </div>
</div>