<h1 id="title-phrase">Welcome to the Max and Thor's Celebrity Database</h1>

<div id="menu-buttons"></div>
<a class="a-button" href="/celebrities">View all Celebrities</a>
<br />
<a class="a-button" href="/celebrities/create">Create a new Celebrity</a>
<br />
<a class="a-button" href="/movies">View all Movies</a>
<br />
<a class="a-button" href="/movies/create">Add a new Movie to the Collection</a>