

<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}</p>
<a href="/celebrities/create">nuevo famoso</a>
<a href="/celebrities/list">lista</a>
<a href="/movies/create">nueva peli</a>
<a href="/movies/list">lista de pelis</a>