<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<body>
    <nav>
        <a href="/celebrities/create">Create New Celebrity</a>
    </nav>
    <br>
    <nav>
        <a href="/celebrities">Celebrities List</a>
    </nav>
</body>