<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/movies"><button>View Movies</button></a>
<a href="/movies/create"><button>Create Movie</button></a>
<a href="/celebrities"><button>View Celebrities</button></a>
<a href="/celebrities/create"><button>Create Celebrity</button></a>