<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Add New Celebrity</a>

<a href="/celebrities">View Celebrities</a>

<a href="/movies">View Movies</a>

<a href="/movies/create">Add New Movie</a>