<div class="container d-flex justify-content-center mt-5">
    <div class="container d-flex flex-column align-items-center">
        <h1>{{title}}</h1>
        <p>Create your own celebrities and movies</p>
    </div>
</div>