<div class="index">

    <p class="text-index">We are creating the largest community of moviegoers, show us everything you know and help us
        complete the list of
        this world We are creating the largest community of moviegoers, show us everything you know and help us complete
        the list of this
        world</p>
    <a href="/celebrities/create" class="btn btn-warning btn-sm">Crear personajes</a>
    <a href="/celebrities" class="btn btn-info btn-sm">List of characters</a>
    <a href="/movies/create" class="btn btn-dark btn-sm">Crear películas</a>
    <a href="/movies" class="btn btn-ligth btn-sm">Listado de películas</a>

</div>