<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="d-flex">
    <div class="col">
    <a href="/movies"><button class="btn btn-success">View all the movies</button></a>
    <a href="/movies/create"><button class="btn btn-success">Add a new movie</button></a>
    </div>
    <div class="col">
    <a href="/celebrities"><button class="btn btn-primary">View all the celebrities</button></a>
    <a href="/celebrities/create"><button class="btn btn-primary">Add a new celebrity</button></a>
    </div>
</div>