<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create"> Create Celebrities </a>
<a href="/celebrities"> Celebrities </a>
<a href="/movies/create"> Create Movies </a>
<a href="/movies"> Movies </a>