<div class="container">
    <h1>IMDB</h1>
    <p>Welcome to IMDB</p>
    <hr>
    <a href="/celebrities/create" class="btn btn-dark">Create Celebrity</a>
    <a href="/celebrities" class="btn btn-dark">Celebrities</a>
    <a href="/movies/create" class="btn btn-dark">Create Movie</a>
    <a href="/movies" class="btn btn-dark">Movies</a>
</div>