<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="row">
    <div class="col-md-3 button-container">
        <a class="button-index" href="/celebrities/create">Create Celebrity</a>
    </div>
    <div class="col-md-3 button-container">
        <a class="button-index" href="/celebrities">Show Celebrities</a>
    </div>
    <div class="col-md-3 button-container">
        <a class="button-index" href="/movies/create">Create Movie</a>
    </div>
    <div class="col-md-3 button-container">
        <a class="button-index" href="/movies">Show Movies</a>
    </div>
</div>