<body>
    <div class="container">

       <nav>
         <a href="/">Home</a> | 
         <a href="/celebrities">Celebrities</a> | 
         <a href="/celebrities/create">Create new celebrity</a> |
         <a href="/movies">Movies</a> |
         <a href="/movies/create">Create new movie</a>
      </nav><br>

      {{{body}}}
    </div>