<div class="bg-rose-800">
  <br>
  <main>
    <div>
      <!-- Hero card -->
      <div class="relative">
        <div class="absolute inset-x-0 bottom-0 h-1/2 bg-rose-800"></div>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
            <div class="absolute inset-0">
              <img class="h-full w-full object-cover" src="https://familyandmedia.eu/wp-content/uploads/2018/03/cinema-Familyandmedia-1024x768.jpg" alt="JackCinema">
              <div class="absolute inset-0 bg-slate-500 mix-blend-multiply"></div>
            </div>
            <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
              <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
                <span class="block text-white">The best place for movies </span>
              </h1>
              <p class="mt-6 max-w-lg mx-auto text-center text-xl text-indigo-200 sm:max-w-3xl">Please click below for more info about.</p>
              <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
                <a href="/movies" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-rose-800 hover:bg-rose-900 sm:px-8">Movies</a>
                <a href="/celebrities" class="ml-8 flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-rose-800 hover:bg-rose-900 sm:px-8">Celebrities</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
</div>