<div class="container">

    <div class="row justify-content-center">

        <div class="index col-ml-12">

            <h1>WELCOME TO IRONHACK IMDB</h1>

            <hr>

            <p>Choose</p>

            <div class="my-5">
                <a href="/movies" class="btn btn-secondary btn-danger">GO TO MOVIES</a>
                <a href="/celebrities" class="btn  btn-secondary btn-danger">GO TO CELEBRITIES</a>
            </div>

        </div>

    </div>

</div>