// iteration 1 > Routes

    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

  
        {{!-- ITERATION 4.4 In the views/index.hbs (homepage) file:
        Add a link that goes to the /celebrities route. --}}
            <a href="/celebrities">See a list of all the celebrities</a>
      

    {{!-- ITERATION 3.6 In the views/index.hbs view file:
    Add a link that goes to the page 
    you just created with the form to create a new celebrity --}}
            
            <a href="/celebrities/create">Add a new celebrity</a>
     

            <a href="/movies">See a list of all the movies</a>
       

            <a href="/movies/create">Add a new movie</a>
      
   