<h1>{{title}}</h1>
<p>Welcome tooo {{title}}</p>
<a href="/celebrities/create" class="btn btn-dark">Crear celebrity</a>
<a href="/celebrities" class="btn btn-dark">Listado celebrity</a>
<a href="/movies/create" class="btn btn-dark">Crear Movie</a>
<a href="/movies" class="btn btn-dark">Listado Movie</a>