<div class="container">
    <h1>Bienvenido a <br> Lab movies celebrities</h1>
    <hr>
    <a href="/celebrities/create" class="btn btn-dark">Crear Celebrity</a>
    <a href="/movies/create" class="btn btn-dark">Crear Movie</a>
</div>