<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

 <a href="/celebrities/create">Celebrity Add</a>
 <a href="/celebrities/">All Celebs</a>
<a href="/movies/">All Movies</a>
<a href="/movies/create">Add a New Movie</a>
