<div class="container d-flex flex-column"> 
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
</div>

<div class="container d-flex flex-column">
    <h2 class="mt-3">Celebrities</h2>
    <a class="list-group-item list-group-item-action" href="/celebrities">View all celebrities</a></li>
    <a class="list-group-item list-group-item-action" href="/celebrities/create">Create a new celebrity</a></li>

    <h2 class="mt-3">Movies</h2>
    <a class="list-group-item list-group-item-action" href="/movies">View all movies</a>
    <a class="list-group-item list-group-item-action" href="/movies/create">Create a new Movie</a>
</div>





