<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celeb/create">Create Celeb</a>
<br>
<hr>
<a href="/celebs">View Celebrities</a>
<br>
<hr>
<a href="/movies/create">Create Movie</a>
<br>
<hr>
<a href="/movies">View Movies</a>

