<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href='/celebrities/create/'>Create New Celebrity</a>
<a href='/celebrities'>List Of All Celebrities</a>
<br />
<a href='/movies/create/'>Create New Movie</a>
<a href='/movies'>List Of All Movies</a>