<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container25"><a href="/celebrities/create">Create a Celebrity</a></div>
<div class="container25"><a href="/celebrities">List of Celebrities</a></div>
<div class="container25"><a href="/movies/create">Create a Movie</a></div>
<div class="container25"><a href="/movies">List of Movies</a></div>
</div>