<div class="text-center">
  <h1>🥳 Movies and Celebrities Pary 🥳 </h1>
  <p>Welcome to the fantastic world of....</p>

  <div class="d-flex justify-content-around">
    <p>
      <a href="/celebrities" class="col-lg-6">All Celebrities</a>
      <a href="/celebrities/create" class="col-lg-6">Create a new celebrity</a>
      <div>
        <img
          src="https://media.giphy.com/media/14rEabvlsS4lOg/giphy.gif"
          alt=""
        />

      </div>

    </p>

    <p>
      <a href="/movies" class="col-lg-6">All Movies</a>
      <a href="/movies/create" class="col-lg-6">Create a new movie</a>
    </p>
  </div>
</div>