<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Crate New Celebrity</a>
<br>
<a href="/celebrities">All Celebrities</a>
<br>
<a href="/movies/create">Create New Movie</a>
<br>
<a href="/movies">All Movies</a>
