<nav class="index-navbar">
        <a href="">Continue without loging in</a><br>
        <a href="/auth/login">Log in</a><br>
        <a href="/auth/signup">Sign up</a>
    
</nav>

{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<h1>Welcome to our outstanding page!!!</h1>


