<h1>Movies and celebrities</h1>

<h2>Movies</h2>

<ul>
    
    <li><a href="/movies/create">Add a new movie</a></li>
    <li><a href="/movies/movies">View all movies</a></li>
</ul>

<h2>Celebrities</h2>

<ul>
    <li><a href="/celebrities/create">Add a new celebrity</a></li>
    <li><a href="/celebrities/celebrities">View all celebrities</a></li>
</ul>