<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<a href="/celebrities/create">Create New Celeb</a>
<a href="/celebrities">View All Celebs</a>
<br>
<a href="/movies/create">Create New Movie</a>
<a href="/movies">View All Movies</a>