<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<br />
<div>
  <h2>CELEBRITIES</h2><a href="/celebrities"><button>View celebrities</button></a>
  <br />
  <a href="/celebrities/create"><button>Add new celebrity</button></a></div>
  <br>
    <h2>MOVIES</h2><a href="/movies"><button>View movies</button></a>
  <br />
  <a href="/movies/create"><button>Add new movie</button></a></div>