<div class="main row white">
    <div class="col-md-6">
    </div>
    <div class="col-md-6 ">
        <h1 class="pt-5 ">Best movies and celebrities <br> in the world</h1>
        <a href="celebrities" class="btn btn-dark">Find celebrities here!</a>
        <a href="movies" class="btn btn-dark"> Find movies here!</a>

    </div>
</div>