<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}</p>
<br>
<br>
<a href="/celebrities">see celeb list</a>
<br>
<a href="/celebrities/create">create celeb</a>
<br>
<br>
<br>
<br>
<a href="/movies">see movie list</a>
<br>
<a href="/movies/create">create movie</a>