<div class="container">
    <h1>Welcome to the Movies and Celebrities database!</h1>
    <hr>

    <h3>Celebrities</h3>
    <a href="/celebrities/create" class="btn btn-dark">Create a celebrity</a>
    <a href="/celebrities" class="btn btn-dark">View existing celebrities</a>
    <hr>

    <h3>Movies</h3>

    <a href="/movies/create" class="btn btn-dark">Create a movie</a>
    <a href="/movies" class="btn btn-dark">View existing movies</a>

</div>