<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Create Celebrity</a>
<a href="/celebrities">Celebrity List</a>
<a href="/movies/create">Create Movie</a>
<a href="/movies">Movie List</a>