<h1>LAB | Movies and celebrities</h1>
<a href='/celebrities'>Listing Our Celebrities</a>
<a href="/celebrities/create">Adding New Celebrities</a>
<a href='/movies'>Listing Our Movies</a>
<a href="/movies/create">Adding New Movies</a>