<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Add new Celebrity</a><br />
<a href="/celebrities">Show Celebrities</a><br />
<a href="/movies/create">Add new Movie</a><br />
<a href="/movies">Show Movies</a><br />