<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Create a new Celebrity</a>
<a href="/celebrities/celebrities">See all Celebrities</a>
<a href="/movies/create">Create a new Movie</a>
<a href="/movies/movies">See all Movies</a>