<body id="index-body">
  <div id="container">
    <div id="title-content">
      <h1>Movies and celebrities</h1>

      <ul id="content-list">
        <li><a class="lista" href="/celebrities/create">Create a celebrity</a></li>
        <li><a class="lista" href="/celebrities">List of celebrities</a></li>
        <li><a class="lista" href="/movies/create">Create a movie</a></li>
        <li><a class="lista" href="/movies">List of movies</a></li>
      </ul>
    </div>
  </div>

</body>