<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
  <li>
    <a href="/celebrities/create">Create a new celebrity</a>
  </li>
  <li>
    <a href="/celebrities">Listing of celebrities</a>
  </li>
  <li>
    <a href="/movies">Listing of movies</a>

  </li>
  <li>
    <a href="/movies/create">Create a new movie</a>
  </li>
</ul>