{{!-- <h1>{{title}}</h1> --}}
<p>Welcome to IronHack IMDB</p>

<button>
  <a href="/celebrities/">Celebrities List</a>
</button>

<button>
  <a href="/celebrities/create">New Celebrity</a>
</button>

<button>
  <a href="/movies/">Movies List</a>
</button>

<button>
  <a href="/movies/create">New movie</a>
</button>