<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/new-celebrity">New Celebrity</a>
<a href="/celebrities">List of Celebrities</a>
<a href="/movies">List of Movies</a>
<a href="/movie-details">Movie Details</a>
<a href="/new-movie">Movie Details</a>