<div class="d-flex flex-column align-items-center p-2 bd-highlight">
    <h1 class="h1 mt-4">Movies and Celebrities </h1>
    <p>Welcome to Movies and Celebrities Database</p>

    <div class="btn-toolbar">
        <p><a class="btn btn-primary m-2" href="/celebrities">Celebrities List</a></p>
        <p><a class="btn btn-primary m-2" href="/movies">Movies List</a></p>
        <p><a class="btn btn-primary m-2" href="/celebrities/create">Create Celebrity</a></p>
        <p><a class="btn btn-primary m-2" href="/movies/create">Create Movie</a></p>
    </div>
</div>