
        <img src="../images/IronCINEMA.png" alt="">
        
        <a href="/celebrities">
            <button class="btn btn-outline-primary">
            See your celebrities
            </button>
        </a>
        <br>
        <a href="/celebrities/create">
            <button class="btn btn-outline-primary">
            Create a new celebrity
            </button>
        </a>
        <br>
        <a href="/movies">
            <button class="btn btn-outline-primary">
            See your movies
            </button>
        </a>
        <br>
        <a href="/movies/create">
            <button class="btn btn-outline-primary" >
            Create a new movie
            </button>
        </a>