<div class='container'>
    <h1>Hi! Welcome to my celebrities site</h1>
    <p> <a href="/celebrities/create"> Add celebrity</a></p>
</div>

<div class='container'>
    <p> <a href="/celebrities"> listing celebrities</a></p>
</div>