<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<button type="button" class="btn btn-success"><a href="/celebrities">Show list of celebrities</a></button>

<button type="button" class="btn btn-success"><a href="/movies">Show list of movies</a></button>
