<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="./celebrities/create">Add a new celebrity</a>
<a href="/movies/create">Add new movie</a>
<a href="/movies">Back to movies</a>
<a href="/celebrities">Back to celebrities</a>
