<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrity/celebrities/create">Create a new celebrity</a>
<br>
<a href="http:/celebrity/celebrities">List of celebrities</a>
<br>
<a href="/movie/movies/create">Create a new movie</a>
<br>
<a href="/movie/movies">List of movies</a>