<h1>{{title}}</h1>
<div class='column-groups'>
  <div id='btns-group'>
    <h3>Celebrities:</h3>
    <a href='/celebrities/create'>
      <button>New celebrity</button>
    </a>
    <a href='/celebrities'>
      <button>Celebrities List</button>
    </a>
  </div>
  <div id='btns-group'>
    <h3>Movies:</h3>
    <a href='#'>
      <button>New movie</button>
    </a>
    <a href='#'>
      <button>Movies List</button>
    </a>
  </div>
</div>