<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{! a tags are treated as inline so they will stack next to each other on page so if u want them to stack on top do a div for each A tag }}
<a href='/celebrities/create' class=''>Create your celebrity</a>
<a href='/celebrities' class=''>Celebs</a>
<a href='/movies/create'>Create Movies</a>
<a href='/movies'>Movies</a>