<div class="container">

    <h1>CINEMA</h1>
    <p>La mejor base de datos de cine</p>
    <hr>
    <a href='/celebrities' class="btn btn-dark btn-sm">List celebrities</a>
    <a href='/celebrities/create' class="btn btn-dark btn-sm">Add celebrity</a>
    <hr>
    <a href='/movies' class="btn btn-dark btn-sm">List movies</a>
    <a href='/movies/create' class="btn btn-dark btn-sm">Add movie</a>
</div>