<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create"><button type="text" class="btn btn-dark"> Add a celebrity </button></a><br><br>
<a href="/celebrities"><button type="text" class="btn btn-dark"> Show all celebrities </button></a>
<br><br>
<a href="/movies/create"><button type="text" class="btn btn-dark"> Add a movie </button></a><br><br>
<a href="/movies"><button type="text" class="btn btn-dark"> Show all movies </button></a>
<br><br>