<div class="container">
    <h1>Inicio 🚀</h1>
    <hr>
    <a href="/celebrities/index" class="btn btn-dark">Celebrity Crear</a>
    <hr>
    <a href="/movies/index" class="btn btn-dark">Movie Crear</a>

</div>