<header>
    <nav>
        <a href="/celebrities">List of Celebrities</a>
        <a href="/movies">List of Movies</a>
    </nav>
</header>

<h1>❤️ Movies & Celebrities Library ❤️</h1>

<div id="centerImg">
    <img src="/images/gossip.png" alt="">   
</div>