<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}</p>
<hr />
<br />
<a href="/actores">Listado de actores</a>
<br />
<br /><br />
<a href="/actores/crear">Crear nuevos actores</a>
<br />
<br /><br />
<a href="/peliculas">Listado de peliculas</a>
<br />
<br /><br />
<a href="/peliculas/crear">Crear nuevas peliculas</a>