<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="/celebrities"></a>
<hr>
<a href="celebrities/create">Añadir personaje</a>
<hr>
<a href="/movies/create">nuevas peliculas</a>
<hr>
<a href="/movies">peliculas</a>