
<div class="container d-flex justify-content-center">
        <div class="col-4">
            <h1 class="mt-5 text-center">{{siteTitle}}</h1>
            <hr>
            <a class="btn btn-dark btn-block mt-5" href='/celebrities'>List of Celebrities</a>
            <a class="btn btn-dark btn-block" href='/movies'>List of Movies</a>
        </div>
</div>    







