<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<a href="/celebrities/create">New Celebrity</a>
<br>
<a href="/celebrities">All Celebrities</a>
<br>
<a href="/movies/create">New Movie</a>
<br>
<a href="/movies">All Movies</a>