<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">...to celebrities</a>
<br>
<a href="/celebrities/create">...to create new celebrity</a>
<br>
<a href="/movies">...to movies</a>
<br>
<a href="/movies/create">...to create new movie</a>