<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-8">

            <h2>The page you didn't ask for but we delivered to you.</h2>
            <hr>
            <p>Celebrity is a condition of fame and broad public recognition of a person or group as a result of the
                attention given to
                them by mass media. An individual may attain a celebrity status from having great wealth, their
                participation in sports
                or the entertainment industry, their position as a political figure, or even from their connection to
                another celebrity.
                'Celebrity' usually implies a favorable public image, as opposed to the neutrals 'famous' or 'notable',
                or the negatives
                'infamous' and 'notorious'.</p>
            <hr>

        </div>
    </div>
</div>