<h1>Movies and celebrities</h1>
<p>Welcome to Movies and celebrities</p>


<a href ="/celebrities">Celebrity List</a>
<br>
<a href="/celebrities/create">Add New Celebrity</a>
<br><br><br>
<a href="/movies">Movie List</a>
<br>
<a href="/movies/create">Add New Movie</a>
