<div class='h-50 p-5 m-5 text-bg-dark rounded-5'>
  <h1 class='display-5 mt-5'>{{title}}</h1>
  <a class='btn btn-outline-light mt-3 me-3' href='/movies'>Check Movies</a>
  <a class='btn btn-outline-light mt-3' href='/celebrities'>Check Celebrities</a>
</div>