<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<hr>
<button type="button">
    <a href="/celebrities/create">Create a Celebrity</a>
</button>
<br>

<button type="button">
    <a href="/celebrities">Check all our Celebrities</a>
</button>
<br>
<hr>

<button type="button">
    <a href="/movies/create">Create a Movie</a>
</button>
<br>
<button type="button">
    <a href="/movies">Check all our Movies</a>
</button>