<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Create new celebrity</a>
<br>
<br>
<a href="/movies/create">Create new movie</a>
<br>
<br>
<a href="/celebrities">Check all the Celebrities!</a>
<br>
<br>
<a href="/movies">Check all the Movies!</a>