<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}</p>

<a href="/peliculas">Ir a películas</a>
<br>
<a href="/celebridades">Ir a celebridades</a>
<br>
<a href="/celebridades/crear">Crear registro de celebridad</a>
<br>
<a href="/peliculas/crear">Crear registro de película</a>