<h1>{{name}}</h1>
<p>Welcome to {{name}}</p>

		<a href="/movies">Your Movies</a>
		<a href="/new-movie">Add a new Movie</a>
		<a href="/celebrities/new-celebrity">Create New Celebrity</a>
		<a href="/celebrities">Your Celebrities</a>