<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a class="btn btn-primary" href="/celebrities/create" role="button">Add a celebrity</a>
<a class="btn btn-primary" href="/celebrities" role="button">All celebrities</a>
<a class="btn btn-success" href="/movies/create" role="button">Add a movie</a>
<a class="btn btn-success" href="/movies" role="button">All movies</a>
