<div class="container indexStyle">
    <h1>Welcome to Celebrities and Movies App</h1>
    <hr class="border border-warning">
    <h3>Here you have a <a href="/celebrities" class="btn btn-dark">Celebrities</a> list and a <a href="/movies"
            class="btn btn-dark">Movies</a> list.</h3>
</div>