<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Create new Celebrity</a>

<p><a href="/celebrities">back to celebrities</a></p>
<p><a href="/movies/create">create a movie</a></p>
