<h1><strong>MOVIES AND CELEBRITIES</strong></h1>
<hr> 
<p>I hope you enjoy this LAB.</p>
<hr>
<p>I need help with the CRUD, I know how to create and delete things but I'm confused on how to do the update and the detail thing.</p>
<br>
<img src="https://cdn.tinybuddha.com/wp-content/uploads/2020/08/Tea.png" alt="imagen" style="width: 20%">
<br>
<br>
<a href="/celebrities/create" class="btn btn-dark">Create a new Celebrity</a>
<a href="/celebrities" class="btn btn-dark">See all Celebrities</a>
<a href="/movies/create" class="btn btn-dark">Create a new Movie</a>
<a href="/movies" class="btn btn-dark">See all Movies</a>