<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Go to create celebrity</a>
<br>
<a href="/celebrities">Go to celebrities</a>
<br>
<a href="movies/create">Go to create a movie</a>