<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="celebrities/create">Create new celeb</a>
<a href="celebrities">Go to Celebrities list</a>
<a href="movies/create">Create new movies</a>
<a href="movies">Go to Movies list</a>