<div class="index-title">
  <p>Start your cinema library</p>
</div>

<nav class="index-nav">
  <div class="container-index">
    <img src="/images/house.png" alt="house" />
    <a href="/">Home</a>
  </div>
  <div class="container-index">
    <img src="/images/guest-star.png" alt="star" />
    <a href="/celebrities/all">Celebrities</a>
  </div>
  <div class="container-index">
    <img src="/images/fame.png" alt="fame" />
    <a href="/celebrities/create">Create new celebrity</a>
  </div>
  <div class="container-index">
    <img class="img-indexr" src="/images/multimedia.png" alt="multimedia" />
    <a href="/movies/all">movies</a>
  </div>
  <div class="container-index">
    <img src="/images/magic-wand.png" alt="magic wand" />
    <a href="/movies/create">Create new movie</a>
  </div>
</nav>