<div class="container">
    <h1>Celebrities and Movies Lab</h1>

    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
        <a href="/celebrities/create">Create a Celebrity</a>
        <a href="/celebrities">Check the celebrities</a>
    </div>

    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
        <a href="/movies">Check the movies</a>
        <a href="/movies/create">Create a movie</a>
    </div>

</div>