<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="../views/celebrities/celebrities.hbs">Celebrity</a>
<a href="../views/celebrities/new-celebrity.hbs">New Celebrities</a>
<a href="../views/movies/movies.hbs">Movies</a>