<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">Check all the Celebs!</a>
<hr>
<a href="/celebrities/create">add a Celeb</a>
<hr>
<a href="/movies/create">add a Movie</a>
<hr>
<a href="/movies">Check all the Movies!</a>