<section class="display-block">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <br>
  <a class="button" href="/celebrities">Celebrity List</a>
  <a class="button" href="/celebrities/create">Add a New Celebrity</a>
  <a class="button" href="/movies">Movie List</a>
  <a class="button" href="/movies/create">Add a New Movie</a>
</section>