<div class="home-page">

    <div class="row justify-content-center">

        <div class="col-6 home-content">
            <h1 class="title mb-3">Best celebrities in town</h1>
            <div class="row">
                <div class="col-3">
                    <a class="mainlink btn btn-light mb-2" href="/celebrities/create">Crea tu celebrity</a>
                </div>

                <div class="col-3">
                    <a class="mainlink btn btn-light mb-2" href="/celebrities">Lista de celebrities</a>
                </div>

                <div class="col-3">
                    <a class="mainlink btn btn-light mb-2" href="/movies/create">Añade tu película</a>
                </div>

                <div class="col-3">
                    <a class="mainlink btn btn-light" href="/movies">Lista de peliculas</a>
                </div>
            </div>

        </div>

    </div>

</div>