<div class="container">
    <h1>YOUR MOVIE SPACE!!! </h1>
    <hr>
    <a href="/movies" class="btn btn-dark">View Movies</a>
    <a href="/celebrities" class="btn btn-dark">View Celebrity</a>


    <img src="/images/star.png" alt="Star">


</div>