<h1>{{title}}</h1>
<p>Welcome to the first full stack web app by Raphaël Malet</p>
<hr>
<a href="/celebrities">Show me the list of celebrities</a>
<hr>
<a href="/celebrities/create">Create a celebrity</a>
<hr>
<a href="/movies">Show me the list of all movies</a>
<hr>
<a href="/movies/create">Create a new movie</a>