<a class="btn btn-primary" href="/celebrities/create" role="button">Go to create celebritie</a>

<hr>

<a class="btn btn-primary" href="/celebrities/" role="button">Go to celebrities</a>

<hr>

<a class="btn btn-primary" href="/movies/" role="button">Go to movies</a>