<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>THE CELEBRITIES AND MOVIES</h1>

{{!-- <img src="" class="img" alt="image"> --}}

<div class="homeButtons">

    <button type="button" class="btn btn-light homeBtn"><a href="/celebrities/create">Create celebrity</a></button>
    <button type="button" class="btn btn-light homeBtn"><a href="/celebrities">Celebrity</a></button>
    <button type="button" class="btn btn-light homeBtn"><a href="/movies/create">Create new movies</a></button>
    <button type="button" class="btn btn-light homeBtn"><a href="/celebrities">Movies</a></button>

</div>