<div class="container">
  <div class="row home-page">
    <div class="col-lg-3 col-sm-6 celebrity-stuff ">
      <img src="/images/celebrity.jpg" alt="celebrity" />
       <br>
      <a href="/celebrities">Celebrities</a>
       <br>
      <a href="/celebrities/create">New Celebrity</a>
    </div>
    <div class="col-lg-3 col-sm-6 movie-stuff">
      <img src="/images/movie.jpg" alt="movie" />
       <br>
      <a href="/movies">Movies</a>
      <br>
      <a href="/movies/create">New Movie</a>
    </div>
  </div>
</div>