<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="/celebrities/create">Create a new Celebrity</a>
<br>
<a href="/celebrities">All the Celebrites</a>
<br>
<a href="/movies/create">Create a new Movie</a>
<br>
<a href="/movies">All the Movies</a>