<body class="img-index">
    <div class="container">
        <div class="row">
            <div class="index-btn">

                <a class="btn btn-dark" id="indexceleb" href="/celebrities/" role="button">Personajes</a>

                <a class="btn btn-dark" href="/movies/" role="button">Peliculas</a>
            </div>
        </div>
    </div>
</body>