<div class="main">
    <h1>MovieMagic</h1>
    <p>You're probably here by mistake but give it a chance</p>
    <p>Create your own movie with you own characters</p>

    <div class="d-grid gap-2 pe-5 d-md-flex justify-content-md-end">
        <button class="btn btn-danger"><a href="/celebrities">Check our celebrities</a></button>
        <button class="btn btn-danger"><a href="/movies">Check our movies</a></button>
    </div>
 

</div>