<div class="container">
    <h1>{{appTitle}}</h1>
    <p>Welcome to {{appTitle}}</p>
    <div class="d-flex flex-column">
        <a class="btn btn-dark mt-2 col-md-4" href="/celebrities">Ver Celebrities</a>

        <a class="btn btn-dark mt-2 col-md-4" href="/celebrities/create">Crear nuevo/a Celebrity</a>

        <a class="btn btn-dark mt-2 col-md-4" href="/movies">Ver Películas</a>

        <a class="btn btn-dark mt-2 col-md-4" href="/movies/create">Crear Películas</a>

    </div>


</div>