<p>Welcome to {{appTitle}}</p>

<a href="/celebrities/create">Create new celebrity</a>
<a href="/celebrities">List of celebrities</a>
<a href="/movies/create">Create new movie</a>
<a href="/movies">List of movies</a>