<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/celebrities/celebrities" , method="GET">
    <button type="submit">Celebrities</button>
</form>
<form action="/celebrities/create" , method="GET">
    <button type="submit">Add celebrity</button>
</form>
<br>
<form action="/movies/movies" , method="GET">
    <button type="submit">Movies</button>
</form>
<form action="/movies/create" , method="GET">
    <button type="submit">Add movie</button>
</form>