<h1>{{title}}</h1>

<p>Welcome to {{title}}</p>

<a href="./celebrities/new-celebrity">Create a new Celebrity!</a>

<a href="./celebrities/celebrities">Check all the awesome Celebrities here!</a>

<a href="./movies/movies">Check the movies</a>

<a href="./movies/new-movie">Create a new movie!</a>