<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create" class="links">Create a New Celebrity</a>

<a href="/celebrities" class="links">Celebrity List</a>

<a href="/movies/create" class="links">Create a new Movie</a>

<a href="/movies" class="links">Movie List</a>