<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href='/celebrities/create'>Create a celebrity</a>
<br>
<a class="" href='/celebrities'>Celebrities List</a>
<br>
<a class="" href='/movies/create'>Create a Movie</a>