<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a class="btn btn-secondary" href="/celebrity/create">Create a new celebritie</a>
<hr />
<a class="btn btn-secondary" href="/celebrity">Show all celebrities</a>
<hr />
<a class="btn btn-secondary" href="/movie/create">Create a new movie</a>
<hr />
<a class="btn btn-secondary" href="/movie">Show all movies</a>