<h1>Lab Movies vs Celebrities</h1>
<p>Welcome to my lab</p>
<a href="/celebrities/new">Create a new Celebrity</a>
<a href="/celebrities/all">All Celebrities</a>
<a href="/movies/new">Create new Movie</a>