<div class="button-container">
    <div class="contenedor">
        <img class="image1" src="../images/portada.jpg" alt="cinema">
        <div class="centrado">MOVIES & CELEBRITIES</div>
        <a class="button1" href="/celebrities" alt="celebrities">CELEBRITIES</a>
        <a class="button2" href="/movies" alt="movies">MOVIES</a>
    </div>
</div>