<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- <a href="/celebrities/create">create a celebrity</a>
<a href="/movies/create">create a movie</a>
<a href="/movies/movies"> all the movies</a> --}}
