<h1 class="appTitle">{{appTitle}}</h1>
<br><br>
<div class="row">
    <div class="col-6">
        <a class="btn btn-primary" role="button" href="/movies">Your movies</a>
        <a class="btn btn-primary" role="button" href="/movies/create">Create a movie!</a>
    </div>

    <div class="col-6">
        <a class="btn btn-primary" role="button" href="/celebrities">Your celebrities</a>
        <a class="btn btn-primary" role="button" href="/celebrities/create">Create a celebrity!</a>
    </div>