<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
  <li><a href="/celebrities/create">Add New Celebrity</a></li>
  <li><a href="/celebrities">List of Celebrities</a></li>
  <li><a href="/movies/new">Create New Movie</a></li>
  <li><a href="/movies">List of Movies</a></li>
</ul>