<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href='/celebrities/create' class=''>Create your celebrity</a>
<a href='/celebrities' class=''>Celebs</a>
<a href='/movies/create'>Create Movies</a>
<a href='/movies'>Movies</a>