<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">CREATE CELEBRITY</a>
<a href="/celebrities">VIEW CELEBRITY</a>
<br>
<a href="/movies/create">CREATE MOVIE</a>
<a href="/movies">VIEW MOVIE</a>