<div id="home-div">
    <h1>IronMovies</h1>
    <p>Welcome to Ironmovies, where you can find <span>all the information</span> about your favourite <span>movies and celebrities</span>.</p>
    <div class="home-btns">
        <a class="btn btn-primary" href="/movies">See Movies</a>
        <a class="btn btn-primary" href="/celebrities">See Celebrities</a>
    </div>
</div>
