<div class="container mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-3 justify-content-center mt-5">
            <div class="container">
                <div class="row justify-content-center mt-5">
                    <h1>{{apptitle}}</h1>
                    <hr>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center mt-1">
                    <div class="col-8">
                        <p>Welcome to the Show!!</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center mt-2">
                    <div class="col-8">
                        <a class="btn btn-dark" href="/drones" role="button">Visit our Movies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>