<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="mb-3">
      <a href="/celebrities/create">Create celebrity</a>
      <a href="/celebrities">All celebrities</a>
</div>
      
<div class="mb-3">
      <a href="/movies/create">Create movie</a>
      <a href="/movies">Movies list</a>
</div>
