<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
    <a href="/celebrities/create">New Celebrity</a>
</div>

<div>
    <a href="/celebrities">Celebrities</a>
</div>

<div>
    <a href="/movies/create">New Movie</a>
</div>

<div>
    <a href="/movies">Movies</a>
</div>