<h1 class="jumbotron-heading">Celebrities</h1>
<section class="jumbotron text-center">
<ul>
    <li><a href="/celebrities/create" class="btn btn-secondary my-2">Nueva Celebridad</a></li>
    <li><a href="/celebrities/list" class="btn btn-secondary my-2">Lista de celebridades</a></li>
    <li><a href="/movies/create" class="btn btn-secondary my-2">Nueva Pelicula</a></li>
    <li><a href="/movies/list" class="btn btn-secondary my-2">Lista de Peliculas</a></li>
</ul>

</section>