<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="celebs/create">Create a celebrity</a><br />
<a href="celebs/celebslist">See all celebrities</a><br />
<a href="movies/create">Add a new movie</a>