<div class="container">
    <div class="home">
        <h1>Welcome to {{title}}</h1>
        <hr>
        <div>
            <img class="welcomeImg" src="/images/peliculas.jpg" alt="welcome">
        </div>
        <div class="button">
            <a href="/movies" class="btn btn-dark">Movies</a>
            <a href="/movies/create" class="btn btn-dark">Create Movies</a>
            <a href="/celebrities" class="btn btn-dark">Celebrities</a>
            <a href="/celebrities/create" class="btn btn-dark">Create Celebrities</a>
        </div>
    </div>
</div>