<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}</p>
<a href="/celebridades">List of celebrities</a>
<a href="/celebridades/crear">Create celebrities</a>
<a href="/peliculas">List of movies</a>
<a href="/peliculas/crear">Add a movie</a>