<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
  <h3>Celebrities</h3>
  <div>
    <a href="/celebrities/create">Create new celebrity</a>
  </div>
  <div>
    <a href="/celebrities">Celebrities List</a>
  </div>
</div>
<div>
  <h3>Movies</h3>
  <div>
    <a href="/movies/create">Create new Movie</a>
  </div>
  <div>
    <a href="/movies">Movies List</a>
  </div>
</div>