<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create"><button>New Celebrity</button></a>

<a href="/celebrities"><button>Celebrities List</button></a>

<a href="/movies/create"><button>New Movie</button></a>

<a href="/movies/"><button>Movies List</button></a>