<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}</p>


<a href="/celebrities">See our celebrities</a>
<br><br>


<a href="/movies">See the movies list</a>
<br><br>
<a href="/celebrities/create">Create a new celebrity</a>
<br><br>
<a href="/movies/create">Create a new movie</a>