<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Add a new celebrity</a>
<a href="/celebrities"> Celebrities List</a>
<a href="/movies/create"> Add a new Movie</a>
<a href="/movies"> Movies List</a>