<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Create an artist</a>
<a href="/celebrities">Check our celebrities list</a>
<a href="/movies/create">Save a movie</a>
<a href="/movies">Check our movies list</a>