<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
    <li><h3><a href="/celebrities/create">Create Celebrity</a></h3></li>
    <li><h3><a href="/celebrities">Celebrities</a></h3></li>
    <li><h3><a href="/movies/create">Create Movie</a></h3></li>
    <li><h3><a href="/movies">Movies</a></h3></li>
</ul>
