<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section>
<a href="/celebrities/create">Create a Celebrity!</a>
<a href="/celebrities">See all Celebrities!</a>
</section>


<section>
<a href="/movies/create">Submit a Movie!</a>
<a href="/movies">See all Movies!</a>

</section>
