<div class="container">
    <h1>Welcome to our platform of Celebs and movies</h1>
    <h2>What do you want</h2>
    <div class="row">
        <div class="col-3">
            <a class="btn btn-danger" href="/celebrities" role="button">View all Celebs</a>
        </div>
        <div class="col-3">
            <a class="btn btn-danger" href="/celebrities/create" role="button">Create a new Celeb!</a>
        </div>
        <div class="col-3">
            <a class="btn btn-warning" href="/movies" role="button">View all movies</a>
        </div>
        <div class="col-3">
            <a class="btn btn-warning" href="/movies/create" role="button">Create a new Movie!</a>
        </div>
    </div>
</div>