<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button type="submit" action="./celebrities.hbs/create">New Celebrity</button>
<button type="submit" action="./celebrities.hbs/celebrities.hbs">Celebrity</button>