<div class="init-div">
    <h1>LA ZONA FILM</h1>
    <p>Descubre la menor libería de películas de la historia.</p>
    <ul>
        <li>Consulta y añade celebridades</li>
        <li>Consulta y añade peliculas</li>
        <li>Y ya estaría!!</li>
    </ul>
</div>