<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<hr>
<a href="/celebrities/create">Create New Celebrity</a>
<br>
<a href="/celebrities">Celebrity List</a>
<br>
<a href="/movies/create">Create New Movie</a>
<br>
<a href="/movies">Movie List</a>