<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<hr />
<a href="/">Home</a>
<a href="/movies">Movies List</a>
<a href="/celebrities">Celebrities List</a>

<a href="/movies/create">Add a Movie</a>
<a href="/celebrities/create">Add a Celebrity</a>