<div class="container-home">

    <div class="home">

        <div class="row justify-content-center align-items-center">

            <div class="col-md-4">
                <div class="button-create-celebrity mb-4 mt-4">
                    <a href="/celebrities/create" class="btn btn-lg btn-dark btn-block">Create celebrity</a>
                </div>

                <div class="button-seeCelebrities  mb-4">
                    <a href="/celebrities" class="btn btn-lg btn-dark btn-block">Check all the celebrities</a>
                </div>

                <div class="button-create-movie mb-4">
                    <a href="/movies/create" class="btn btn-lg btn-dark btn-block">Create movies</a>
                </div>

                <div class="button-seeMovies mb-4">
                    <a href="/movies" class="btn btn-lg btn-dark btn-block">Check all the movies</a>
                </div>
            </div>

            <div class="col-md-8">
                <img class="home-img" src="https://www.cinepremiere.com.mx/wp-content/uploads/2020/08/3D-900x506.jpg"
                    alt="cinema 3d">
            </div>

        </div>

    </div>