<h2>New Celebrity</h2>
<a href="/celebrities/create" class="btn btn-dark">Create celebrities</a>
<a href="/celebrities" class="btn btn-dark">See celebrities</a>
<a href="/movies/create " class="btn btn-dark">Create movies</a>