<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebridades">Ver las celebridades</a>
<a href="/peliculas">Ver las peliculas</a>
<a href="/celebridades/crear">Nuevas celebridades</a>
<a href="/peliculas/crear">Nuevas películas</a>