<div class="container">
    <h1>{{appTitle}} 🚀</h1>
    <p>Welcome Ironhacker!</p>
    <hr>
    <a href="/celebrities" class="btn btn-dark">Celebrities</a>
    <a href="/movies" class="btn btn-dark">Movies</a>
</div>