<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create" class="btn btn-dark">create a new celebrity</a>

<a href="/celebrities" class="btn btn-dark">Celebrities</a>

<a href="/movies/create" class="btn btn-dark">create a new movie</a>

<a href="/movies" class="btn btn-dark">movies</a>