<a href="/celebrities/create" class="home-link create">
    <h1 class="home-para">Add a celebrity</h1>
</a>

<a href="/celebrities" class="home-link celebrities">
    <h1 class="home-para">Celebrities</h1>
</a>

<a href="/movies" class="home-link movies">
    <h1 class="home-para">Movies</h1>
</a>
<img src="/images/react-logo.png" class="react-logo logo " alt="react-logo">