<div class="container">
    <h1>Welcome to your Movie Page</h1>

</div>

<div class="d-grid gap-2 col-3 mx-auto">
    <a href="/celebrities/create" class="btn btn-dark">Add new Celebrity</a>
    <a href="/celebrities" class="btn btn-dark"> Celebrities List</a>
    <a href="/movies/create" class="btn btn-dark">Add new Movie</a>
    <a href="/movies" class="btn btn-dark">Movies List</a>
</div>