<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<hr>
<div class="btn-group">
    <a href="/celebrities" class="btn btn-dark">List of celebrities</a>
    <a href="/celebrities/create" class="btn btn-dark">Create Celebritie</a>
</div>
<hr>
<div class="btn-group">
    <a href="/movies" class="btn btn-dark">List of movie</a>
    <a href="/movies/create" class="btn btn-dark">Create Movie</a>
    {{!-- <a href="/celebrities/create" class="btn btn-dark">Link</a> --}}
</div>