<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">


            <h1>{{title}}</h1>
            <p>Welcome to {{title}}</p>
            <hr>
            <div class="row justify-content-center">


                <a href="/celebrities/create" class="btn btn-outline-primary">Go and Create a Celebrity</a>
                <a href="/celebrities/" class="btn btn-outline-secondary">Celebrities List</a>
                <hr>

            </div>
            <div class="row justify-content-center">


                <a href="/movies/create" class="btn btn-outline-success">Go and Create a Movie</a>
                <a href="/movies/" class="btn btn-outline-danger">Movies List</a>

            </div>

        </div>

    </div>
</div>
