<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">list of celebreties</a>
<a href="/celebrities/create">Add a new celebrity</a>

<a href="/movies">list of movies</a>
<a href="/movies/create">add a new movie</a>