<h1>Lab Movies-Celebrities</h1>
<hr />
<p id='welcome'>Welcome to your first module 2 nightmare</p>

<div class='box small'>
  <a href='/celebrities' class='btn'>Check all the Celebs!</a>
  <a href='/celebrities/create' class='btn'>Add a Celeb</a>
  <a href='/movies' class='btn'>Check all the Movies!</a>
  <a href='/movies/create' class='btn'>Add a Movie</a>
</div>