<div class="index">

    <p class="text-index">We are creating the largest community of moviegoers, show us everything you know about the
        seventh art and help us
        complete the list of celebrities and movies.
        You can play creating, editing and deleting to your liking. Get together with your friends and have competitions
        to see
        who knows more</p>
    <br>
    <p class="text-two">“May the Force be with you.” -Star Wars, 1977</p>


    <a href="/celebrities/create" class="btn btn-warning btn-sm">Create celebrity</a>
    <a href="/celebrities" class="btn btn-info btn-sm">List of characters</a>
    <a href="/movies/create" class="btn btn-dark btn-sm">Create movie</a>
    <a href="/movies" class="btn btn-ligth btn-sm">List of movies</a>

</div>

<!-- footer !-->
<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Fakeflix_ © 2022</p>
    </footer>
</div>