<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">create celebrities</a>
<a href="/movies/create">create movies</a>
<a href="/movies">list movie</a>
<a href="/movies/:movie_id"></a>