<h1>Welcome to an amazing page with some movies and celebrities!</h1>
<p>Made by André Pinto on Ironhacks {{title}}</p>

<img src="/images/movie.png" alt="movies icon"/>

<a href="/celebrities/create">Create an artist</a>
<a href="/celebrities">Check our celebrities list</a>
<a href="/movies/create">New movie entry</a>
<a href="/movies">Check our movies list</a>