<div class="pag-title">
    <h1>Greatest Films Ever!</h1>
</div>
<hr>

<div class="d-grid gap-2 col-3 mx-auto">
    <img src="/images/pop-corn2.png" alt="camara">
    <a href="/celebrities/create" class="btn btn-dark">Add new Celebrity</a>
    <a href="/celebrities" class="btn btn-dark"> Celebrities List</a>
    <a href="/movies/create" class="btn btn-dark">Add new Movie</a>
    <a href="/movies" class="btn btn-dark">Movies List</a>
</div>