<div class="container">
    <h1>{{title}}</h1>
    <div class="row">
        <img src="/images/cinema.svg"id="main-image" alt="A very important celebrity"> 
        <p>Welcome to {{title}}</p>
        </div>      
        <div class="row">
            <ul>
                <li><a href="/celebrities/create">New Celebrity</a></li>
                <li><a href="/celebrities">Celebrity List</a></li>
                <li><a href="/movies/create">New Movie</a></li>
                <li><a href="/movies">Movie List</a></li>
            </ul>
        </div>
    
</div>