<h1>MOVIES & CELEBRITIES</h1>
<ul class="list-group mt-5">
    <li class="list-group-item"><a href="/celebrities/create">Create celebrity</a></li>
    <li class="list-group-item"><a href="/celebrities">Show all celebrities</a></li>
    <li class="list-group-item"><a href="/movies/create">Create movie</a></li>
    <li class="list-group-item"><a href="/movies">Show all movies</a></li>
</ul>