<div class="index-hero d-flex justify-content-center align-items-center">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <h1>{{title}}</h1>
        <p>The best cinema.</p>
        <div class="d-flex justify-content-center ">
            <a href="/movies" class="btn btn-dark m-2">See movies</a>
            <a href="/movies/create" class="btn btn-dark m-2">Add a new movie</a>
            <a href="/celebrities" class="btn btn-dark m-2">See celebrities</a>
            <a href="/celebrities/create" class="btn btn-dark m-2">Add a new celebrity</a>
        </div>
    </div>
</div>