<div class="index">
    <h1>WIKICINEMA</h1>
    <p>Donde podrás crear y modificar la información del cine mundial</p>

    <span class="buttons">
        <a href=" /celebrities/create" class="btn btn-light">Crear celebrity</a>

        <a href="/movies/create" class="btn btn-danger">Crear pelicula</a>
    </span>
</div>