<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">
    <ul>
        <li>
            <a href="/celebrities/create">Create a celeb</a>
        </li>

        <li>
            <a href="celebrities/list">List of Celebrities</a>
        </li>
        
        <li>
            <a href="movies/create">Create a Movie</a>
        </li>
        <li>
            <a href="movies/list">List of Movies</a>
        </li>
    </ul>
</div>