<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>




<a href="./celebrities/create">Create celebrity </a>


<p>
    <a href="./celebrities/"> List of celebrities</a>
</p>

<p>
    <a href="./movies/create"> Create a movie</a>
</p>

<p>
    <a href="./movies"> See all movies</a>
</p>