<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Add a new celebrity</a>
<a href="/celebrities">View celebirty list</a>
<a href="/movies/create">Add a new movies</a>
<a href="/movies">View movie list</a>