<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}</p>

<a href="/create"> Create a Celebrity</a>
<br>
<a href="/celebrities"> See Celebrities</a>
<a href="/create/movie"> Create a Movie</a>
<a href="/movies"> See movies</a>