<section class="home">
    <article>
        <h1>Bienvenidos a PS Management</h1>
        <h2>La mejor agencia de representación de España</h2>
        <p>
            <a href="/celebrities">Artistas 360</a> |
            <a href="/celebrities/create">Nuevo representado/a</a> |
            <a href="/movies">Todas las películas</a>
        </p>
    </article>

</section>