<div class="container">
    <br><br>
    <div class="row justify-content-center">

        <div class="col-12">
            <h1 align="center">{{title}}</h1>
        </div>
        <br>
        <div class="col-12" align="center">

            <img class="img-index" src="/images/cinema.jpg" alt="cinema">

        </div>

    </div>
    <br>
    <div class="row justify-content-center">

        <a href="/celebridades" class="btn btn-dark ">Ver celebridades</a>

    </div>
</div>
{{!-- <p>Welcome to {{title}}</p> --}}