<h1>Welcome To Celebs finder</h1>

<a href='/celebrities/create'>Add new Celebrity</a>
<a href='/celebrities'>See all Celebrities</a>
<a href='/movies'>List of Movies</a>
<a href='/movies/create'>Create new Movie</a>