<h1>IronMovies</h1>
<p>Welcome to Ironmovies, where you can find all the information about your favourite movies and celebrities</p>

<div id="home-btns">
    <a href="/celebrities/create">Add a Celebrity</a>
</div>