<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Create new Celebrity</a>

<a href="/celebrities">View all Celebrities</a>

<a href="/movies/create">Create a new Movie</a>

<a href="/movies">View all Movies</a>

