<div class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center text-white">
        <h1 class="mb-1 text-white">Welcome {{currentUser.username}}</h1> to {{title}}</h1>

    </div>
</div>