<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create" class="btn btn-dark">Add Celebrities</a>
<a href="/celebrities" class="btn btn-dark">View Celebrities</a>
<a href="/movies/create" class="btn btn-dark">Add Movies</a>
<a href="/movies" class="btn btn-dark">View Movies</a>