<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Create a celebrity</a>
<a href="/celebrities">Celebrity</a>
<a href="/movies">Movies</a>
<a href="/movies/create">New Movie</a>