<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">List of celebrities</a>
<br><br>
<a href="/celebrities/create">Add a celebrity</a>
<br><br><br>
<a href="/movies">List of movies</a>
<br><br>
<a href="/movies/create">Add a movie</a>