<div class="container">
  <div class="card text-center">
    <div class="card-body">
      <h2 class="card-title" style="margin-bottom: 50px">{{title}}</h2>
      <h5 class="card-text" style="margin-bottom: 50px">Welcome to
        {{title}}</h5>
      <hr />
      <a href="/celebrities/create" class="btn btn-dark">Go to create a NEW
        Celebrity</a>
      <hr />
      <a href="/celebrities" class="btn btn-dark">Go to check the Celebrity List</a>
      <hr />
      <a href="/movies/create" class="btn btn-secondary">Go to create a NEW
        Movie</a>
      <hr />
      <a href="/movies" class="btn btn-secondary">Go to check the Movie List</a>
    </div>
    <div class="card-footer text-muted">
      Ironhacker-Yanxia Wu
    </div>
  </div>
</div>