<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div classs="celeb-container">
  <a href="/celebrities">See all celebrities</a>
  <a href="/celebrities/create">Add Celebrity</a>
</div>

<div class="movie-container">
  <a href="/movies">See all movies</a>
  <a href="/movies/create">Add movie</a>
</div>