<h1>Nuestros famosos</h1>

<br>
<a href="/celebrities/create">Create famous</a>
<hr>
<a href="/celebrities">Celebrities</a>
<hr>
<a href="/movies/create">Create movie</a>
<hr>
<a href="/movies">Movies</a>
<hr>