<h1>Movies & Celebrities</h1>
<hr />

<a href="/celebrities">All celebrities</a>
|
<a href="/celebrities/new-celebrity">Add new celebrity</a>

<br /><br />

<a href="/movies">All movies</a>
|
<a href="/movies/new-movie">Add new movie</a>