<div class="index-background">
    <div class="index-content">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <a href="/celebrities" class="btn btn-dark">See our celebrities</a>
    </div>
</div>