<div class="intro">
    <a href="/celebrities" class="btn btn-info">View celebrities</a>
    <a href="/celebrities/create" class="btn btn-info">Create new celebrity</a>
    <a href="/movies" class="btn btn-info">View movies</a>
    <a href="/movies/create" class="btn btn-info">Create new movie</a>
</div>