<div class="container text-center ">
    <h1>Celebrity</h1>
    <p>Welcome to Celebrity and movie</p>
    <a href="/celebrities/create" class="btn btn-light"><input type="submit" class="btn btn-dark"
            value="Crear Celebrity"></input></a>
    <a href="/movies/create"><input type="submit" class="btn btn-dark" value="Crear Pelicula"></input></a>

</div>