<div class="container">
    <h1 class="display-4 text-primary mb-3">{{title}}</h1>
    <hr>
    <div class="row mt-3">
        <div class col-md-3>
            <a class="botoncillo" href="/">Main page</a>
        </div>
        <div class col-md-3>
            <a class="botoncillo" href="/celebrities">Actors and Actresses</a>
        </div>
        <div class col-md-3>
            <a class="botoncillo" href="/movies">Movies</a>
        </div>
        <div class col-md-3>
            <a class="botoncillo" href="/celebrities/create">Add a celebrity</a>
        </div>
        <div class col-md-3>
            <a class="botoncillo" href="/movies/create">Add a movie</a>
        </div>
    </div>

</div>