<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create" target="_blank">Create New Celebrity</a>
<a href="/celebrities" target="_blank">See The list of celebrities</a>
<a href="/movies/create" target="_blank">Create a movie</a>
<a href="/movies/" target="_blank">Movies List</a>

