<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/new-celebrity" type="button" class="btn btn-outline-secondary">Create a Celebrity</a>
<a href="/new-movie" type="button" class="btn btn-outline-secondary">Create a Movie</a>