<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Crear famosos</a>
<hr>
<a href="/celebrities">Lista de famosos</a>
<hr>
<a href="/movies/create">Crear película</a>
<hr>
<a href="/movies">Lista de películas</a>