<div class='container'><h1>Welcome to {{pageTitle}}</h1>
  <p>Here you can:</p>
  <h3><a href='celebrities/create' alt='Create a new celebrity'>Create a new
      celebrity</a></h3><br />
  <h3><a href='movies/create' alt='Create a new movie'>Create a new movie</a></h3></div>