<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}</p>

<a href="/celebrities/create">Crear nuevo famoso</a>
<a href="/celebrities/celebrities">Listado de famosos</a>
<a href="/movies/create">Crear una nueva peli</a>
<a href="/movies/movies">Listado de películas</a>