<div class="container">
    <div class="main-page-title">
        <h1>{{title}}</h1>
    </div>
    <div class="main-page-links">
        <div>
            <p style='font-size:80px;'>&#9997;</p>
            <a href="/celebs/create">Create a celebrity</a>
            
        </div>
        <div>
            <p style='font-size:80px;'>&#129321;</p>
            <a href="/celebs/celebslist">See all celebrities</a><br/>
            
        </div>
        <div>
            <p style='font-size:80px;'>&#127916;</p>
            <a href="/movies/create">Add a new movie</a><br>
            
        </div>
        <div>
            <p style='font-size:80px;'>&#127909;</p>
            <a href="/movies/movieslist">See all movies</a>
            
        </div>
        
    </div>
    
</div>

