<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">CELEBRITIES LIST</a>
<a href="/celebrities/create">NEW CELEBRITY</a>
<a href="/movies">MOVIES LIST</a>
<a href="/movies/create">NEW MOVIE</a>