<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a  href="/celebrities/create">create your celebrity</a>
<a  href="/celebrities">celebrity details</a>
<a  href="/movies">movie details</a>
<a  href="/movies/create">create your own movie</a>