<h1>Hola Yani! Bienvenida a mi app de peliculas y Celebridades!</h1>
<h2>Lo siento por lo feo que esta pagina!</h2>

<button>
  <a href="/celebrities/create">New Celebrity</a>
</button>

<button>
  <a href="/celebrities">List Celebrities</a>
</button>

<button>
  <a href="/movies/create">New Movie</a>
</button>

<button>
  <a href="/movies">List Movies</a>
</button>