<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Add a Celebrity</a> |
<a href="/celebrities">List of celebrities</a> |
<a href="/movies/create">Add a Movie</a> |
<a href="/movies">List of Movies</a>