<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a  href="/celebrities/create">create your celeb whatever</a>
<a  href="/celebrities">celebrity details or something</a>
<a  href="/movies">movie details or something</a>
<a  href="/movies/create">create your own movie</a>