<h1 class="subtitle has-text-centered mt-5 has-text-grey" >{{title}}</h1>
<p class="subtitle has-text-centered mt-5 has-text-grey">Welcome to {{title}}</p>

<h1 class="title is-primary has-text-centered has-text-success">Signup or Login to <span class="has-text-danger">create</span> a movie or a celebrity</h1>
<div class="section">
  <div class="columns is-multiline">
      <div class="column is-full">
        <a class="button is-link is-large" href="/celebrities">All the Celebrites</a>
      </div>
      <div class="column is-full">
        <a class="button is-link is-large" href="/movies">All the Movies</a>
      </div>
  </div>
</div>