<div class="container">
    <h1>{{title}}</h1>
    <p class="mb-5">Welcome to {{title}}</p>
    <div class="row">
        <div class="col-3">
            <a href="/celebrities/create" class="btn btn-outline-dark">Create new celebrity</a></br>
        </div>
        <div class="col-3">
            <a href="/movies/create" class="btn btn-outline-dark">Create new movie</a></br>
        </div>
    </div>
</div>