<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<nav>
  <a href="/celebrities/create">Add new celeb!</a><br />

  <a href="/movies/create">Add new movie</a><br />

  <a href="/celebrities">Check out these celebrities</a><br />

  <a href="/movies">Movies list</a>

</nav>