<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Create Celebrity</a>
<a href="/celebrities">See Celebrities</a>
<a href="movies/create">Create Movies</a>
<a href="/movies">See Movies</a>