<div class="container-home">

        <h1 class="home-title"> <strong> STUDIO GHIBLI ARCHIVES </strong></h1>
        <div class="buttons-home">

                <button type="button" class="btn btn-light"><a href="/celebrities/celebrities"
                                class="btn btn-light">LIST OF CHARACTERS</a></button>

                <button type="button" class="btn btn-light"><a href="/celebrities/create" class="btn btn-light">REGISTER
                                CHARACTER</a></button>

                <button type="button" class="btn btn-light"><a href="/movies" class="btn btn-light">LIST OF
                                MOVIES</a></button>

                <button type="button" class="btn btn-light"><a href="/movies/create" class="btn btn-light">REGISTER
                                MOVIE</a></button>

        </div>
</div>