<div class="container">
    <div class="row init">
        <div class="col-5 d-flex align-items-stretch">
            <div class="card">
                <img src="images/celebrity.jpeg" class="card-img-top" alt="Image Celebrities">
                <div class="card-body">
                    <a href="/celebrities">See the celebrities</a>
                    <br>
                    <a href="/celebrities/create"> Add new Celebrity</a>
                </div>
            </div>
        </div>
        <div class="col-5 d-flex align-items-stretch">
            <div class="card" >
                <img src="images/movies.png" class="card-img-top" alt="Image movies">
                <div class="card-body">
                    <a href="/movies">See the movies</a>
                    <br>
                    <a href="/movies/create"> Add new Movie</a>
                </div>
            </div>
        </div>
    </div>
</div>