<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href='/celebrities/create'> Creacion de celebridad</a>
<a href="/celebrities">Celebridades</a>
<a href="/movies/create">Pelicula</a>
<a href="/movies/movies">Peliculas</a>