<div class="container">
    <div class="link">
        <a class="btn btn-dark" href="/celebrities/create" role="button">Create a new celebrity</a>
    </div>
</div>
<div class="container">
    <div class="link">
        <a class="btn btn-dark" href="/celebrities" role="button">List of celebrities</a>
    </div>
</div>
<div class="container">
    <div class="link">
        <a class="btn btn-dark" href="/movies/create" role="button">Create movies</a>
    </div>
</div>
<div class="container">
    <div class="link">
        <a class="btn btn-dark" href="/movies" role="button">List of movies</a>
    </div>
</div>
