<h1>{{title}}</h1>
<hr>
<p>Welcome to {{title}}</p>
<hr>
<a href="/celebrities/create" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true">Create a
    Celebrity</a>
<a href="celebrities" class="btn btn-warning" tabindex="-1" role="button" aria-disabled="true">Celebrities
    List</a>
<a href="/movies/create" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true">Create a Movie</a>
<a href="/movies" class="btn btn-warning" tabindex="-1" role="button" aria-disabled="true">Movies
    List</a>