<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities" class="btn btn-dark">Ver celebridades</a>
<a href="/celebrities-create" class="btn btn-dark">Agregar celebridad</a>

<a href="/movies" class="btn btn-dark">Ver películas</a>
<a href="/movies-create" class="btn btn-dark">Agregar película</a>