<div class="container justify-content-center box-home">

    <p>CELEBÉRRIMOS<p>
     <br>

    <a href="./celebrities/create" class="btn btn-dark btn-home">New Celebrity</a><br>
    <a href="./movies/create" class="btn btn-dark btn-home">New Movie</a><br>
    <a href="./movies" class="btn btn-dark btn-home">Movie List</a><br>

</div>