<h1>{{appTitle}}</h1>
<hr>
<h2>Catálogo de Películas y Famosos</h2>


<a class="btn btn-info btn-lg" href="/peliculas" role="button">PELÍCULAS</a>
<a class="btn btn-light btn-lg" href="/celebridades" role="button">FAMOSOS</a>