<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/movies">Check Movies</a>
<a href="/movies/create">Create a New Movie!</a>
<a href="/celebrities">Check Celebrities</a>
<a href="/celebrities/create"> Create a New Celebrity!</a>
