<main>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <article>
        <aside>
            <a href="/celebrities">See a list of all the celebrities</a>
        </aside>

        <aside>
            <a href="/celebrities/create">Add a new celebrity</a>
        </aside>

        <aside>
            <a href="/movies">See a list of all the movies</a>
        </aside>
        
        <aside>
            <a href="/movies/create">Add a new movie</a>
        </aside>
    </article>
</main>