<nav class ="nav-ul">
  <ul>
    <li><a href="/celebrities">Celebrities</a></li>
    <li><a href="/movies">Movies</a></li>
    <li><a href="/celebrities/create"> Add Celebrities</a></li>
    <li><a href="movies/new-movie">Add Movies</a></li>
  </ul>
</nav>

<hr>
<h3>Welcome to {{title}}</h3
>
