<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <a class="homelinks" href="/celebrities/create">Create a Celebrity</a>
    <a class="homelinks" href="/celebrities">View our Celebrities Database</a>
    <a class="homelinks" href="/movies/create">Create a Movie</a>
     <a class="homelinks" href="/movies">Consult the Movies</a>
</div>