<div class="container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <hr>
    <a href="/celebrities/create" class="btn btn-dark">Create a celeb</a>
    <a href="/movies/create" class="btn btn-dark">Create a Movie</a>

</div>