<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Add a Celebrity</a>
<br>
<a href="/celebrities">See all Celebrities</a>
<br>
<a href="/movies/create">Add a Movie</a>
<br>
<a href="/movies">See all Movies</a>