<h1>{{title}}</h1>
<p>Bienvenido a  {{title}}</p>
<a href="/celebrities">Actor/Actriz</a>
<a href="/celebrities/create">Crear Actor/Actriz</a>
<a href="/movies">Películas</a>
<a href="/movies/create">Crear Películas</a>