<h1>{{titleBest}}</h1>


<hr>

<p>Crea una nueva celebrity</p>
<a href="/celebrities/create" class="btn btn-dark">Crea aqui una celebrity</a>
<a href="/celebrities" class="btn btn-dark">ven paca a ver los celebrities</a>

<hr>
<p>Crea una nueva pelicula</p>
<a href="/movies/create" class="btn btn-dark">Crea aqui un peli</a>
<a href="/movies" class="btn btn-dark">ven paca a ver los peliculas</a>


