<section>

  <div class="d-grid gap-2 col-6 mx-auto" id="homepage">

    <button class="btn btn-outline-info homepage-btn" type="button">
      <a class="nav-link" href="./celebrities/new-celebrity">
        Create a new Celebrity
      </a>
    </button>

    <button class="btn btn-outline-info homepage-btn" type="button">
      <a class="nav-link" href="./celebrities/celebrities">
        Check all the awesome Celebrities!</a>
    </button>

    <button class="btn btn-outline-info homepage-btn" type="button">
      <a class="nav-link" href="./movies/movies">
        Check the best movies here!
      </a>
    </button>

    <button class="btn btn-outline-info homepage-btn" type="button">
      <a class="nav-link" href="./movies/new-movie"> Create a new movie </a>
    </button>

  </div>
</section>