<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<section>
    <a href="/celebrities/create">Create a new celebrity</a>
<br />
<a href="/celebrities">View all celebrities</a>
</section>
<section>
    <a href="/movies/create">Create your own movie</a>
    <br>
    <a href="/movies">View all movies</a>
</section>