<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- iteration #4 --}}
<a href="/celebrities">List of Celebrities</a>

{{!-- iteration #3 --}}
<a href="/celebrities/create">Add new Celebrity</a>

{{!-- iteration #7 --}}
<a href="/movies">List of Movies</a>

{{!-- iteration #6 --}}
<a href="/movies/create">Add new Movie</a>
