<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">crear</a>
<a href="/celebrities/celebrities">lista</a>
<a href="/movies/create">movies crear</a>
<a href="/movies/movies">lista movies</a>