<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">New Celebrity</a>
<br><br>
<a href="/celebrities">Celebrities List</a>
<br><br>
<a href="/movies/create">New Movie</a>
<br><br>
<a href="/movies">Movie List</a>