<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

  <nav>
      <a href="/">Home</a>
        <a href="/movies">Movies</a>
        <a href="/movies/create">Create new movie</a>
        <a href="/celebrities">Celebrities</a>
        <a href="/celebrities/create">Create New Celebrity</a>
    </nav>
