<h1>Welcome to the Celebrity Database</h1>
<a href="/celebrities">View all Celebrities</a>
<br />
<a href="/celebrities/create">Create a new Celebrity</a>
<a href="/movies">View all Movies</a>
<a href="/movies/create">Add a new Movie to the Collection</a>