<h1>MOVIES AND CELEBRITIES</h1>
<hr>

<img src="/images/hollywood.jpeg" class="main-img" alt="Hollywood Image">

<div class="homeButtons">

    <button type="button" class="btn btn-light homeBtn"><a href="/celebrities/create">Create new celebrity</a></button>
    <button type="button" class="btn btn-light homeBtn"><a href="/celebrities">Celebrities</a></button>
    <button type="button" class="btn btn-light homeBtn"><a href="/movies/create">Create new movie</a></button>
    <button type="button" class="btn btn-light homeBtn"><a href="/movies">Movies</a></button>
</div>