<h1>Ironhack Movies and Celebrities</h1>

<div class="index-options">
    <a href="/celebrities">See all the celebrities!</a>
    <a href="/celebrities/create">Create a new celebrity!</a>
    <a href="/movies">See all the movies!</a>
    <a href="/movies/create">Create a new movie</a>
</div>