<h1>Dani's Cinema</h1>
<p>Welcome to the cinema</p>


<a href="/celebrities" class="btn btn-dark m-2">Celebrities</a>
<a href="/celebrities/create" class="btn btn-dark m-2">Create a new celebrity</a>
<a href="/movies" class="btn btn-dark m-2">Movies</a>
<a href="/movies/create" class="btn btn-dark m-2">Create a new movie</a>