<div class="container">
  <a href="/celebrities/create" class="btn btn-primary">Create new celebrity</a>
  <a href="/celebrities" class="btn btn-primary">List of celebrities</a>
  <a href="/movies/create" class="btn btn-primary">Create new movie</a>
  <a href="/movies" class="btn btn-primary">List of movies</a>
</div>