<div class="container">

    <h1> LAB celebrities - movies </h1>

    <hr>

    <div class="container mb-5">
        <a href="/celebrities" class="btn btn-dark"> VER CELEBRITIES </a>
        <a href="/celebrities/create" class="btn btn-dark"> CREAR CELEBRITY </a>
    </div>

    <div class="container mb-5">
        <a href="/movies" class="btn btn-dark"> VER MOVIES </a>
        <a href="/movies/create" class="btn btn-dark"> CREAR MOVIE </a>
    </div>


</div>