<h1>{{title}}</h1>
<p>Welcome to the first full stack web app by Raphaël Malet and Théo Diamant</p>

<hr>
<a href="/celebrities/create">Create a celebrity</a>

<hr>
<a href="/movies/create">Create a new movie</a>

