<div class="index">


    <h1 class="mainTitle">Movies & Celebrities</h1>


    <div class="buttonB">

        <a href="/celebrities" class="btn btn-primary btn-lg " style="padding: 20px">Celebs </a> <br>
        <a href="/movies" class="btn btn-danger btn-lg " style="padding: 20px">Movies </a>
    </div>

</div>