<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="container">
    <h1>{{siteTitle}}</h1>

    <a href="/celebrities" class="btn btn-dark">See the celebrities</a>
    <a href="/movies" class="btn btn-dark">See the movies</a>
</div