<h1>{{title}}</h1>
<hr/>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">New Celebrity</a>
<a href="/movies/create">New Movie</a> 
<a href="/celebrities">List Celebrities</a>
<a href="/movies">List Movies</a>