<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities" class="btn btn-outline-dark btn btn-light rounded-pill">Celebrities</a>
<a href="./celebrities/create" class="btn btn-dark rounded-pill">Create Celebrity</a>

<a href="/movies" class="btn btn-outline-dark btn btn-light rounded-pill">Movies</a>