<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">

    <h1>{{appTitle}} 🚀</h1>
    <p>Bienvenid@s al primer CRUD del Bootcamp huh!</p>
    <hr>
    <a href="/celebrities/create" class="btn btn-dark">Crear famoso</a>

    <hr>
    <a href="/celebrities/celebrities" class="btn btn-dark">Lista famosos</a>

    <hr>
    <a href="/movies/create" class="btn btn-dark">Crear Pelicula</a>

    <hr>
    <a href="/movies/movies" class="btn btn-dark">Lista Pelicula</a>



</div>