<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Add a New Celebrity</a>
<br>

<a href="/celebrities">View all Celebrities</a>
<br>
<a href="/movies/create">Add a New Movie</a>

<br>

<a href="/movies">View all Movies</a>