<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
 <a href="/celebrities">The celebrities</a> <br>
 <a href="/movies">The movies</a> <br>
 <a href="/celebrities/create">Create a celebrity</a> <br> 
 <a href="/movies/create">Or create a movie</a> 

</ul>