<divclass="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Iron Cinema Library</h1>
            <p>Welcome to the Ironhack cinema library, where you can find out everything about your favourite movies and
                actors!</p>
        </div>
    </div>

    <div class="row text-center">

        <div class="col-md-3">
            <a href="/celebrities/create" class="btn btn-dark">Create a new celebrity</a>
        </div>

        <div class="col-md-3">
            <a href="/celebrities" class="btn btn-dark">Check out all of our celebrities</a>
        </div>

        <div class="col-md-3">
            <a href="/movies/create" class="btn btn-dark">Create a new movie</a>
        </div>

        <div class="col-md-3">
            <a href="/movies" class="btn btn-dark">Check out all of our movies</a>
        </div>


    </div>



    <div class="row">



    </div>



    <div class="row"></div>
    <div class="col-md-4">

    </div>
    </div>