<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">Celebrity List</a>
<a href="/celebrities/create">Add a New Celebrity</a>
<a href="/movies">Movie List</a>
<a href="/movies/create">Add a New Movie</a>