<div class="container2">
    <h1>Celebrities and movies lab, we talkin' about practice</h1>
    <p>Welcome to {{title}}</p>

    <a href="/celebrities/create"><button type="text" class="btn btn-dark indexButton"> Add a celebrity </button></a>
    <a href="/celebrities"><button type="text" class="btn btn-dark indexButton"> Show all celebrities </button></a>
    <a href="/movies/create"><button type="text" class="btn btn-dark indexButton"> Add a movie </button></a>
    <a href="/movies"><button type="text" class="btn btn-dark indexButton"> Show all movies </button></a>
</div>