<div class="container buttons-back index">
    <a href="/celebrities" class="btn btn-dark btn-lg">CELEBRITIES</a>
    <a href="/celebrities/create" class="btn btn-dark btn-lg">ADD A NEWCELEBRITY</a>
    <a href="/movies" class="btn btn-dark btn-lg">MOVIES</a>
    <a href="/movies/create" class="btn btn-dark btn-lg">ADD A NEW MOVIE</a>
</div>