<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">List of Celebrities</a>
<a href="/movies">List of Movies</a>
<a href="/celebrities/create">Add new Celebrity</a>
<a href="/movies/create">Add new Movie</a>