<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">celebrities</a><br>
<a href="/movies"> movies</a> <br>
<a href="/celebrities/create">create celebrity</a><br>
<a href="/movies/create">create movie</a>

