<div class="container mt-5">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <a href="/celebrities" class="btn btn-outline-dark">Celebrities</a>
    <a href="/movies" class="btn btn-outline-dark">Movies</a>
    <a href="/movies/create" class="btn btn-outline-success">Create Movie</a>
    <a href="/celebrities/create" class="btn btn-outline-success">Create a new Celebrity</a>
</div>
