<div class="index-container">
  <p class="index-title">Start your movie collection</p>
  <br />
  <p class="index-subtitle">List your favourite celebrities</p>
</div>

<nav class="index-nav">
  <a class="nav-container" href="/">Home</a>
  <a class="nav-container" href="/celebrities/all">Celebrities</a>
  <a class="nav-container" href="/celebrities/create">Create new celebrity</a>
  <a class="nav-container" href="/movies/all">movies</a>
  <a class="nav-container" href="/movies/create">Create new movie</a>
</nav>