<h1>celebrities</h1>



<div class="btn-person">

    <a href="/celebrities/create" class="btn btn-dark btn-sm">Crear personajes</a>

</div>

<div class="btn-list">
    <a href="/celebrities" class="btn btn-dark btn-sm">Listado de personajes</a>
</div>


<div class="btn-list">
    <a href="/movies/create" class="btn btn-dark btn-sm">Crear películas</a>
</div>

<div class="btn-list">
    <a href="/movies" class="btn btn-dark btn-sm">Listado de películas</a>
</div>