<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Create New Celebrity</a>
<br/>
<a href="/celebrities">Check our celebrities</a>
<br/>
<a href="/movies">Check our movies</a>
