<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

        <a href="/celebrities/new"> Add Celebrity</a> |
        <a href="/movies/new"> Add Movie</a> |
        <a href="/movies"> MOVIES </a> |
        <a href="/celebrities">CELEBRITIES</a> |