<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create" class="btn btn-dark">Create celebrity</a>
<a href="/celebrities/celebrities" class="btn btn-dark">Celebrity list</a>
{{!-- <a href="/movies/movies" class="btn btn-dark">Create Movie</a> --}}
<a href="/movies/create" class="btn btn-dark">Create new movie</a>
<a href="/movies/movies" class="btn btn-dark">Movies list</a>