<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url('/images/background.png');
            background-size: 100%;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>

</body>

</html>

<div class="container middle">
    <div class="row justify-content-center text-center">
        <div class="col-md-5">
            <h1>Movies Land!</h1>
            <p>All the info about your favorite movies and celebrities</p>
            <a href="/celebrities" class="btn btn-dark btn-lg">All celebrities</a>
            <a href="/movies" class="btn btn-dark btn-lg">All movies</a>
        </div>
    </div>
</div>