<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">Celebrities</a> |
<a href="/celebrities/new-celebrity">new Celebrities</a>|
<a href="/movies-list">Movies</a> |
<a href="/new-movie">new Movie</a> |