<h1>Welcome to {{title}}</h1>
 {{!-- //CREAMOS EL MENU dela APP  --}}
<hr>
<nav class ="nav-ul">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/celebrities/celebrities">Celebrities</a></li>
    <li><a href="/celebrities/create"> Add Celebrities</a></li>
    <li><a href="/movies/movies">Movies</a></li>
    <li><a href="movies/create">Add Movies</a></li>
  </ul>
</nav>
<hr>