<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}</p>

<hr>
<a href="/celebrities/create">
    <button>
    Create a new celebrity
    </button>
</a>
<br><br>
<a href="/celebrities">
    <button>
    See your celebrities
    </button>
</a>
<br><hr><br>
<a href="/movies/create">
    <button>
    Create a new movie
    </button>
</a>
<br><br>
<a href="/movies">
    <button>
    See your movies
    </button>
</a>
<hr>