<h1>Movies</h1>
<hr />
<div class="celebrities-menu">
  <ul>
    <li><a href="/celebrities">Celebrities List</a> </li>
    <li><a href="/celebrities/create">Create celebrity</a></li>
    <li><a href="/movies">Movies List</a> </li>
    <li><a href="/movies/create">Create Movie</a></li>

  </ul>

</div>