<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>If you want to add a new celebrity, click here</h2>
<a href="/celebrity/create">Create new Celebrity</a>

<h2>If you want to access the list of celebrities, click here</h2>
<a href="/celebrities">Access the list of celebrities</a>

<h2>If you want to add a new movie, click here</h2>
<a href="/movie/create">Create new Movie</a>

<h2>If you want to access the list of movies, click here</h2>
<a href="/movies">Access the list of movies</a>