<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<button class="submit-btn"><a href = "/celebrities">Check Registered Celebrities</a></button>

<button class="submit-btn"><a href = "/movies">Check Registered Movies</a></button>