<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">create celebrity</a>
<a href="/movies/create">create Movies</a>
<a href="/celebrities">All celebrities</a>
<a href="/movies/movies">All Movies</a>