<h1>{{title}}</h1>
<hr>
<a class="btn btn-dark text-uppercase" href="/celebrities" role="button">View Celebrities</a>
<a class="btn btn-dark text-uppercase" href="/movies" role="button">View Movies</a>