<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href ="/celebrities">Celebrities</a>
<a href ="/celebrities/create">Crear nuevo celebrities</a>
<a href ="/movies">Movies</a>
<a href ="/movies/create">Crear nueva movie</a>