<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a id="btn" href="celebrities/create">Create a Celebrity</a>
<a id="btn" href="celebrities">Check all existing Celebrities</a>
<a id="btn" href="movies/create">Create a Movie</a>
<a id="btn" href="movies">Check all Movies</a>