<section class="main">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>

  <a href="/celebrities/create">Add Celebrities</a>
  <a href="/celebrities/celebrities-list">Celebrities</a>
  <a href="/movies/create">Add Movie</a>
  <a href="/movies/movies">Movies</a>
</section>