<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<h1>Cinema Ironhack</h1>


<a href="/movies/create">Add a new movie!</a>
<br>
<a href="/movies">Movies!</a>
<br>
<a href="/celebrities">View celebrities</a>
<br>
<a href="/celebrities/create">New Celebrity</a>
  
  {{{body}}}
</body>
</html>

