<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Create a New Celebrity</a>
<a href="/celebrities">All Celebrities!</a><br><br>
<a href="/movies/create">Create a new movie</a>
<a href="/movies">All Movies!</a>