<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/crear"> crear Celebrities</a>
<br>
<br>
<a href="/lista"> Celebrities</a>
<br>
<br>
<a href="/listaM"> Movies</a>
<br>
<br>
<a href="/crearM"> Crear Movies</a>