<div class="container">
    <h1>Celebritiesss</h1>
    <p>Welcome to celeritiesss</p>
    <a href="/celebrities/create">Create a celebrity D:</a>
    <a href="/celebrities/celebrities">See celebrities</a>
    <a href="/movies/movies">See movies</a>
    <a href="/movies/create">Create a movie!</a>
</div>