<div class="index container d-flex justify-content-center align-items-center flex-column gap-3">
	<h1>Welcome!</h1>
	<a href="/celebrities" class="btn btn-dark mt-2">Celebrities</a>
	<a href="/celebrities/create" class="btn btn-dark mt-2">Create a celeb</a>
	<a href="/movies" class="btn btn-dark mt-2">Movies</a>
	<a href="/movies/create" class="btn btn-dark mt-2">Create a movie</a>
</div>