<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Create a celebrity</a>
<br>
<a href="/celebrities">View celebrities</a>
<br>
<a href="/movies/create">Create Movies</a>
<br>
<a href="/movies">View all Movies</a>