<div class="container">
    <h1 class="text-left, text-right y text-center mt-5 "> Welcome to Movies and Celebrities </h1>

    <hr class="text-left, text-right y text-center mt-5">
    <div class="col text-center">
        <a href="/celebrities" class="btn btn-warning ">Go to celebrities</a>
        <a href="/movies" class="btn btn-warning">Go to movies</a>
    </div>
</div>