<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Add a celebrity</a>
<a href="/celebrities">Celebrities</a>
<a href="/movies/create">Add a movie</a>
<a href="/movies">Movies</a>