<h1>{{title}}</h1>
<p>Crea una nueva celebrity</p>

<hr>
<a href="/celebrities/create" class="btn btn-dark">Crea aqui</a>
<a href="/celebrities" class="btn btn-dark">ven paca a ver los celebrities</a>

<hr>
<a href="/movies/create" class="btn btn-dark">Crea aqui</a>
<a href="/movies" class="btn btn-dark">ven paca a ver los peliculas</a>


