<h3>{{title}}</h3>
<p>Welcome to {{title}}</p>

<a href="/celebrities" class="btn btn-primary"><h1>All the celebrities!</h1></a>

<a href="/celebrities/create" class="btn btn-warning"><h1>Add a new celebrity!</h1></a>

