<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/">Go to celebrities</a> <br>
<a href="/celebrities/create">Create a new celebrity</a> <br>
<a href="/movies">Go to Movies</a> <br>
<a href="/movies/create">Create a new movie</a>