<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h3>Celebriries</h3>
<a href="/celebrities">See all</a>
<br>
<a href="/celebrities/create">Create a new celebrity</a>


<h3>Movies</h3>
<a href="/movies">See all</a>
<br>
<a href="/movies/create">Create a new movie</a>