<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Create a new celebrity</a><br />
<a href="/celebrities">View all celebrities</a><br />
<a href="/movies/create">Create a new movie</a><br />
<a href="/movies">View all movies</a><br />