<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <section>
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <a href="/celebrities/create"><button>Create new celebrity</button></a>
        <a href="/celebrities"><button>Browse through celebrities</button></a>
        <a href="/movies/create"><button>Create new movie</button></a>
        <a href="/movies"><button>Browse through movies</button></a>
    </section>
</body>
</html>


