<h1>{{celebrities}}</h1>
<p>Welcome to {{title}}</p>

<h4>
    <a href="/celebrities">
        Celebrities
    </a>
</h4>
<h4>
    <a href="/celebrities/create">
        Create a Celebrity
    </a>
</h4>
<h4>
    <a href="/movies">
        Movies
    </a>
</h4>
<h4>
    <a href="/movies/create">
        Create a Movie
    </a>
</h4>
<h4>
    <a href="/awards">
        Awards
    </a>
</h4>
<h4>
    <a href="/awards/create">
        Create an Award
    </a>
</h4>