<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">View the list of celebrities</a>
<div></div>
<br>
<a href="/celebrities/create">Add a new celebrity</a>
<div>
<br>
</div>
<a href="/movies">View the list of movies</a>
<div></div>
<br>
<a href="/movies/create">Add a new movie</a>

