<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p><a href="/celebrities/create">Create a New Celebrity</a></p>
<p><a href="/celebrities">See all celebrities</a></p>
<p><a href="/movies/create">See all movies</a></p>

<!--  iteration 2 step 4: I DONT GET IT 
Add the link that goes to /drones route in the layout.hbs file to easier navigate to the list of drones. --> 