<div class="col-auto bg-light bg-gradient h-50 mt-5 border border-5 border-dark">
    <div class="row">
        <div class="col-12 text-center mt-5 mb-5">
            <h1>{{title}}</h1>
            <h1>Welcome to {{title}}</h1>
        </div>
        <div class="col-6 text-center mt-5">
            <a href="/celebrities" class=" p-5 rounded-pill">Celebrities <i class="bi bi-star-fill mx-2"></i></a>
        </div>
        <div class="col-6 text-center mt-5">
            <a href="/movies" class="  p-5 rounded-pill">Movies <i class="bi bi-film mx-2"></i></a>
        </div>
    </div>
</div>