<div class="container col-6 justify-content-center ">
  <h1 class="color">Welcome to {{siteTitle}}</h1>
  <hr />

  <a href="/celebrities" class="btn btn-dark col-10 justify-content-center">Ver celebrities</a>

  <hr />

  <a href="/movies" class="btn btn-dark col-10 justify-content-center">Ver peliculas</a>

  <hr />

</div>