<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Create Celebrity</a>
<a href="/celebrities/">List of Celebrities</a>
<a href="movies/create">Create new movies</a>
<a href="movies">List of Movies</a>