<div class="landing">

    <div class="main-landing-container">
        <div class="landing-img-container">
            <img src="/Spiderman_poster_CHRLY_DSIGN.jpg" alt="spider-poster">
        </div>
        <div class="landing-info-container"> 
            <h1>Hi there!</h1>
            <div class="landing-txt">
                <p class="landing-tag">Welcome to the best comic site for super-people on the internet.</p>
            </div>


            <a class="landing-btn-01" href="/characters/create">Add a new Super-Character</a> <br>
            <a class="landing-btn-02" href="/comics/create">Create a Comic</a>
        </div>
    </div>
</div>

<div class="bg-container">
    <div class="landing-bg">

    </div>
</div> 