<div id="inicio">

<h1 id="titulo">Create your own movie!</h1>
<p id="welcome">Welcome to {{title}}</p>

<div id="inicioBtn">


<a href="/celebrities"><button>Lista de celebridades</button></a>
<a href="/movies"><button>Lista de películas</button></a>

<a href="/celebrities/create"><button>Añadir celebridad</button></a>
<a href="/movies/create"><button>Añadir película</button></a>

</div>

</div>