<div class="container">
    
    <h1>{{siteTitle}}</h1>
    <p>Welcome to {{siteTitle}}</p>
    <hr>
   
    <a class='nav-link' href='/celebrities/create'>New-Celebrities</a>
        
    <a class='nav-link' href='movies/create'>New-Movies</a>
   
</div>