<h1 class="white-text">{{title}}</h1>

<hr>

<p class="text-center white-text">Welcome to {{title}}</p>

<p class="text-center"><a class="btn btn-dark" href="/celebrities">Check the celebrities</a></p>

<p class="text-center"><a class="btn btn-dark" href="/movies">Check the movies</a></p>