<h1>Welcome to Moviesss and Celebrities! </h1>
<div>
    <a href="/celebrities" class="btn btn-dark">Go to Celebrities</a>
    <br>
    <br>
    <a href="/movies" class="btn btn-dark">Go to moviees</a>
</div>