<div class='text-white bg-home-page p-4'>
  <div class='jumbotron bg-transparent'>
    <h1 class='display-4'>Movies and Celebrities</h1>
    <p class='lead'>Where Stars Shine and Stories Unfold</p>
    <p class='lead'>
      <button type='button' class='btn btn-outline-light text-primary'><a
          class='nav-link'
          href='/celebrities'
        >Celebrities</a></button>
      <button type='button' class='btn btn-outline-light text-primary mx-3'><a
          class='nav-link'
          href='/movies'
        >Movies</a></button>
    </p>
  </div>
</div>