<h1>
  <a href="/celebrities" class="btn btn-outline-secondary">Celebrities</a>
  <br />
  <a href="/celebrities/create" class="btn btn-outline-secondary">New celebrity</a>
  <br />
  <br />
  <a href="/movies" class="btn btn-outline-secondary">Movies</a>
  <br />
  <a href="/movies/create" class="btn btn-outline-secondary">New movie</a>
</h1>