<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="flex">
<a class="btn btn-outline-dark" href="/celebrities" role="button" >Celebrities</a>
<a class="btn btn-outline-dark" href="/celebrities/create" >New Celebrity</a>
<a class="btn btn-outline-dark" href="/movies" >Movies</a>
<a class="btn btn-outline-dark" href="/movies/create" >New Movie</a>
</div>