<h1 class="container">{{title}}</h1>
<p class="conatiner">Welcome to {{title}}</p>

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/celebrities">celebrities</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/celebrities/create">Create a new celebritie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies">movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/create">Create a new movie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>