<h1>{{title}}</h1>

<a href="/celebrities">See all the celebrities</a>
<a href="/movies">See all the movies</a>
<a href="/celebrities/create">Add a new celebrity</a>
<a href="/movies/create">Add a new movie</a>