<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Create new Celebrity</a>
<a href="/celebrities">The list of all the celebrities</a>
<a href="/movies/create">Create new Movie</a>