<div class="mainPage">
    <h1 class="title-Page">Madrid Films</h1>
    <div class="mainButton">
        <a class="btn btn-success" href="/celebrities/create">Crea un nuevo Celebrity</a><br>
        <a class="btn btn-success" href="/celebrities"> Nuestr@s Celebrities </a><br>
        <a class="btn btn-info" href="/movies/create">Create a new movie</a><br>
        <a class="btn btn-info" href="/movies">Movies</a>
    </div>
</div>