<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Create a new Celebrity</a> {{!-- //Para enlazarlo debemos de introducir el path no la
vista(hbs) --}}
<a href="/celebrities">Aquí tienes nuestra lista de celebrities</a>