<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/celebrities">View all celebrities</a>

<a href="/celebrity/new"> New celebrity</a>

<a href="/movies/movies"> View all movies</a>

<a href="/movies/new"> New movie</a>

