<section id="homepage">

  <ul class="nav nav-pills nav-fill" style="background-color: lightblue;">
    <li class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        href="./celebrities/new-celebrity"
      >Create a new Celebrity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./celebrities/celebrities">Check all the awesome
        Celebrities here!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./movies/movies">Check the best movies here!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./movies/new-movie">Create a new movie</a>
    </li>
  </ul>

</section>