<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="celebrities/new-celebrity">New celebrity!!</a>
<br>
<a href="celebrities/celebrities">All our celebs!!</a>
<br>
<a href="movies/new-movie">New movie!!</a>

