<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>
    <a href="/celebrities/create">
        Create a new celebrity
    </a>
    <br>
    <a href="/celebrities">
        See a list of Celebrities
    </a>
</h2>