<div class="home-page">

    <p class="big-intro">MuseoModerno</p>
    <h6>Check out the celebs and movies!</h6>
    <div>
        <button type="button" class="btn btn-outline-secondary"><a href="/celebrities">celebrities</a></button>
        <button type="button" class="btn btn-outline-secondary"><a href="/movies">movies</a></button>
    </div>
</div>