<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

 <a href="celebrities/create">Create a Celebrity</a>

  <a href="/celebrities">View Celebrities</a>

    <a href="/movies">View Movies</a>

 <a href="movies/create">Create new Movie</a>
  <a href="movies/{{_id}}">Create new Movie</a>


 