<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2>Welcome</h2>
            <a class="btn btn-danger" href="/celebrities/create">Create a celebrity</a>
            <a class="btn btn-danger" href="/celebrities">Celebrities</a>
            <a class="btn btn-danger" href="/movies/create">Create a movie</a>
            <a class="btn btn-danger" href="/movies">Movies</a>

        </div>
    </div>
</div>