<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col text-center">
      <h1>Welcome</h1>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col text-center">
      <img src="../images/logo_m_c.svg" alt="" width="300px" />
    </div>
  </div>
</div>