<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<a href="/celebrities/create">Add a new celebrity</a>
<br>
<a href="/celebrities/celebrities">The list of celebrities</a>
<br>
<a href="/movies/create">Add a new movie</a>