<h1>{{title}}</h1>
<p>Welcome to the celebrities{{title}}</p>
<a href="/celebrities/create"><button>Create a new celebrity</button></a>
<a href="/celebrities"><button>Check our Celebrities</button></a>