<h1>Artistas y Películas</h1>
<hr>

<div>
    <a class="btn btn-dark" href="/celebrities" role="button">Artistas</a>
    <a class="btn btn-secondary" href="/celebrities/create" role="button">Crear nuev@ artista</a>

</div>
<hr>
<div>
    <a class="btn btn-dark" href="/movies" role="button">Películas</a>
    <a class="btn btn-danger" href="/movies/create" role="button">Crear nueva película</a>

</div>