<div class='container'>
    <h1>Hi Welcome</h1>
    <p> <a href="/celebrities/create"> Add celebrity</a></p>
</div>

<div class='container'>
    <p> <a href="/celebrities"> listing celebrities</a></p>
</div>

<div class='container'>
    <p> <a href="/movies/create"> Add movie</a></p>
</div>

<div class='container'>
    <p> <a href="/movies"> listing movies</a></p>
</div>