<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!-- VERIFY !  -->
<nav>
<div>
    <ul>
        <li> <a href="/movies/create">Create a new movie</a> </li>
        <li> <a href="/celebrities/create">Create a new celebrity</a> <li>
</ul>
</div>
</nav>