<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="bg-light p-3 m-3 col-md-6">
    <a class="btn btn-dark" href="/celebrities">Your Celebrities</a>
    <a class="btn btn-dark" href="/celebrities/create">Create a new celebrity</a>
</div>

<div class="bg-dark p-3 m-3 col-md-6">
    <a class="btn btn-light" href="/movies">Your Movies</a>
    <a class="btn btn-light" href="/movies/create">Create a new movie</a>
</div>

