<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">View the celebrity list</a>
<br/>
<a href="/celebrity-create">Add a celebrity</a>
<br/>
<a href="/movies">View the movies list</a>
<br/>
<a href="/movie-create">Create a movie</a>