<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">Check all celebrities</a>
<a href="/celebrities/create">Create a celebrity here</a>
<a href="/movies">Check all movies here</a>
<a href="/movies/create">Create a movie here</a>
