<h1>Hello from home page</h1>
<a></a>

<a href="/celebrities">Celebrities</a>
</br>
<a href="/celebrities/create">New celebrity</a>
</br>
<a href="/movies">Movies</a>
</br>
<a href="/movies/create">New movie</a>
</br>
<a href="/movies/edit-movie">Edit movie</a>
</br>
<a href="/movies/movie-details">Movies details</a>