<div class="home">

    <h1 class="display-1">{{title}}</h1>
    <p> Bienvenidos A {{title}}</p>

    <a href="/celebrities" class="btn btn-info"> Ver Celebridades</a>


    <a href="/movies" class="btn btn-info"> Ver peliculas</a>

</div>