<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-link-container">
        <img
          class="navbar-image"
          src="https://cdn-icons-png.flaticon.com/512/1321/1321982.png"
        />
        <a href="/celebrities">Celebrities</a>

      </div>
      <div class="navbar-link-container">
        <img
          class="navbar-image"
          src="https://cdn-icons-png.flaticon.com/512/1822/1822873.png"
        />
        <a href="/">Home Page</a>
      </div>
      <div class="navbar-link-container">
        <img
          class="navbar-image"
          src="https://cdn-icons-png.flaticon.com/512/3172/3172476.png"
        />
        <a href="/movies">Movies</a>
      </div>
    </nav>
    <div class="container">

      {{{body}}}

    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>