<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

  <footer>
    <h3>Link Tree</h3>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/test">Test View</a></li>
      <li><a href="/celebrities/create">Create Celeb</a></li>
      <li><a href="/celebrities">List of Celebs</a></li>
      <li><a href="/movies/create">Create Movie</a></li>
      <li><a href="/movies">List of Movies</a></li>
    </ul>
  </footer>

</html>


