<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ps-5">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/celebrities">Celebrities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/movies/create">New Movie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/celebrities/create">New Celebrity</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <div class="container">
      <h1 class="main-title">{{{body}}}</h1>
    </div>
  </div>

  <script src="/javascripts/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>