<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>


  <nav class="navbar navbar-expand-lg bg-color">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/celebrities">Celebrities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/movies/create">New Movie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/celebrities/create">New Celebrity</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">User</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/register">SignUp</a></li>
              <li><a class="dropdown-item" href="/login">LogIn</a></li>
              <li><a class="dropdown-item" href="/logout">LogOut</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {{{body}}}

  <footer>Todos los derechos reservados :3</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

  <script src="/javascripts/script.js"></script>
</body>

</html>