<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/">HOME</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/celebrities">CELEBS</a>
        <a class="navbar-brand" href="/celebrities/create">CREATE YOUR CELEB</a>

        <a class="navbar-brand" href="/movies">MOVIES</a>
        <a class="navbar-brand" href="/movies/create">CREATE YOUR MOVIES</a>


      </div>
  </nav>
  <div class="container">
    {{{body}}}
  </div>

  <script src="/javascripts/script.js"></script>

  <footer>THE STARS ARE THE LIMIT</footer>
</body>

</html>