<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <div class="page-container">
      <nav class='navbar'>
        <a href='/celebrities'>celebrities</a>
        <a href='/celebrities/create'>New Celebrity</a>
        <a href='/movies'>Movies</a>
        <a href='/movies/create'>New Movies</a>
      </nav>

      <main class='container'>
        {{!-- <h1>{{doctitle}}</h1> --}}
        {{{body}}}
      </main>

      <footer class='footer'>
        <p>Built with ❤️ by avarap</p>
      </footer>
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>