<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="container">
    {{{body}}}
    <a class="btn btn-secondary" href="/celebrities">Go to see the celebrities!</a>
    <a class="btn btn-secondary" href="/celebrities/create">Go to create a celebrity!</a>
    <a class="btn btn-secondary" href="/movie/create">Go to create a Movie!</a>
    <a class="btn btn-secondary" href="/movie">Go to check the Movies!</a>
  </div>

  <script src="/javascripts/script.js"></script>
</body>

</html>