<html lang='en'>

	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta http-equiv='X-UA-Compatible' content='ie=edge' />
		<title>{{title}}</title>
		<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<header>
		<nav>
			<a href='/celebrities/create'>Here to create celebrity</a>

			<a href='/celebrities'>See a list of stars</a>

			<a href='/movies/create'>Here to create movie</a>

			<a href='/movies'>See a list of movies</a>

			<a href='/'>Home</a>

		</nav>
	</header>

	<body>
		<div class='container'>

			{{{body}}}
		</div>

		<script src='/javascripts/script.js'></script>
	</body>

</html>