<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <div id="nav-bar">
        <div>
          <a href="/celebrities">Celebrities</a>
          <a href="/celebrities/new">New Celebrity</a>
         <a href="/movies">Movies</a>
         <a href="/movies/new">New Movie</a> 
        </div>

        <div id="auth-btn">
          {{#unless currentUser}}
          <a href="/signup">Sign up</a>
          <a href="/login">Log in</a>
          {{/unless}}
          {{#if currentUser}}
            <form action="/logout" method="post" id="log-out-btn">
              <button type="submit">Log out</button>
            </form>
          {{/if}}
        </div>
      </div>
      
      {{#if currentUser}}
        <h3 style="font-size:20px">Welcome, <span style="font-weight:900">{{currentUser.username}}</span></h3>
      {{/if}}

    </nav>

      {{{body}}}

    <script src="/javascripts/script.js"></script>
  </body>

</html>