<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid navbar">
      <a class="navbar-brand" href="/">Cinema World</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/celebrities">List of Celebrities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/movies">List of Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/celebrities/create">Add a Celebrity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/movies/create">Add a Movie</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container fondo">
    {{{body}}}
  </div>

  <script src="/javascripts/script.js"></script>
</body>

</html>