<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{title}}</title>
    <link
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class='main__container'>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/movies'>Movies </a></li>
          <li><a href='/celebrities'>Celebrities</a></li>
        </ul>
      </nav>

      <div class='main__container-body'>
        {{{body}}}
      </div>

      <div class='main__container-footer'>
        Carlos Sosa (devcaco) | IronHack RMT-MIA-PTWD-2022
      </div>
    </div>
    <script src='/javascripts/script.js'></script>
  </body>

</html>