<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="container">
      
<nav class="navbar navbar-dark" style="background-color: rgb(199, 201, 110)">
        <a class="navbar-brand" href="#">
          
<a href="/celebrities/create">Create new Celebrity</a>

<a href="/celebrities">View all Celebrities</a>

<a href="/movies/create">Create a new Movie</a>

<a href="/movies">View all Movies</a>
   </a>
    </nav>
      
      
      {{{body}}}

    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>