<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
<nav>
  <div>
  <a href="/celebs/create">Create a new cleb</a>
  </div>
  
  <div>
  <a href="/celebs">Cleb list</a>
  </div>

  <div>
  <a href="/movies">Movie List</a>
  </div>

  <div>
  <a href="/movies/create">Add amovie</a>
  </div>





</nav>

    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>