<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="d-inline-flex align-self-center flex-column gap-2 ">


<nav class="d-inline-flex gap-2 navbar navbar-dark bg-dark ">
<a href="/">Home</a>
<a href="/celebrities/create">Crear celebrity</a>
<a href="/celebrities/celebrities-list">Lista de celebrities</a>
</nav>
<nav class="d-inline-flex gap-2 navbar navbar-dark bg-dark">
<a href="/movies/create">Añadir pelicula</a>
<a href="/movies/movies-list">Lista de peliculas</a>
</nav>







    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
  </body>

</html>