<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="container">
      <nav id="layoutLinks"class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" id="one" href="/">Home</a>
    <a class="navbar-brand" id="two" href="/celebrities">Celebrities</a>
    <a class="navbar-brand" id="three" href="/celebrities/create">Add Celebrities</a>
    <a class="navbar-brand" id="two" href="/movies">Movies</a>
    <a class="navbar-brand" id="three" href="/movies/create">Add Add Movie</a>
    </nav>
      {{{body}}}
      
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>