<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    
    <nav>
      <a href="/">Home</a>
      <a href="celebrities/celebretis-list.hbs">List of Celebreties</a>
      <a href="/celebrities/create">Add Celebreties</a>
      <a href="/movies/movie">List of movies</a>
      <a href="/movies/create">Add movies</a>
    </nav>


    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>