<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>M&C</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    
    <nav class="nav-bar">
      &#11088;  <a href="/celebs/create">Create a celebrity</a>
      &#11088;  <a href="/celebs/celebslist">See all celebrities</a>
      &#11088;  <a href="/movies/create">Add a new movie</a>
      &#11088;  <a href="/movies/movieslist">See all movies</a>  &#11088;
    </nav>
    
      {{{body}}}
    
    <div class="home-icon">
       <a href="/">&#127968;</a><br>

    </div>
     

    <script src="/javascripts/script.js"></script>
  </body>

</html>