<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
      <footer>
        <div class="footer-dark">
            <div class="row">
              <div class="col-sm-6 col-md-3 item footer-dark">
                  <h3>Services</h3>
                    <ul>
                        <li><a href="/">Go to the homepage</a></li>
                        <li><a href="/movies">Go to the movies list</a></li>
                        <li><a href="/celebrities">Go to the celebrities list</a></li>
                    </ul>
              </div>
            </div>
        </div>
      </footer>
  </body>

</html>