<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>


<nav>
  <ul>

    {{#if currentUser }}
    <li>
      <a href="/user/profile">Mi perfil</a>
    </li>

    <li>
      <form action="/auth/logout" method="POST">
        <button>Cerrar sesión</button>
      </form>
    </li>

    <li>
      <h5>Usuario: {{currentUser.username}}</h5>
    </li>

    {{else}}

    <li>
      <a href="/auth/signup">Registrarme</a>
    </li>

    <li>
      <a href="/auth/login">Iniciar sesión</a>
    </li>
    {{/if}}

  </ul>

</nav>

<body>
  <div class="container">
    {{{body}}}
  </div>

  <script src="/javascripts/script.js"></script>
</body>

</html>