<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <p>Lo que falta es mejorar:</p> 
    <ul>
      <li>Agregar validación si es que el actor ya tiene esa película en su historial</li>
    <li>Agregar validación si es que la película ya tiene a dicho actor</li>
    <li>Permitir elegir: ''crear nuevo actor'' cuando la película es nueva. Redireccionar acorde.</li>
    </ul>
    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>