<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />



  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>


  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/celebrities">Celebrities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/celebrities/create">Add celebrity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/movies">Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/movies/create">Add movie</a>
    </li>
  </ul>



  <div class="container">
    {{{body}}}
  </div>


  <footer>WebDevMovies developed by Pablo Wilson</footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>