<h2>New Celebrity</h2>

<form action="/celebrities/create" method="POST">
    <label for="name">
        name
        <input type="text" name="name">
        <br><br>
    </label>
    <label for="occupation">
        occupation
        <input type="text" name="occupation">
        <br><br>
    </label>
    <label for="catchPhrase">
        catchPhrase
        <input type="text" name="catchPhrase">
        <br><br>
    </label>
    <button>Submit</button>
</form>