
.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profile-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.profile-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #343a40;
}
.profile-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #6c757d;
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.fa-user-circle {
  font-size: 5rem;
  color: #007bff;
  margin-bottom: 20px;
}