<h1 class="title has-text-centered" >Hi welcome</h1>


<div class="section">
  <div class="columns is-multiline">
      <div class="column is-full">
        <a class="button is-link is-large" href="/celebrities/create">Create a new Celebrity</a>
      </div>
      <div class="column is-full">
        <a class="button is-link is-large" href="/movies/create">Create a new Movie</a>
      </div>
  </div>
</div>

