<h2>Create a Movie</h2>

<form action="/movies/create">
<label> Title 
    <input type="text" name="Title"> 
</label>
<label> Genre: 
    <input type="text" name="Genre"> 
</label>
<label> Plot: 
    <input type="text" name="Ploot"> 
</label>
<label> Cast: 
    <select name="Cast" id="cast" multiple>
        {{#each celebrities}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
</label>

</form>