* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

a:hover {
  text-decoration: none;
}

/* nav bar */
.nav-bar {
  background-color: #edf2fb;
  text-align: center;
  width: 100%;
  padding: 15px;
}

.nav-bar a {
  padding: 15px;
  text-transform: uppercase;
}

.nav-bar a:hover {
  background-color: #abc4ff;
}