@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Bebas+Neue&family=Fjalla+One&family=Pathway+Gothic+One&display=swap');

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

body {
    font-family: 'Poppins';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: red
  }
/* 
.main {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url("/images/cinema.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #00B7FF;
}



 MAIN PAGE 

.first-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 18%;
}

.search h1 {
  justify-self: flex-end;
  font-size: 70px;
}

.search button {
  text-align: center;
  background-color: white;
  font-size: 30px;
  border-radius: 30%;
  border-style: none;
  padding: 5px 20px;
}



 MOVIES LIST PAGE 

.movies-list {

}



MOVIES LIST PAGE 

.movie-details {

} */