body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
h1 {
  text-align: center;
}
.movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}