<a href="/auth/logout">Log out</a>

<h1>SECRET PAGE</h1>
<h3>You have an authenticated session</h3>

<div>
    <a href="/celebrities/">Go to celebrities</a> <br>
    <a href="/celebrities/create">Create a new celebrity</a> <br>
    <a href="/movies">Go to Movies</a> <br>
    <a href="/movies/create">Create a new movie</a>
</div>


  <button style="background: red">LOGOUT</button>
</a>