{{!-- views/movies/all.hbs --}}
<h2>List of the Movies</h2>
<a href="/">Go back Home</a>

<ul>
  {{#each movies}}
    <li>{{title}}</li>
      <a href="/movies/{{_id}}">Read more</a>
      <a href="/movies/{{_id}}/edit">Edit</a>
  {{/each}}
</ul>