<main class='main-create-film'>

  <div class='container container-form d-flex align-items-center'>

    <div class='form bg-light rounded pt-4 pr-4 pb-4 pl-4'>

      <h1 class='text-center'>Crea tu película</h1>

      <form action='/movies/create' method='POST'>
        <div class='form-group'>

          <label for='title'>Título</label>
          <input type='text' class='form-control' id='title' name='title' required />
          {{! <small id='emailHelp' class='form-text text-muted'>We'll never share your email with anyone else.</small> }}
        </div>

        <div class='form-group'>
          <label for='genre'>Género</label>
          <input type='text' class='form-control' id='genre' name='genre' />
        </div>

        <div class='form-group'>
          <label for='plot'>IMG(url)</label>
          <input type='text' class='form-control' id='plot' name='plot' />
        </div>

        <div class='form-group'>
          <input type='text' class='form-control' id='celebIds' name='celebIds' hidden />
        </div>

        <textarea name='' id='idArrays' cols='30' rows='3' class='d-block ml-auto'></textarea>

        <select id='select' class='form-select d-block ml-auto mr-auto' aria-label='.form-select-lg example'>
          <option selected value=''>Select your celebrity</option>

          {{#each celebs}}
            <option value='{{id}}'>{{name}}</option>
          {{/each}}
        </select>
        {{#if error}}
          <p class='bg-warning text-center mt-3'>{{{error}}}</p>
        {{/if}}
        <button type='submit' class='btn btn-primary'>Crear</button>
      </form>

    </div>
  </div>
</main>