<h2>Create a new movie in your database</h2>

<div class="container my-5">
  <form action="/movies" method="POST">

    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        name="title"
        type="text"
        class="form-control"
        placeholder="Movie title"
      />
    </div>

    <div class="mb-3">
      <label for="genre" class="form-label">genre</label>
      <input
        name="genre"
        type="text"
        class="form-control"
        placeholder="Movie genre"
      />
    </div>

    <div class="mb-3">
      <label for="plot" class="form-label">plot</label>
      <input
        name="plot"
        type="text"
        class="form-control"
        placeholder="Movie plot"
      />
    </div>

    <div class="mb-3">
        <label for="cast" class="form-label">Cast</label>
        <select name="cast" class="form-select" multiple="">
            {{#each celebrities as |celeb| }}
            <option value="{{celeb.id}}">{{celeb.name}}</option>
            {{/each}}
        </select>
    </div>

    <button type="submit" class="btn btn-success">Create a new movie</button>
  </form>
</div>