<form action='/movies/create' method='POST'>
	<label for='title'>Title</label>
	<input type='text' name='title' />
	<label for='genre'>Genre</label>
	<input type='text' name='genre' />
	<label for='plot'>Plot </label>
	<input type='text' name='plot' />
	<label for='cast'>Cast</label>
	<select name='cast'>
		{{#each celebs}}
			<option value='{{_id}}'>{{name}}</option>
		{{/each}}
	</select>

	<button>Submit</button>
</form>
