<h2>Movie Edit</h2>
<form action='/movies/{{_id}}' method='POST'>

  <label for='name'>
    Title:
    <input type='text' name='title' />
  </label>
  <label for='occupation'>
    Genre:
    <input type='text' name='genre' />
  </label>
  <label for='catchPhrase'>
    Plot:
    <input type='text' name='plot' />
  </label>

</form>