<h2>Here you can change some details of the movies</h2>

<form action="/movies/:id/edit " method="POST">
<input type="text" name="title" tag="title" placeholder="Insert title"/>
<input type="text" name="genre" tag="genre" placeholder="Insert genre"/>
<input type="text" name="plot" tag="plot" placeholder="Insert plot"/>
<input type="text" name="cast" tag="cast" placeholder="Insert cast"/>

  <button type="submit">Submit!</button>
</form>

