
<div class="container">
    <h2>Movie details</h2>
    <hr>

    {{#each Movie}}
    
        {{title}} - {{genre}} - {{plot}}
        <br>
        
    <hr style="opacity: .5;">

    {{/each}}

    <a href="/" class="btn btn-dark">Volver</a>
</div> 