<h2>{{movie.title}}</h2>
<form action="/movies/{{movie.id}}/edit" method="post">
  <label for="">Title: <input type="text" name="title" id="" /></label>
  <label for="">Genre: <input type="text" name="genre" id="" /></label>
  <label for="">Plot: <input type="text" name="plot" id="" /></label>

  <button type="submit">Editar Pelicula</button>
</form>