<div class="container">
    <h1>Inicio 🚀</h1>
    <hr>
    <a href="/movies/create" class="btn btn-dark">Crear Movie</a>
    <hr>
    <a href="/movies" class="btn btn-dark">Todas las Movies</a>

</div>