<div class='wrapper'>
	{{#each movies}}
		<div class='container'>
			<h2>{{title}}</h2>

			<div>
				<a href='/movies/{{_id}}'>Details</a>
				<a href='/movies/{{_id}}/edit' class='edit'>Edit</a>
				<form action='/movies/{{_id}}/delete' method='POST'>
					<button class='delete'>Delete</button>
				</form>
			</div>
		</div>
	{{/each}}
</div>
