<div class='wrapper'>
	{{#each movies}}
		<div class='container'>
			<h2>{{title}}</h2>

			<div>
				<a href='/movies/{{_id}}'>Details</a>
				<a href='/movies/{{_id}}/edit' class='edit'>Edit</a>
				<a href='/movies/{{_id}}/delete' class='delete'>Delete</a>
			</div>
		</div>
	{{/each}}
</div>
