<div class="container">
  <h2>All the movies!</h2>
  {{#each movies}}
    <div class="card my-5" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title"><a
            href="/celebrities/{{this._id}}"
          >{{title}}</a></h3>
        <p>{{genre}}</p>
        <p>{{plot}}</p>
      </div>
    </div>

  {{/each}}
</div>