<h1>List of movies</h1>
<hr>
<a href="/movies/create">Add one!</a>

{{#each movies}}
    <div>
        <a href="/movies/{{ _id }}">{{ title }}</a>
        <p>{{ genre }}</p>
        <p>{{ plot }}</p>
    </div>
{{/each}}