<h2 id="movies-title">Movies</h2>

<div class="movie-container">
  {{#each movies}}
    <div class="movie-card">
      <img class="movie-card-img" src="{{image_url}}" alt="Movie poster" />
      <h3 class="movie-card-title">{{title}}</h3>
      <a class="movie-card-link" href="/movies/{{_id}}">View Details</a>

    </div>

  {{/each}}
</div>
<a class="a-button2" href="/movies/create">Add a new Movie to the Collection</a>