 <h2>Movies:</h2>
<a href="/">
  <button>Home</button>
</a>

<br>
<br>
<br>
{{#each movieList}}

    <a href="/movies/{{_id}}"><h3>{{title}}</h3></a>

{{/each}}
<br>

<a href="/movies/create">
  <button>Add a new movie!</button>
</a>