<h1>New Movie</h1>
<h2>Detalles do filme</h2>
</br></br>
{{#each allMovies}}
Title: </br>
<h2>{{titleM}}</h2>
</br>
<h3>Genre:</h3>
<p>{{genre}}</p>
<p>Plot: {{plot}}</p>

<p>{{cast}}</p>
</br>
</br>
{{/each}}
<a href="/">Go Back</a>