<h2>List of Movies 🎥</h2>
{{#each movies}}
  <section>

    <h4>{{this.title}}</h4>
    <a href="/movies/{{this._id}}">Movie details</a>
  <br><br>
  </section>
  {{!-- <a href="/movies/{{this._id}}">ID</a> --}}
{{/each}}