<div class="container">
    <div class="container text-center">
        <h2>Your movies</h2>
        <div class="row ">
            <div class="col-3">
                <h3>title</h3>
            </div>
            <div class="col-3">
                <h3>genre</h3>
            </div>


        </div>
        <hr>
        {{#each movies}}
        <div class="row text-center align-items-center">
            <div class="col-3">
                <a href="/movies/details/{{_id}}" class="mb-0">{{title}}</a>
            </div>
            <div class="col-3">
                <p class="mb-0">{{genre}}</p>
            </div>
            <div class="col-2">
                <a class="btn btn-success" href="/movies/details/{{_id}}" role="button">Details</a>
            </div>
            <div class="col-2">
                <a class="btn btn-warning" href="#" role="button">Edit</a>
            </div>
            <div class="col-2">
                <a class="btn btn-danger" href="#" role="button">Delete</a>
            </div>

        </div>
        <hr>
        {{/each}}

    </div>
</div>