<h2>List of Movies 🎥</h2>
{{#each movies}}
  <section>

    <h4>{{this.title}}</h4>
    <a href="/movie-details">Details</a>
    <p>test</p>

  </section>
  <a href="//movies/{{_id}}">ID</a>
{{/each}}