<h2>List of our movies</h2><br>

{{#each allMovies}}
<section>
    <h4>{{this.title}}</h4>
    <a href="/movies/{{this._id}}">Movie details</a> |
     <a href="/movies/{{this._id}}/edit">Edit</a><br><br>
</section>

<button><a href="/movies/{{_id}}/delete">Delete</a></button>

{{/each}}