{{!-- Muestra la LISTA DE PELIS --}}

<h2>List of Movies</h2>
<a href="/">Go Back</a>
</br>
<ul>
{{#each movies}}
<hr>
<li>
  <a href="/movies/{{this._id}}">{{this.title}}</a>
  {{!-- Button to direct EDIT or DELETE MOVIE in this page are optional. --}}
<br>
<br>
  
<button><a href="/movies/{{this._id}}/edit">Edit this Movie</a></button>
</li>
{{/each}}
</ul>