<h2>Movies</h2>
<hr>

<ul class="movies">
    {{#each movies}}
        <li>
            <a href="/movies/{{id}}">{{title}}</a>
        </li>
    {{/each}}
</ul>

<hr>
<h4><a href="/movies/create">🎥 Create a new movie! 📽🎞</a></h4>
<hr>
<a href="/" class="btn btn-dark">Go back</a>
