<div class="row justify-content-center mt-5">
    {{#each movies}}
    <div class="col-4 mb-3 mt-3">
        <div class="card" style="width: 14rem;">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <a href="/movies/{{_id}}" class="btn btn-dark">Details</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>