{{#each movies}}
   <div>
    <a href="/movies/{{_id}}">
      {{title}}
    </a>
    {{!-- <p>By: {{.name}}</p>
    <form action="/books/{{_id}}/delete" method="POST">
      <button type="submit">Delete</button>
    </form> --}}
  </div>
  <br><br>

{{/each}}
