<h2>Movies list</h2>
<hr />
<hr />

{{#each moviesArr}}
  <section>
    <h2>{{this.title}}</h2>
    <a href="/movies/{{this._id}}">Movie details</a> <br /><br />
    <a href="/movies/{{this._id}}/edit">Edit movie</a>
  </section>
  <hr />
{{/each}}

<a href="/">back</a>