<h2>Movies</h2>
<div class="movie-div">
{{#each movie}}
<div class="div-movie">
<p class="title-p">{{title}}</p>
</div>
<div class="div-a-href">
<a href='/movies/{{_id}}'>See detail</a>
</div>
{{/each}}
</div>
