<div>
    <ul>
        {{#each movie}}
         <li>Title: {{title}}</li>
         <li>Genre: {{genre}}</li>
         <li>Plot: {{plot}}</li>
         <li>Cast: {{cast}}</li>
        {{/each}}
    </ul>
</div>
