<h2>Movies page</h2>

<a href="/movies/create">Create movies</a>

	{{#each data }}
		<div>
			<h3>Title: {{title}}</h3>
			<h3>Genre: {{genre}}</h3>
			<h3>Plot: {{plot}}</h3>
            <h3>Cast: {{cast}}</h3>

			

		</div>
	{{/each}}