<a href="/" class="btn btn-primary" role="button">Home</a>

<a href="/movies/create" class="btn btn-primary" role="button">Add a new
  movies</a>

{{#each movies}}

  <h1>name: {{this.title}}</h1>
  <a href="/movies/{{this.id}}" class="btn btn-primary" role="button">See
    more</a>

{{/each}}