<div class="container mt-4">
    <h2>Movies</h2>
    <hr>
    <div class="row gp-4 m-4 d-flex justify-content-center alig-items-center">
        {{#each movies}}
        <div class="d-flex card col-md-4 p-3 m-1">
            <div class="p-3 bg-white mb-1">
                <img src="https://upload.wikimedia.org/wikipedia/en/7/7f/Academy_Award_trophy.png">
                <h4 class="card-title pt-3"><a href="movies/movie-details/{{_id}}">{{title}}</a></h4>
                <p>title</p>
            </div>
        </div>
        {{/each}}
        <div class="d-grid col-md-4">
            <a href="/movies/create" class="btn btn-success p-3 m-1">Create a new Movie</a>
            <a href="/" class="btn btn-dark p-3 m-1 d-block">Go Home</a>
        </div>
    </div>
</div>


{{!-- <div class="d-flex justify-content-between">
    <a href="/drones/{{_id}}/edit" class="btn btn-secondary">Edit</a>
    <form action="/drones/{{_id}}/delete" method="POST">
        <input type="submit" value="Delete Drone" class="btn btn-danger">
    </form>
</div> --}}
