<div class="container">
    <div class="row mt-3">
        {{#each movies}}
        <div class="alert alert-info ml-3 text-center" role="alert">

            <a class="link-underline link-underline-opacity-0 text-dark d-block" href="/movies/{{id}}">
                <h1>{{title}}</h1>
            </a>
        </div>
        {{/each}}


    </div>

</div>