<h1>Películas</h1>
<hr>
<div>
    {{#each movies}}
    <p>Título: {{title}}</p>
    <a class="btn btn-outline-dark" href="/movie-details/{{_id}}" role="button">Ficha Película</a>
    <hr>
    {{/each}}



</div>

<a class="btn btn-outline-danger" href="/" role="button">Volver a inicio</a>