<h2>Todas las películas</h2>
    <div>
        {{#each movies}}
            <h3>{{movie.title}}</h3>
           <button><a href="/movies/{{movie._id}}">Details</a></button>
        {{/each}}
    </div>