<section>
  <h2>{{this.title}}</h2>
  <p>
    Genre:
    {{this.genre}}
    <br />
    Plot:
    {{this.plot}}
    <br />
    Cast:
    {{#each this.cast}}
      {{this.name}}
    {{/each}}
  </p>
</section>

<a href="/movies">Back</a>