<h1 class="create-cel">LIST OF MOVIES</h1>

{{#each movies as |movie|}}
    <div class="list-movies">
      <a href="/movies/{{_id}}" class="celebs-text"><p>{{movie.title}}</p></a>
    </div>
{{/each}}
<a class="form-btn" href="/movies/create">Create a new movie</a>

