<h2>Movies</h2>

<ul>
{{#each movies as |movie|}}
    <li>
    <h4>{{movie.title}}</h4>
    <a href="/movies/{{movie._id}}">See more</a>
    
    </li>
{{/each}}
</ul>

<button onclick="window.location.href='/movies/new'">Create new movie</button>