<div class="row">

    <div class="col-md-12 celebrity">
        <h3>{{movie.title}}</h3>
        <h5>{{movie.genre}}</h5>
        <p>{{movie.plot}}</p>
        <h5>Cast</h5>
        <ul>
            {{#each movie.cast}}
                <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>

</div>