<div>
<h2>Detalles de la película</h2>

<h4>{{movieDetails.title}}</h4>
<h5>Género: {{movieDetails.genre}}</h5>
<h5>Trama:{{movieDetails.plot}}</h5>

{{#each movieDetails.cast}}

<h5>Reparto: {{this.name}}</h5>

{{/each}}




</div>