<div class="container">
    <h2 class="display-6"> Detalle de peliculas</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <p><strong> Nombre de la pelicula:</strong> {{title}} </p>

                    <p><strong> Genero :</strong> {{genre}} </p>

                    <p><strong> Trama:</strong> {{plot}}</p>

                    <p><strong> Elenco:</strong> {{cast.0.name}}</p>

                </td>

            </tr>

        </tbody>

    </table>

    <a href="/movies" class="btn btn-info"> Ir a la lista</a>
    <a href="/" class="btn btn-info"> Ir al inicio</a>


</div>