<a href='/movies'>Go back to movies list :)</a>
<br>
<a href='/movies/create'>Create your favorite movie :)</a>

<h1>Movie details</h1>
<p>Title: {{title}}</p>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>
<br>