<div class="mb-3 centeredDiv d-flex flex-column">
    <h2>Movies</h2>
    {{#each movies}}
    {{!-- <a href="/celebrities/details/{{_id}}"></a> --}}
    <a href="">
        <h3>{{title}}</h3>
    </a>
    {{/each}}
</div>
<div class=" formDiv">
    <a href="/"><button type="text" class="btn btn-dark"> Home </button></a>
</div>