<h2>Movies</h2>

{{#each movies}}

<ul>
    <li>
       title: {{title}}
        {{!-- genre: {{genre}}
        plot: {{plot}}
        cast: {{cast}} --}}
    </li>
</ul>

<a href="/movies/create">Add Movies</a>


{{/each}}