<div class="container">

    <h1>Movie's List</h1>
    <hr>

    {{#each movies}}
    <p>- <strong> {{title}} </strong><br>
        <a href="/movie/details/{{id}}" class="link-dark">Details</a> |
        <a href="/movie/edit?movie_id={{id}}" class="link-dark">Edit</a>
    </p>
    {{/each}}

</div>