<div class="container">
  <h2>List of movies</h2>

  <hr />

  {{#each movies}}
    <p>

      {{title}}

    </p>

  {{/each}}

  <a href="/" class="btn btn-dark">Volver</a>

  <a href="/movies-details" class="btn btn-dark">actual movie</a>
 
</div>