<h1>Movies List</h1>

<hr/>
{{#each moviesArr}}
    <div>
        <p>
            Title: {{this.title}}
        </p>

        <a href="/movies/{{this._id}}">More details</a>

        <form action="/movies/{{this._id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </div>
{{/each}}