<h2>Movies list</h2>
<hr>
<ul>
    {{#each moviesFromDB}}
    <li>{{ title }} 
    <a href="/movies/{{id}}"> View Details </a>
    <form action="/movies/{{id}}/delete" method="post">
        <button> Delete </button>
    </form>
    </li>
    <br>
    {{/each}}
</ul>
    <a href="/movies/new"> Create new movie </a>
