<div class="container d-flex flex-wrap justify-content-center">


    
{{#each movies}}

    <div class="card" style="width: 18rem;">
       

        <div class="card-body">
            <a class="card-title" href="/movies/movie-details/{{_id}}">{{title}}</a>

        </ul>
        <div class="card-body">
        
            <a href="/" class="card-link">go back</a>
        </div>
    </div>

   
    </div>

{{/each}}
</div>

