<a href="./movies">Go back</a>

<h2>Movie Details</h2>

<div>
  <h4>{{movieDetail.title}}</h4>
  <h5>{{movieDetail.genre}}</h5>
  <p>{{movieDetail.plot}}</p>
</div>

<form action="{{_id}}" method="post">
  <button type="submit">
    Delete
  </button>
</form>