<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <h2>Awesome movies alphabetically ordered just because.</h2>
            <hr>
            <p>Pay attention, these are the movies you have to dig into.</p>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each movies}}

                    <tr>
                        <td>{{title}}</td>
                        <td><a href="/movies/{{_id}}" />See More</a></td>
                    </tr>

                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>

</div>