<h2>Movies: </h2>
{{#each movies}}
{{#with this}}
    <h4>{{title}}</h4>
    <a href="/movies/{{_id}}">Details</a>
    <form action="/movies/{{_id}}/delete" method="post">
        <input type="submit" value="Delete">
    </form>
{{/with}}
{{/each}}
<br>
<a href="/movies/create">Create new Movie</a>
<h2 {{error}}>Error while deleting a Movie</h2>