<h2>Movies</h2>
<ul>
{{#each movies}}
<li><a href="/movies/{{this._id}}">{{this.title}}</a></li>
{{!-- Be careful, bear in mind that the route is "/movies/{{this._id}}" and NOT "/movies/:{{this._id}}". That is to say: DON'T PUT A COLON HERE, the colon only goes in the routes js! --}}
{{/each}}
</ul>

<a href="/">Back to home page</a>