<div class="movie-detail-card">

  <img class="image" src="{{image}}" alt={{oneMovie.title}} />

  <h2 class="detail-title"><strong>cast</strong></h2>

  <ul class="detailed-list">
    {{#each oneMovie.cast}}
      <li class="list-name">{{name}}</li>
    {{/each}}
  </ul>

  <br />
  <p class="movies-plot">{{oneMovie.plot}}</p>

</div>