<div class='container'>
    <div class="encabezado mt-5">
        <h2>Movie details</h2>
    </div>
    {{!-- {{#each movies}} --}}
    <div class="moviesList ms-5 mt-5">
        <h4>{{title}}</h4>
        <p>{{genre}}</p>
        <p>{{plot}}</p>

        {{!-- <p>cast:{{#each}}
                {{celebrity}}
                {{/each}}
             </p> --}}
    </div>
    {{!-- {{/each}} --}}
</div>