<h2>Movies in our DB:</h2>

{{#each movies}}
<section>
    <h3>{{this.title}}</h3>
    {{!-- <p>
        Genre: {{this.genre}} <br>
        Plot: {{this.plot}} <br>
        Cast: <br>
        {{#each this.cast}}
         <li>{{this.name}}</li>  
        {{/each}}
    </p> --}}
</section>
{{/each}}