
<h2 id="movies-title">Movies</h2>

<ul>
  {{#each movies}}
    <li> <a href="/movies/{{_id}}">{{title}}</a> </li>

  {{/each}}

  <a class="a-button2" href="/movies/create">Add a new Movie to the Collection</a>


</ul>