<div class='movies-contianer'>
  <div class='movies-list-header'>
    <h2 id='page-title'>
      Ironhack Cinema
    </h2>
    <div>
      <a href='/movies/create'>
        Add a movie
      </a>
    </div>
    <br>
    <div>
      <a href='/'>
        Home
      </a>
    </div>

    <p class='page-title-dir'>
      Click on the movie to check the showtimes
    </p>
  </div>

  <div class='movies'>
    {{#each movies}}
      <div class='card'>
        <img src="{{image}}" alt='movie-pic' />
        <div class='card-footer'>
          <h3>
            {{title}}
          </h3>
          <h4>
            <a href="/movies/{{_id}}">
              See more
            </a>
          </h4>
        </div>
      </div>
    {{/each}}
  </div>
</div>