<div class="container">
    <h2>LISTADO DE PELICULAS</h2>
    <br>
    <hr>
    <div class="col">

        {{#each movies}}
        <h3> {{title}} </h3>

        {{/each}}

    </div>



</div>

<a href="/">Inicio</a>