<h1>Movies List</h1>
<hr>
<div class="d-flex flex-wrap justifycontent-center">
    {{#each movies}}
    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <a href="/movies/details/{{_id}}" class="btn btn-dark">About me</a>
        </div>
    </div>
    {{/each}}
</div>
<div class="d-grid gap-2">
    <a class="btn btn-dark" href="/movies/create" role="button">Add new movie</a>
</div>