
<div class="bg-rose-800">
  <br>
  <main>
    <div>
      <!-- Hero card -->
      <div class="relative">
        <div class="absolute inset-x-0 bottom-0 h-1/2 bg-rose-800"></div>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden bg-slate-900">
            <div class="relative px-4 py-6 sm:px-6 sm:py-6 lg:py-6 lg:px-8">
              <h1 class="text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
                <span class="block text-white">{{movie.title}}</span>
              </h1>
              <h1 class="text-3xl font-bold tracking-tight sm:text-3xl lg:text-4xl">
                <span class="block text-rose-600">{{movie.plot}}</span>
              </h1>
              <h1 class="text-xl font-ligth tracking-tight sm:text-3xl lg:text-4xl">
                <span class="block text-white">{{movie.cast}}</span>
              </h1>
              <h1 class="text-3xl font-extrabold tracking-tight sm:text-3xl lg:text-4xl">
                <span class="block text-rose-600">{{movie.genre}}</span>
              </h1>
              <a href="/movies" class="inline-flex my-5 items-center px-5 py-2 border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-rose-600 hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        < Regresar
              </a>
            </div>
          </div>
        </div>
      </div>
  </main>
</div>