<h2>LISTADO DE PELÍCULAS</h2>
<hr>

<ul>
    {{#each movie}}
    <li><h3>{{title}}</h3></li><a href="/peliculas/{{_id}}">Detalles</a><a href="/peliculas/{{_id}}/editar">Editar</a>
    {{/each}}
</ul>


<a class="btn btn-primary" href="/peliculas/crear" role="button">Registrar nueva</a>

<a class="btn btn-warning" href="/" role="button">Volver a inicio</a>

