<h1>Movies page 1</h1>


<a href="/movies/new">ADD</a>
{{!-- <a href="/movies/details">Details</a> --}}

<h3>List of all Movies</h3>
<hr>

<div>
    {{#each movies}}
    <div>
        <h4>Movie Title : {{this.title}}</h4>
        <a href="/details/:id/{{this._id}}">see more...</a>
        {{!-- <a href="">DELETE</a> --}}
    </div>
    <hr>
    {{/each}}
</div>

