<h1>Movies!!</h1>

{{#each movies as |movie|}}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text">{{movie.cast}}</p>
    </div>
 </div>
{{/each}}