<h1>HELLO THIS IS THE MOVIES PAGE</h1>

{{#each movies}}
    <div>Title: {{title}}</div>
    <a href="/movies/{{_id}}">Details</a>

    <div> <a href="/movies/{{_id}}/edit">Edit Movie</a></div>
   

{{/each}}