<div class="container">
    <h2>Detalles de la película</h2>
    <h3>{{title}}</h3>
    <h3>{{genre}}</h3>
    <h3>{{plot}}</h3>

    {{#each cast}}
    <h5 class="mt-5">
        {{name}}
    </h5>
    {{/each}}

    <hr>

</div>