<h2>Movies list</h2>
<hr>

{{#each movies}}

<ul>
    <li>
        <a href="/movies/{{_id}}">{{title}}</a>

        <hr>
    </li>

</ul>

{{/each}}




<a href="/" class="btn btn-outline-info">Volver al inicio</a>
