<div class="container p-5">

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="container p-3">
                <h2 class="text-center">Movies</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <td></td>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each movies}}
                        <tr>
                            <td>{{title}}</td>
                            <td><a href="/movies/{{id}}" class="btn btn-success d-flex justify-content-center">See
                                    more</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>


                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="/movies/create" class="btn btn-dark">Create a new Movie</a>
                </div>
            </div>
        </div>

    </div>
</div>