<h2> All movies</h2>
<a href="/">Home</a>
<ul>
  {{#each movies}}
    <br />
    <li> <h6>Movie Title:</h6> {{title}}</li>
<a href="/movies/movies/{{id}}">Detalle de película</a>
    <br />
    <p>------------------------------------------------</p>
  {{/each}}
</ul>
<br />

