<section>
    <h3>{{title}}</h3>
    <p>
        Genre: {{genre}} <br><br>
        Plot: {{plot}} <br><br>
        Cast:
        <ul>
            {{#each this.cast}}
            <li>                
                {{this.name}}                
            </li>
            {{/each}}
        </ul>        
    </p>
</section>

<a href="/movies">Back</a> 