<div class="container">

    <h1>Movie's List</h1>
    <hr>

    {{#each movies}}
    <p>- <strong> {{title}} </strong><br>
        <a href="/movies/detailes/{{id}}" class="link-dark">Detailes</a> |
        <a href="/movies/edit?book_id={{id}}" class="link-dark">Edit</a>
    </p>
    {{/each}}

</div>