<div class ="form-container">
<h1>Movies</h1>

<ul>
{{#each movies as |movie|}}
<li>
  <a href="/movies/{{id}}/detail">{{title}}</a>
</li>
    
{{/each}}
</ul>

<div class = "links">
<a href="/movies/create">Add a new movie</a>
</div>

</div>