<div class="moviesList">

    <div class="row">
        <div class="col-5">
            <ul class="moviesListTable">
                <li>
                    <h4>{{title}}</h4>
                    <ul> Starring: {{#each cast}} || {{name}}
                        {{/each}}
                </li>

            </ul>

        </div>

        <div class="col-7 plot">
            <p>{{plot}}</p>


        </div>

    </div>



</div>


</div>