<div class="container">
    <h2>Movies</h2>
    <hr>

    <ul>
        {{#each Movie}}
        <h5 class="mt-5">
            <a href="/movies/:id" class="btn btn-dark mt-2">{{title}}</a>
        </h5>
        {{/each}}
    </ul>

</div>