<div class="container">
    <h2 class="listText">Movies</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">Plot</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{title}}</td>
                <td>{{genre}}</td>
                <td>{{plot}}</td>
                <td><a href="/movies/{{id}}" class="btn btn-primary list-btn">Details</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="/movies/create" class="btn btn-success list-btn">Add</a>
</div>