<div class="container mt-5">
    <hr>
    <div class="row">
        <h2>Movies</h2>
        <br>
        {{#each movies}}
        <div class="col-md-4 mb-3 ">
            <div>
                <h5 class="card-title mt-2">{{title}} </h5>

                <a href="/movies/movie-details/{{id}}" class="btn btn-warning">More Information</a>
                <a href='/movies/{{_id}}/edit' class="btn btn-dark">Update Movie</a>

            </div>
        </div>


        {{/each}}
        <a href="/movies/create" class="btn btn-warning ">Add New Movie!</a>
        </row>
        <a href="/" class="btn btn-dark mt-2">Inicio</a>
    </div>