
{{#each movie}}
<section class="movie-summary">
            <h4>Title: {{this.title}}</h4><br />
            <a href="/movies/{{this._id}}">More Details</a>
</section>
<p></p>
{{/each}}

<a href="/">Home</a>