<div class="container">

    <h2>Movies List</h2>

    {{#each moviesDb}}
    <div class="row d-flex justify-content-around flex-wrap">


        <div class="card m-3" style="width: 18rem;">


            <div class="card-header">
                <span class="fw-bold">Name:</span> {{name}}
            </div>

            <li class="list-group-item"><span class="fw-bold">
                    <a href="/movies/{{_id}}" class="d-block text-center">Show
                        Details</a></span>
            </li>
            <li class="list-group-item"><span class="fw-bold"><a href="/movies/{{_id}}/edit"
                        class="d-block text-center">Edit
            <li class="list-group-item">
                <form action="/movies/{{_id}}/delete" class="d-block btn  btn-danger text-center border border-0"
                    method="POST">
                    <input type="submit" name="delete" id="delete" class="d-inline" value="Delete">
                </form>
            </li>

            </ul>

        </div>
    </div>
    {{/each}}
</div>