<h1>Movies</h1>
  <a
    href="/movies/create"
    role="button"
  >Add a new movie</a>
{{#each movies as |movie|}}
        <h5><strong>Title:</strong> {{movie.title}}</h5>
        <a
          href="/movies/{{this.id}}"
          role="button"
        >See more</a>
      </div>
  {{/each}}