<h2>List of Movies</h2>

<ul>

    {{#each movies}}
    <li>Title:   {{title}}</li>
    <a href="/movies/{{_id}}">Movie's Details</a>
    
    <br><br>
    {{/each}}

</ul>

<a href="/">Back Home</a>