<h2>Movies list</h2>
<hr />
<hr />

{{#each moviesArr}}
  <section>
    <h2>{{this.title}}</h2>
    <p>
      Genre:
      {{this.genre}}
      <br />
      Plot:
      {{this.plot}}
      <br />
      {{#each cast}}
        Cast:
        {{this.name}}
        <br />
      {{/each}}
    </p>
  </section>
  <hr />
{{/each}}

<a href="/">back</a>