<h1>Movies</h1>

{{#each movies as |movie|}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="movies/{{movie._id}}">{{movie.title}}</a></h5>
        </div>
    </div>
{{/each}}




