<div class="container">
  <h2>Movies</h2>
  </br>
  <div class="row">

    {{#each data}}
      <div class="col-md-12">
        <h5><a href="/movies/{{id}}">{{title}}</a></h5>
      </div>
    {{/each}}

  </div>
    </br>
    <a href="/">Back</a>
</div>