<h2>List of our movies</h2><br>

{{#each moviesArr}}
<section>
    <h4>{{this.title}}</h4>
    <a href="/movies/{{this._id}}">Movie details</a> |
     <a href="/movies/{{this._id}}/edit">Edit</a><br><br>
</section>

<form action="/movies/{{_id}}/delete" method="POST">
    <button>Delete</button>
</form><br>
{{/each}}