{{#with movie}}
    <h4>Details of: {{title}}</h4>
    <h5>{{genre}}</h5>
    <p>{{plot}}</p>
    <ul>
        {{#each cast}}
        {{#with this}}
            <li>{{name}}</li>
        {{/with}}
        {{/each}}
    </ul>
{{/with}}