<div class="container">
    <h2>Movies</h2>
    {{#each movies}}
        <p>Title: <a href="/movies/{{this._id}}">{{this.title}}</a></p>
    {{/each}}
    <a href="/movies/create">Add movie</a>
    <a href="/">Home</a>
</div>
