<h1 class="mt-3">All Movies</h1>


<div class="container">
    <div class="row">
        {{#each allMovies}}
        <div class="card d-flex flex-row m-3" style="width: 25rem;">
            <div class="card-body">
                <h3 class="card-title">{{title}}</h3>
                <p class="card-text"><strong>Genre:</strong> {{genre}}</p>
                <p class="card-text"><strong>Plot:</strong> {{plot}}</p>
                <a class="btn btn-primary" href="/movies/{{_id}}">More details</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>


<a class="btn btn-primary" href="/movies/create">Add more movies</a>