<div class="p-5">
    <h1>MOVIES</h1>
    <ul class="list-group">
        {{#each movies}}
        <li class="list-group-item"><a href="/movies/{{_id}}">{{title}}</a></li>
        {{/each}}
    </ul>
    <a href="/movies/create">Create new movie</a>
</div>