<div class="mb-3 centeredDiv d-flex flex-column">
    <h2>Movies</h2>
    {{#each movies}}
    <a href="/movies/details/{{_id}}">
        <h3>{{title}}</h3>
    </a>
    <form action="/movies/{{id}}/delete" method="POST">
        <button class="btn btn-dark">Delete</button>
    </form>
    <br><br>
    {{/each}}
</div>
<div class=" formDiv">
    <a href="/"><button type="text" class="btn btn-dark"> Home </button></a>
</div>