<h2>Our Movies</h2>

<ul>
    {{#each allMovies}}
    <a href="/movies/{{this._id}}">
        <li>{{this.title}}</li>
    </a>     
    {{/each}}
   
</ul>

<a href="/movies/create">Create New Movies</a>
<a href="/">Back to home</a>