{{!-- iteration #7 --}}
<h2>List of Movies</h2>

<ul>
	{{#each foundMovies}}
		<li><a href="/movies/{{_id}}">{{title}}</a></li>
	{{/each}}
</ul>

{{!-- iteration #6 --}}
<a href="/movies/create">Add new Movie</a>