<h2>Movies List</h2>
<hr>
<div>
    <a href="/celebrities">Celebrities List</a>
</div>
<div>
    <a href="/celebrities/create">Create a New Celebrity</a>
</div>
<div>
    <a href="/movies">Movies List</a>
</div>
<div>
    <a href="/movies/create">Create a New Movie</a>
</div>
<hr>
{{#each allMovies}}
<div>
    <a href="/movies/{{_id}}">{{title}}</a>
    
    
</div>
{{/each}}