<h2>Movies:</h2>

<ul>
{{#each movies}}
    <li><a href="movies/{{this.id}}">{{this.title}}</a> <a href="movies/{{this.id}}/edit">edit</a> <a href="movies/{{this.id}}/delete">delete</a></li>
{{/each}}
</ul>
<a href="movies/create">new Movie</a>
<br><br>
<a href="javascript:history.back();">goback</a>
