{{#each detail}}
<ul>
    <p>{{this.title}}</p>
</ul>
<ul>
    <p>{{this.genre}}</p>
</ul>
<ul>
    <p>{{this.plot}}</p>
</ul>
<ul>
    <p>{{this.celebrities}}</p>
</ul>
{{/each}}
<a href="/movies">Back</a>