<h2>All movies</h2>

{{#each movies}}
    <section class="movies-all">
        <p>
        {{this.title}} <br />
        </p>
        
    </section>
    <a href="/movies/{{this._id}}"> More details</a> |
        <a href="/movies/{{this._id}}/edit"> Edit</a>
{{/each}} 

 {{!--should add multiple selection  --}}
{{!-- 
<form action="/action_page.php">
  <label for="cars">Choose a car:</label>
  <select name="cars" id="cars" multiple>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form> --}}