<h2>Movies</h2>

<form action="celebrities/create" method="POST">


    <label>
        Title
        <input type="text" name="title">
    </label>


    <label>
        Genre
        <input type="text" name="genre">
    </label>


    <label>
        Plot
        <input type="text" name="plot">
    </label>

    <label>
        Select
        <select name="celebrityId">
            {{#each celebrityId}}
            <option value= {{_id}}>{{name}}></option>
            {{/each}}
        </select>

    </label>


    <input type="submit" value="Create new movie">






</form>