<h1>Movie Details</h1>

<section>
	<h3>Title:</h3>
	<p>{{this.title}}</p>
	<h3>Genre: </h3>
	<p> {{this.genre}} </p>
	<h3>Plot:</h3>
	<p> {{this.plot}} </p>
	<h3>Cast:</h3>
	<p> {{this.cast.name}} </p>
</section>