
<div class="container">
    <h2>Movies</h2>
        {{#each movies}}
                <h3>Title: {{title}}</h3>
                <h3>Genre: {{genre}}</h3>
                <h3>Plot: {{plot}}</h3>
                <h3>Cast: {{cast}}</h3>
        {{/each}}
</div>


    <a href="/movies/create">Create New Movie</a><br>
 
   <a href="/">Home</a>