
<div class="container">
    
    <hr>
<div class="container">
    <h2>Listado de movies</h2>
    <hr>

    {{#each Movie}}
    
        {{title}}
        <br>
        
    <hr style="opacity: .5;">

    {{/each}}

    <a href="/" class="btn btn-dark">Volver</a>
</div> 