<h2>Movies</h2>

<ul>
  {{#each dbMovie}}
    <li>
        {{ this.title }}
        <br>
        <a href="/movies/{{this._id}}">see Details</a>
    </li>
    <br>
  {{/each}}
  <br>
  <a href="movies/create">Create a new Movie</a>
</ul>
