<form action="/movies/create" method="POST">
  <div class="row">
    <div class="col">
      <input
        name="title"
        type="text"
        class="form-control"
        placeholder="Movie title"
        aria-label="Movie title"
      />
    </div>
    <div class="col">
      <input
        name="genre"
        type="text"
        class="form-control"
        placeholder="Genre"
        aria-label="Genre"
      />
    </div>
    <div class="col">
      <input
        name="plot"
        type="text"
        class="form-control"
        placeholder="Plot"
        aria-label="Plot"
      />
    </div>
  </div>
  <br>

  <div>
    <select name="cast" class="form-select" aria-label="Default select example">
      <option selected>select cast</option>
      {{#each celebrities}}
        <option name="cast" value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
<br>
  <button>Save changes</button>

</form>