<form action="/movies/create" method="POST">

  <label>
    title:

    <input type="text" name="title" />

  </label>

  <label>
    genre:

    <input type="text" name="genre" />

  </label>

  <label>
    plot:

    <input type="text" name="plot" />

  </label>
  <div>
    <select
      name="cast"
      class="form-select"
      aria-label="Default select example"
    >
      <option selected>select author</option>
      {{#each celebrities}}
        <option name="cast" value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>

  <button>Save changes</button>

</form>

