<h2>New Movie</h2>
<form action="/movies/create" method="post">
  <label>Title:<input
      type="text"
      name="title"
      placeholder="Movie title"
      multiple
    />
  </label>
  <label>
    Genre:
    <input type="text" name="genre" placeholder="Movie genre" />
  </label>
  <label>
    Plot:
    <input type="text" name="plot" placeholder="Movie plot" />
  </label>
  <label>
    Cast:
    <input type="text" name="cast" placeholder="Movie cast" />
  </label>
  <button>Submit</button>
</form>