<h2>New movie</h2>

<form action="/movies/create" method="POST">
  <label> Title:
    <input type="text" name="title" />
  </label>

  <label> Genre:
    <input type="text" name="genre"/>
  </label>

  <label> Plot:
    <input type="text" name="plot"/>
  </label>

  <label for="celebrity-select"> Created by:
    <select name="cast">
      <option disable selected value=""></option>
      {{#each dbCelebrities}}
        <option value="{{this._id}}"> {{this.name}} </option>
      {{/each}}
    </select>
  </label>


  <button type="submit"> Submit movie </button>
</form>