<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <h2>Register a new movie.</h2>
            <hr>

            <form action="/movies/create" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>

                <div class="mb-3">
                    <label for="genre" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="genre" name="genre">
                </div>

                <div class="mb-3">
                    <label for="plot" class="form-label">Plot</label>
                    <input type="text" class="form-control" id="plot" name="plot">
                </div>

                <div class="mb-3">
                    <label for="cast" class="form-label">Cast</label>
                    <select multiple class="form-select" id="cast" name="cast">
                        <option>Select...</option>
                        {{#each celebrities}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="d-grid mt-5">
                    <button type="submit" class="btn btn-dark btn-lg">Register now</button>
                </div>

            </form>
        </div>
    </div>
</div>