<h2>New Movie</h2>


<form action="/movie/create" method="post">

    <label for="">Title</label>
    <input type="text" name="title">

    <label for="">Genre</label>
    <input type="text" name="genre">

    <label for="">Plot</label>
    <input type="text" name="plot">

    <label for="cars">Cast</label>
    <select name="cast" id="cast" multiple>
        {{#each celebs}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
<br>

    <button type="submit">Create Movie!</button>
</form>