<h2>Nueva película</h2>
<form action="/movies/create" method="POST">

    {{!-- <select name="cast" multiple>
        {{#each cel}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select> --}}

    <label>
        Title
        <input type="text" name="title">
    </label>

    <label>
        Genre
        <input type="text" name="genre">
    </label>

    <label>
        Plot
        <input type="text" name="plot">
    </label>

    {{!-- <label>Cast
        <select name='cast' id='cast' multiple>
            {{#each cel}}
            <option value='{{_id}}'>{{name}}</option>
            {{/each}}
    </label> --}}
    <button type="submit">Crear nueva pelicula</button>
</form>