   <h1>New Movie</h1>
        <hr>
<div class='container'>

     
        <form action='/movies/new-movie' method='POST'>
          <label>
            Title:
            <input type='text' name='title' placeholder='Movie Title' />
          </label>

          <label>
            Genre:
            <input type='text' name='genre' placeholder='Movie Genre' />
          </label>

          <label>
            Plot:
            <input type='text' name='plot' placeholder='Movie plot' />
          </label>
          <label>
            Cast:
            <select name="cast" id="cast">
             {{#each celebrities}}
             <option value="{{_id}}">{{name}}</option>
             {{/each}}
            </select>

          <button type='submit' class='btn-dark btn'>Create</button>
        </form>



</div>