<h2>REGISTRAR PELÍCULA</h2>
<hr>

<form action="/peliculas/crear" method="post">

    <div class="form-floating mb-3">
        <input type="text" name="title" class="form-control" id="floatingInput" placeholder="Angelina Jolie">
        <label for="floatingInput">Título</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" name="genre" class="form-control" id="floatingInput" placeholder="Actress">
        <label for="floatingInput">Género</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" name="plot" class="form-control" id="floatingInput" placeholder="Die Brad! Die!">
        <label for="floatingInput">Trama</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" name="cast" aria-label="Default select example">
            <option selected>Elenco</option>
            {{#each CelebName}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Crear registro">

    </form>


<a class="btn btn-warning" href="/peliculas" role="button">Volver al listado</a>