<h2>New Movie</h2>
<form action="/movies/create" method="POST">
    <input type="text" name="title" id="" placeholder="title">
    <input type="text" name="genre" id="" placeholder="genre">
    <input type="text" name="plot" id="" placeholder="plot">


    <button type="submit">Create</button>
</form>
<a href="/">back to home!</a>