<h2 class="create-cel">CREATE A NEW MOVIE</h2>

<div class="form-2">
	<form action="/movies/create" method="POST">
		<div class="form-info">
			<label for="title">Title:</label>
			<input type="text" id="title" name="title" required />
		</div>
		<div class="form-info">
			<label for="genre">Genre:</label>
			<input type="text" id="genre" name="genre" required />
		</div>
		<div class="form-info">
			<label for="plot">Plot:</label>
			<input type="text" id="plot" name="plot" required />
		</div>
		<div class="form-info">
			<label for="plot">Cast:</label>
			<select name="cast" id="cast" multiple>
				{{#each celebrities as |celebrity|}}
					<option value="{{celebrity._id}}">{{celebrity.name}}</option>
				{{/each}}
			</select>
		</div>
		<button class="form-btn" type="submit">Add a new movie</button>
	</form>
</div>