<h2>Add a new Movie</h2>
<form action="/movies/create" method="POST">
    <label for="title">Title</label>
    <input class="form-control mb-3" type="text" name="title" />
    <label for="genre">Genre</label>
    <input class="form-control mb-3" type="text" name="genre" />
    <label for="plot">Plot</label>
    <input class="form-control mb-3" type="text" name="plot" />
    <label for="cast">Choose the celebrities:</label>
    <select class="form-control mb-3" name="cast" id="cast" multiple>
        {{#each celebrities as |celebrity| }}
            <option value="{{celebrity._id}}">{{celebrity.name}}</option>
        {{/each}}
    </select>
    <button class="btn btn-primary" type="submit">Create Movie</button>
</form>