    <h2> New Movie</h2>

    <form method='POST' action="/movies/create">

        <label for="title">Title</label>
        <input type="text" name="title"/>

        <br/>

        <label for="genre">Genre</label>
        <input type="text" name="genre"/>

        <br/>
        
        <label for="plot">Plot</label>
        <input type="text" name="plot"/>

        <br/>

        <label for="cast">Cast</label>
        <select name="cast" multiple>
            {{#each allCelebrities}}
                <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>

        <br/>

        <button type="submit" class="btn">Submit</button>

    </form>