<h2>new Movie</h2>

<form action="/movies/create" method="post"> 
    <label>Enter movie title  : 
        <input type="text" name="title"/> 
    </label>
    <label>Enter movie genre : 
        <input type="text" name="genre"/> 
    </label>
    <label>Enter movie plot: 
        <input type="text" name="plot"/> 
    </label>
    <label>Enter movie cast : 
        <select name="cast" multiple>
            {{#each allCelebrities}}
                <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>

    <button type="submit">Create Movie</button>

</form>
