<a href='/movies'>Go back to the movies list</a>

<h2>Create your favorite movie</h2>

<form action='/movies/create' method='POST'>
    <label>
        <select name="cast" multiple>
            {{#each cele}}
            <option value='{{_id}}'>{{name}}</option>
            {{/each}}
        </select>
    </label>
    <br>
    <label>
        Title
        <input type='text' name='title'>
    </label>
    <br>
    <label>
        Genre
        <input type='text' name='genre'>
    </label>
    <br>
    <label>
        Plot
        <input type='text' name='plot'>
    </label>
    <br>
    <button type='submit'>Submit</button>
</form>