
<h2>Create a New Movie</h2>
<form action="/movies/create" method="post">
    <label>Title:
        <input type="text" name="title"></label>
    <label>Genre:
        <input type="text" name="genre"></label>
    <label>Plot:
    <textarea name="plot" cols="30" rows="10"></textarea></label>
    <label>Cast:
        <select name="cast">
            {{#each findAllCelebs}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>

    </label>
    <button type="submit">Create</button>
</form>