{{>navbar}}
<form action="/new-movie" method="post">
    <div class="container">
        <div class="mt-5">
            <h3 style="color:#1a1a1a">Create a new movie!</h3>
            <div class="input-group mb-3 mt-4">
                <span class="input-group-text">Movie's title</span>
                <input type="text" name="title" class="form-control" placeholder="Write the title here..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Movie's genre</span>
                <input type="text" name="genre" class="form-control" placeholder="Write the genre here..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Movie's plot</span>
                <input type="text" name="plot" class="form-control" placeholder="Write the plot here..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div>
                <h6>Celebrities in the movie:</h6>
                <ul class="list-group">
                {{#each celebrities as |celebrity|}}
                        <li class="list-group-item">
                            <input class="form-check-input me-1" name="cast" id="cast{{celebrity._id}}" type="checkbox" value="{{celebrity._id}}" id="firstCheckboxStretched">
                            <label class="form-check-label">{{celebrity.name}}</label>
                        </li>
                {{/each}}
                </ul>
            </div>          
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Done</button>
            </div>
        </div>
    </div>
</form>
