<h2 class="movies-title">
  Create a new movie
</h2>

<div class="movie-create-card">
  <h3 class="details-text">
    Insert Movie details
  </h3>
  <form class="input-container" action="/movies/create" method="post">

    <label>Movie Title:
      <input type="text" name="title" />
    </label>

    <select name="director" multiple>
      {{#each allDirectors}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>

    <label>Genre:
      <input type="text" name="genre" />
    </label>

    <label>Plot:
      <input type="text" name="plot" />
    </label>

    <label>Image:
      <input type="text" name="image" />
    </label>

    <select name="cast" multiple>
      {{#each allActors}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
    <div>
      <button class="submit-btn" type="submit">create a movie</button>
    </div>
  </form>

</div>