<h2>New Movie</h2>

<form action="/movies/create" method="POST">

<label for="title">Title:</label>
<input type="text" name="title">

<label for="genre">Genre:</label>
<input type="text" name="genre">

<label for="plot">Plot:</label>
<input type="text" name="plot">

<label for="celebrity">Cast:</label>
<select name="celebrity" multiple>
{{#each celebrities}}
<option value="{{_id}}">{{name}}</option>
{{/each}}
</select>

<button type="submit">Create new movie</button>

</form>