<div class="celebrity-form">

    <h2>New Movie</h2>

    <form action="/movies/create" method="POST">

        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Genre:</label>
            <input type="text" class="form-control" id="genre" name="genre">
        </div>
        <div class="mb-3">
            <label for="plot" class="form-label">Plot:</label>
            <input type="text" class="form-control" id="plot" name="plot">
        </div>

        <div class="mb-3">
            <label for="cast">Cast:</label>
            <select multiple name="cast" class="form-select" id="cast">
                {{#each celebArr}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn btn-success">Create Movie</button>

    </form>

</div>