<h2>Add new Movie</h2>

<form action="/movies/create" method="POST">
  <label for="title">Title</label>
  <br />
  <input class="form-control" type="text" name="title" />
  <br />
  <label for="genre">Genre</label>
  <br />
  <input class="form-control" type="text" name="genre" />
  <br />
  <label for="plot">Plot</label>
  <br />
  <input class="form-control" type="text" name="plot" />
  <br />
   <label for="cast">Cast</label>


        {{!-- {{METEMOS EL MULTIPLE PARA PODER ELEGIR VARIOS ACTORES}} --}}

  <select name="cast"  class="form-control" multiple>

    {{#each celebrities as |celebrity|}}
      <option value="{{celebrity._id}}">
        {{celebrity.name}}
      </option>
    {{/each}}

  </select>
  <br />
  <button class="btn btn-primary" type="submit">Add new Movie</button>
</form> 