<h2> New Movie </h2>
<form action="/movies/create" method="post">
  <label>
    title:
    <input type="text" name="title" />
  </label>

  <label>
    genre:
    <input type="text" name="genre" />
  </label>

  <label>
    plot:
    <input type="text" name="plot" />
  </label>

  <label> cast: </label>
  <select name="cast" multiple>
    {{#each celebrities}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>

  <button type="submit"> Create </button>
    <!-- link to return back to the movies page -->
    <a href="/movies">Return</a> 
</form>