<h2>Add Movie</h2>

<form action="/movies/create" method="POST">

  <div class="input-group mb-3">
    <span for="title" class="input-group-text" id="inputGroup-sizing-default">Title:</span>
    <input name="title" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <span for="genre" class="input-group-text" id="inputGroup-sizing-default">Genre:</span>
    <input name="genre" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <span for="plot" class="input-group-text" id="inputGroup-sizing-default">Plot</span>
    <input name="plot" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <span for="cast" class="input-group-text" id="inputGroup-sizing-default">Cast</span>
    <input name="cast" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <select name="name" multiple="true">

    {{#each allMovies}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}

  </select>

  <button type="submit" class="btn btn-success">Add Movie</button>

</form>