<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Create a new movies</h1>
            <hr>

            <form action="/movies/create" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>



                <div class="mb-3">
                    <label for="genre" class="form-label">genre</label>
                    <input type="text" class="form-control" id="genre" name="genre">
                </div>

                <div class="mb-3">
                    <label for="plot" class="form-label">plot</label>
                    <input type="text" class="form-control" id="plot" name="plot">
                </div>

                <div class="mb-3">
                    <label for="cast">Choose a celebrity:</label>

                    <select class="form-select" name="cast" id="cast" multiple>
                        {{#each celebrities}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="d-grid mt-5">
                    <button type="submit" class="btn btn-dark btn-lg">Guardar edición</button>
                </div>

            </form>
        </div>
    </div>
</div>