<a href="/">Go Back</a>
<hr />
<h1>Add a new movie:</h1>
<hr />
<div class="pageBody">

  <form action="/movies/create" method="post">

    <label for="title">Title:</label>
    <input type="text" name="title" id="title" />

    <label for="genre">Genre:</label>
    <input type="text" name="genre" id="genre" />

    <label for="plot">Plot:</label>
    <textarea name="plot" id="plot" cols="30" rows="10"></textarea>

    <label for="cast">Cast:</label>
    <select name="cast" id="cast" multiple>
      {{#each celebs}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>

    <button type="submit">Add this movie</button>
  </form>

</div>