<h1>New Movie</h1>
<form action="/movies/new-movie" method="post">
  <label>Title:
    <input type="text" name="name" />
    </label>
    <label>Genre:<input type="text" name="genre" />
    </label>
   <label> Plot: <input type="text" name="plot" />
   </label>  
   </label>
   <label> Cast: <input type="text" name="cast" />
   </label>  
  <button type="submit">Create new movie</button>
</form>