<h2>Add a Movie</h2>
<form action="/movies/create" method="POST">
  <di>
    <label for="Input1">Title</label>
    <input name="title" type="text" id="Input1" />
  </di>
  <di>
    <label for="Input2">Genre</label>
    <input name="genre" type="text" id="Input2" />
  </di>
  <di>
    <label for="Input3">Plot</label>
    <input name="plot" type="text" id="Input3" />
  </di>

  <p>Cast:</p>
  <select name="cast" id="cast" multiple>
    {{#each celebrities}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <div>
    <input type="submit" value="Add New Movie"/>
  </div>
</form>