  <h1>New Movie</h1>

<form action="/movies/create" method="POST">
    
    <label>Title</label>
    <input type='text' name='title'>   
    <br>
    <label>Genre</label>
    <input type='text' name='genre'>    
    <br>
    <label>Plot</label>
    <input type='text' name='plot'>
    <br>
    <button type='submit'>Add New Movie</button>

</form>