<h2>New Movie</h2>

<form action="/movies/create" method="post">
    <label for="title">Title</label>
    <input type="text" name="title">

    <br>

    <label for="genre">Genre</label>
    <input type="text" name="genre">

    <br>

    <label for="plot">Plot</label>
    <input type="text" name="plot">

    <br>

    <label for="cast">Cast</label>
    <select name="cast" multiple>
        {{#each celebrities}}
            <option value={{this.id}}>{{this.name}}</option>        
        {{/each}}
    </select>

    <br>

    <button type="submit">submit</button>
</form>

<a href="/">Home</a>