<div class="container">
    <h2>DAMMI UN TITOLO</h2>
    <form action="/movies/create" method="POST">
        <label for="field1" class="form-label">Title</label>
        <input type="text" class="form-control" id="field1" name="title">

        <label for="field2" class="form-label">Genre</label>
        <input type="text" class="form-control" id="field2" name="genre">

        <label for="field3" class="form-label">Plot</label>
        <input type="text" class="form-control" id="field3" name="plot">


        <label for="field4" class="form-label">Cast</label>


        <select class="form-select" id="field4" name="cast" multiple>
            <option>Choose a celebrity</option>
            {{#each celebrities}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>

        <button>CREATE MOVIE!</button>




        <a href="/celebrities/celebrities">DAMMI UN LINK PLS</a>
    </form>

</div>