<h1 class="page-title">Add New Movie</h1>
<form action="/movies/create" method="post" class="form">
    <div>
        <label>Title:</label>
        <input type="text" name="title">
    </div>

    <div>
        <label>Genre:</label>
        <input type="text" name="genre">
    </div>

    <div>
        <label>Plot:</label>
        <input type="text" name="plot">
    </div>

    <div>
        <label>Celebrity:</label>
        <select name="celebrity">
            {{#each celebrities}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>

     <div>
        <label>Image:</label>
        <input type="text" name="image">
    </div>


    <button type="submit">Save</button>
</form>