<h2>New Movie</h2>

<form action = '/movies/create' method="POST">

    <label>
        Title
        <input type="text" name="title">
    </label>
    <br><br>

    <label>
        Genre
        <input type="text" name="genre">
    </label>
    <br><br>

    <label>
        plot                
        <input type="text" name="plot">
    </label>
    <br><br>
     <label>
        cast                
        <input type="text" name="cast">
    </label>
    <br><br>

    <input type="submit" value="Add Movie">

</form>
