<h2>Create new movie</h2>
<div class="new-celeb-container">
    <form action="/movies/create" method="POST">
        <div class="mb-3">
            <label>Title:</label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="mb-3">
            <label>Genre:</label>
            <input type="text" name="genre" class="form-control">
        </div>
        <div class="mb-3">
            <label>Plot:</label>
            <input type="text" name="plot" class="form-control">
        </div>
        <div class="mb-3">
            <label>Image URL:</label>
            <input type="text" name="url" class="form-control">
        </div>
        <label>
            <select name="cast" multiple>
                {{#each data}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </label>
        <br><br>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>