<h2>New movie</h2>

<form action="/movies/create" method="POST">

    <label>
        <input type="text" placeholder="name your movie" name="title">
    </label>

    <label>
        <input type="text" placeholder="genre" name="genre">
    </label>

    <label>
        <input type="text" placeholder="plot" name="plot">
    </label>

    <label for="cast">Choose a cast:</label>

    <select name="cast" multiple>
        {{#each celebrities}}
        <option value={{_id}}>{{name}}</option>
        {{/each}}
    </select>

    <input type="submit" value="Create movie">

</form>