<h2>Movies</h2>
<form action="/movies/create"  method="POST">
    <label for="">Title:</label>
    <input type="text" name="title">
    <label for="">genre</label>
    <input type="text" name="genre">
    <label for="">plot</label>
    <input type="text" name="plot">
    <label for="">Cast</label>
    <select name="cast" id="cars" multiple>
        {{#each celebrity}}
            <option value="{{_id}}">{{name}}</option>

        {{/each}}

    </select>
    <button type="submit">Submit</button>
</form>