{{#if currentUser}}

  <h2>Create a Movie</h2>

  <form action='/movies/create' method='POST'>
    <label for=''>Title</label>
    <input type='text' name='title' />
    <label for=''>Genre</label>
    <input type='text' name='genre' id='' />
    <label for=''>Plot</label>
    <input type='text' name='plot' id='' />
    <label for='cast-select'>
      <label for=''>cast</label>
      <select name='cast'>
        <option disable selected value=''></option>
        {{#each dbCelebrities}}

          <option value='{{this._id}}'>{{this.name}}</option>
        {{/each}}

      </select>

    </label>
    <button type='submit'>SEND</button>
  </form>

{{else}}
  <a href='/auth/login'>Inicia Sesion para crear unapelicula</a>
{{/if}}