<div>
    <h2>New movie</h2>

    <form action="/movies/create" method="post">

        <label for="title">Título: </label>
        <input type="text" name="title">
        <br>
        <label for="genre">Género: </label>
        <input type="text" name="genre">
        <br>
        <label for="plot">Sinopsis: </label>
        <input type="text" name="plot">
        <br>
        <label for="cast">Reparto: </label>
        <select name="cast" id="cast" multiple>
            {{#each this.celebrities}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <br>

        <button>Añadir</button>

    </form>
</div>