<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Crear nueva Peli</h1>

            <form action="/movies/create" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label">Genero</label>
                    <input type="text" class="form-control" id="genre" name="genre">
                </div>
                <div class="mb-3">
                    <label for="plot" class="form-label">Trama</label>
                    <input type="text" class="form-control" id="plot" name="plot">
                </div>


                <div class="mb-3 ">

                    <label for="cast" class="form-label">celebrity</label>

                    <select multiple class="form-select" name="cast">

                        {{#each celebArray}}
                        <option value="{{_id}}">{{name}}</option>

                        {{/each}}
                    </select>

                </div>



                <div class="d-grid">
                    <input type="submit" class="btn btn-dark" value="crear">
                </div>

            </form>

            <hr>
        </div>
    </div>



    <a href="/" class="btn btn-dark">Volver al inicio</a>
</div>