<div class="container mt-4">
    <div class="d-flex justify-content-center">
        <h2 class="text-center">Create Movie</h2>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <form action='movies/create' method="post">

            <label for="name">Name:</label>
            <input type="text" name="name">

            <label for="genre">Genre:</label>
            <input type="text" name="Genre">

            <label for="plot">Plot:</label>
            <input type="text" name="Plot">

            <label for="cast">Cast:</label>
            <select name="cast" multiple>
                {{#each allCelebrities}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>

            <button class="btn btn-primary" type="submit">Submit</button>

        </form>
    </div>
</div>

<div class="d-flex justify-content-center mt-4">
    <a class="btn btn-secondary px-4 text-white nav-link" href="/">Back</a>
</div>