<h2>Add a new movie!</h2>

<form action="/movies/create" method="POST">


    <label for="title">Title</label>
    <input type="text" id="title" name="title">


    <label for="gnere">Genre</label>
    <input type="text" id="genre" name="genre">

    <label for="plot">Plot</label>
    <input type="text" id="plot" name="plot">

    <select name="cast" id="cast" multiple>
        {{#each celebrities}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>

    <button type="submit">Add movie</button>

</form>