<h1> New Movie </h1>

<form action="/movies/create" method="POST">
    <div class="mb-4">
        <label for="tit" class="form-label"> Title </label>
        <input type="text" class="form-control" id="tit" name="title">
    </div>

    <div class="mb-4">
        <label for="tit" class="form-label"> Genre </label>
        <input type="text" class="form-control" id="tit" name="genre">
    </div>

    <div class="mb-4">
        <label for="tit" class="form-label"> Plot </label>
        <input type="text" class="form-control" id="tit" name="plot">
    </div>

    <label for="cast">Choose the actors:</label>


    <select name="cast" id="cast" multiple>
        {{#each celebrities}}

        <option value="{{_id}}"> {{name}} </option>

        {{/each}}

    </select>


    <div class="buttonCreate">
        <button type="submit" class="btn btn-dark"> Create a movie </button>
    </div>

</form>