<h2>New Movie</h2>

<form action="/movies/create" method="POST">

  <label> Title:
    <input type="text" name="title" />
  </label>

  <label> Genre:
    <input type="text" name="genre" />
  </label>

  <label> Plot:
    <textarea name="plot" cols="30" rows="4"> </textarea>
  </label>

    <label> Cast:
    <textarea name="cast" cols="30" rows="4"> </textarea>
  </label>

  <input type="submit" value="Submit">
</form>