<h2>New Movie</h2>

<form action="/movies/create" method="post">
<input type="text" name="title">
<input type="text" name="genre">
<input type="text" name="plot">
<select name="cast" multiple>
    {{#each allCelebrities}}
    <option value="{{_id}}">{{name}}</option>
    {{/each}}
</select>
<button type="submit">Create new Movie</button>
</form>

