<h2>Creation of a movie</h2>

<form method="POST" action="create">
  <div>
    <label>
      Title:
      <input type="text" name="title" />
    </label>
  </div>

  <div>
    <label>
      Genre:
      <input type="text" name="genre" />
    </label>
  </div>

  <div>
    <label>
      Plot:
      <textarea name="plot"></textarea>
    </label>
  </div>

  <div>
    <select name="cast" multiple>
      {{#each allCelebrities}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <button>Create a new movie</button>
</form>