<h2>Adding New Movies</h2>
<form action="/movies/create" method="POST">
    <label>
        Title:
        <input type="text" name="title">
    </label>

    <label>
        Genre:
        <input type="text" name="genre">
    </label>

    <label>
        Plot:
        <input type="text" name="plot">
    </label>

    <label>
        Cast:
        <select name="cast" multiple>
            {{#each celebrity}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>

    <input type="submit" value="Create Movie">
</form>