
<h2>Add a new movie</h2>

<form action="/movies/create" method="POST">
    <label> Title
        <input type="text" name="title">
    </label>
    <br> 
    <label> Genre
        <input type="text" name="genre">
    </label>
    <br> 
    <label> Plot
        <input type="text" name="plot">
    </label>
    <br> 
    <label> Cast
        <select name="cast" multiple>
            {{#each celebrities}}
            <option name="cast" value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </label>
    <button type="submit">Create Movie</button>


</form>