<h2>new Movie</h2>

<form action="/movie/create" method="post"> 
    <label>Enter movie title  : 
        <input type="text" name="title"/> 
    </label>
    <label>Enter movie genre : 
        <input type="text" name="genre"/> 
    </label>
    <label>Enter movie plot: 
        <input type="text" name="plot"/> 
    </label>
<label>Enter movie cast : 
        <input type="text" name="cast"/> 
    </label>

    <button type="submit">Create Movie</button>

</form>
