<h2> New Movie</h2>



<form action="/movies/create" method="post">

    <label>Title</label>
    <input name="title" placeholder="Title of your movie">

    <label>Genre</label>
    <input  name="genre" placeholder="Genre of your movie">

    <label>Plot</label>
    <input  name="plot" placeholder="Plot of your movie">

<label for="cast">Choose the cast</label>

<select name="_cast" id="cast">

    {{#each celebrities}}
        <option value="{{this._id}}"> {{this.name}} </option>
      {{/each}}
  

</select>







    <button type="submit">Create</button>
</form>
<br/>
<a href="/">Home</a>

