  <section>

  <div>
    <a href="/movies/movies"><button id="newceleb-btn" class="btn btn-outline-info">
        Go back
      </button>
    </a>
  </div>

 <div class="text-center">
    <h2 class="fst-italic text-decoration-underline">Create new movie</h2>
  </div>

<div id="newmovie-form">
<form action="/movies/new-movie" method="post">

  <div class="mb-3">
    <fieldset>
      <label for="title" class="form-label">
        Title:
      </label>
      <input type="text" name="title" id="title" class="form-control" />
    </fieldset>
  </div>

  <div class="mb-3">
    <fieldset>
      <label for="genre" class="form-label">
        Genre:
      </label>
      <input type="text" name="genre" id="genre" class="form-control" />
    </fieldset>
  </div>

  <div class="mb-3">
    <fieldset>
      <label for="plot" class="form-label">
        Plot:
      </label>
      <input type="text" name="plot" id="plot" class="form-control" />
    </fieldset>
  </div>

</div>

<div class="text-center">
  <fieldset>
    <label>
      Cast:
      <select
        name="cast"
        id="cast"
        class="form-select"
        multiple
        aria-label="multiple select example"
        style="width: 250px;"
      >
        {{#each celebs}}
          <option value="{{_id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </label>
  </fieldset>
  </div>

</div>
</div>

<div class="text-center" id="newmovie-btn">
  <button type="submit" class="btn btn-outline-success">Create movie</button>
  </div>

</form>

</section>