<h1>New movie page</h1>

<form action="/movies/create" method="POST">
  <label>
    Name:
    <input type="text" name="movie" />
  </label>
  <br />

  <label>
    Genre:
    <input type="text" name="genre" />
  </label>
  <br />

  <label>
    Plot:
    <input type="text" name="plot" />
  </label>

  <label for="celebrity">Choose a celebrity:</label>

  <select name="cast" id="cast" multiple>
    {{#each celebArr}}
      <option value="{{this._id}}"> {{this.name}} </option>
    {{/each}}
  </select>

  <button type="submit"> Create movie </button>
</form>

<div>
  {{#if message}}
    <p><b>{{message}}</b></p>
  {{/if}}
</div>