<h2>Create new movie</h2>

<form action="/movies/create" method="post">
<p>
<label for="title">Title:</label>
<input type="text" id="title" name="title">
</p>
<p>
<label for="genre">Genre:</label>
<input type="text" id="genre" name="genre">
</p>
<p>
<label for="plot">Plot:</label>
<input type="text" id="plot" name="plot">
</p>
<p>
<label for="cast">Cast:</label>
<select name="celebrity" id="celebrity" multiple>
    {{#each celebrities}}
  <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
</select>
<p>(You'll be able to select more than one celebrity if you hold down Ctrl key!)</p>

</p>

<button type="submit">Add new movie</button>
</form>