<h2>Create a new movie</h2>

<form action="/movies/create" method="post">
  <div class="form-group">
    <label> Title:
      <input type="text" name="title" />
    </label>

    <label> Genre:
      <input type="text" name="genre" />
    </label>

    <label> Plot:
      <input type="text" name="plot" />
    </label>

    <label for="cast">Cast
        <select name="cast" multiple>
            {{#each celebrities}}
                <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>
    <button type="submit"> Create Movie </button>
  </div>

</form>

    <a href="/movies">View Movies</a><br>
 
   <a href="/">Home</a>