<div class="container">
    <h2><strong>Create a new Movie</strong></h2>
    <div class="form">
        <form action="/movies/create" method="POST">
            <label> Title: </label>
            <input type="text" class="form-control" name="title">
            <br>
            <label> Genre: </label>
            <input type="text" class="form-control" name="genre">
            <br>
            <label> Plot: </label>
            <input type="text" class="form-control" name="plot">
            <br>
            <label>Cast:</label>
            <input type="text" class="form-control" name="cast">
            <br>
            <button type="submit" class="btn btn-dark">Create a new Movie</button>
        </form>
    </div>
</div>