<h2>Add Movie</h2>

<form action="/movies/create" method="post">

  <label>
    Title:
    <input type="text" name="title" />
  </label>

  <label>
    Genre:
    <input type="text" name="genre" />
  </label>

  <label>
    Plot:
    <textarea name="plot" cols="30" rows="4"> </textarea>
  </label>

  <label for="cast-select">Cast:</label>

  <select name="cast" multiple>
    {{#each celebrities}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>

  <button type="submit">Add new movie</button>
</form>