


<form class="space-y-8 divide-y divide-gray-200" action="/movies/create" method="POST">
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Create Movies</h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">Please add de information of a movie.</p>
      </div>

      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> Title:     <input type="text" name="title" /></label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
     
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> Genre: <input type="text" name="genre" /></label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
  
          </div>
        </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> Plot: <input type="text" name="plot" /></label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
 
            
          </div>
        </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> Cast: <input type="text" name="cast" /></label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
 
            
          </div>
        </div>









    
  <div class="pt-5">
    <div class="flex justify-end">
      <a href="/movies"><button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cancel</button></a>
      <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Create</button>
    </div>
  </div>
</form>