<h1 class="mt-3">New Movie</h1>

<div class="card p-5" style="width: 25rem;">

    <form action="/movies/create" method="post">
        <label>Title: </label>
        <input type="text" name="title">

        <br><label>Genre: </label>
        <input type="text" name="genre">

        <br><label>Plot: </label>
        <input type="text" name="plot">

        <div class="card-body">
            <br><label>Choose a actor: </label>
            <br><select name="cast" multiple>
                {{#each celebrity}}
                <br>
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>

            <br><button class="btn btn-primary mt-3" type="submit">Add movie</button>
        </div>
    </form>
</div>