<div class="create-Movie">
    <div class="container new-Movie">
        <h2> Crea tu nuevo Film</h2>
        <form action="/movies/create" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="genre" class="form-label">Género</label>
                <input type="text" class="form-control" id="genre" name="genre">
            </div>
            <div class="mb-3">
                <label for="plot" class="form-label">Sinópsis</label>
                <input type="text" class="form-control" id="plot" name="plot">
            </div>
            <div class="mb-3">

                <label for="cast">Casting:</label>
                <select name="cast" id="cast" multiple>
                    {{#each newCel}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>