<h2>Create Movie</h2>

<form method = "post" action="/celebrities/create">

    <label>Title:
        <input type="text" name = "title">
    </label>

     <label>Genre:
        <input type="text" name = "genre">
    </label>

     <label>Plot:
        <input type="text" name = "plot">
    </label>

     <label>Cast:
        <input type="text" name = "cast" multiple>
    </label>

    <button type = "submit">Submit</button>


</form>


