<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-6">

      <h1>Create a new movie</h1>

      <form action="/movies/create" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
          <label for="genre" class="form-label">Genre</label>
          <input type="text" class="form-control" id="genre" name="genre">
        </div>

        <div class="mb-3">
          <label for="plot" class="form-label">Plot</label>
          <input type="text" class="form-control" id="plot" name="plot">
        </div>

        <div class="mb-3">
          <label for="cast" class="form-label">Cast</label>
          <select name="cast" id="cast">
            {{#each celebrityFromDB}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-dark">Create a new movie</button>
        </div>

      </form>

      <hr>
    </div>
  </div>



  <a href="/" class="btn btn-dark">Go back</a>
</div>