<h2>New movie</h2>
<hr />
<form action='/movies/create' method='POST'>
  <label for='title'><Title></Title></label>
  <input type='text' name='title' id='title' />

  <label for='genre'>genre</label>
  <input type='text' name='genre' id='genre' />

  <label for='plot'>Plot</label>
  <input type='plot' name='plot' id='plot' />

  <label for='cast'>Cast</label>
  <input type='Cast' name='cast' id='cast' />

  <button type='submit'>New Movie </button>
</form>