<h1>Create New Movie</h1>

{{!-- <form action="/celebrities/create" method="POST">
  <label> Name of the Celebrity:
    <input type="text" name="title" />
  </label>

  <label>Occupation
    <input type="text" name="genre" />
  </label>

  <label> Catch Phrase:
    <input type="text" name="plot" />
  </label>
   <br>

  {{!-- <label for="movie-select"> Created by:
    <select name="celebrity">
      <option disable selected value=""></option>
      {{#each dbUsers}}
        <option value="{{this._id}}"> {{this.username}} </option>
      {{/each}}
    </select>
  </label> --}}

  <button type="submit"> Create </button>
</form> --}}