<h2>Add New Movie</h2>
<form action="/movies/create" method="post">
<input type="text" placeholder="Title" name="title">
<input type="text" placeholder="Genre" name="genre">
<input type="text" placeholder="Plot" name="plot">
<input type="text" Cast="Plot" name="cast">
<button type="submit">Add a new Movie</button>
</form>