<h2>Add a movie to the list</h2>
<form action="/movies/create" method="post">

<label for="title">Title: </label>
<input type="text" id="title" name="title">

<label for="genre">Genre: </label>
<input type="text" id="genre" name="genre">

<label for="plot">Plot: </label>
<input type="text" id="plot" name="plot">

<label for="cast">Cast:</label>
<select name="cast" id="cast" multiple>
    {{#each celebArr}}
    <option value="{{this._id}}">{{name}}</option>
    {{/each}}
</select>
<button type="submit">Submit</button>

</form>