<div class="container">

    <h2>Here you can add movies from all around the world</h2>
    <p>Feel free to add the necessary information about your favorite movies</p>
    <hr>
    <div class="row">
        <div class="col-6">
            <form class="form" action="/movies/create" method="POST">
                <label>
                    <h1>Title</h1>
                    <input type="text" name="title">
                </label>
                <br>
                <label>
                    <h1>Genre</h1>
                    <input type="text" name="genre">
                </label>
                <br>
                <label>
                    <h1>Plot</h1>
                    <input type="text" name="plot">
                </label>
                <br>
                <label>
                    <h1>Cast</h1>
                    <select name="cast" multiple>
                        {{#each celebrities}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </label>
                <hr>
                <input class="btn btn-danger mb-3"  type="submit" value="Add your movie">
            </form>
        </div>
    </div>
</div>