<h2>Create a new movie</h2>

<form action="/celebrity-create" method="POST">
  <label>
    Movie title:
    <input type="text" name="title" />
  </label>
  <br />

  <label>
    Genre:
    <input type="text" name="genre" />
  </label>
  <br />

  <label>
    Plot:
    <input type="text" name="plot" />
  </label>
  <br />

  <label>
    Cast:
    <input type="array" name="cast" />
  </label>
  <br />

  <button type="submit"> Create the post </button>
</form>