<h2> Movies</h2>

<form action="/movies/create" method="post">

    <label for='title'>Title</label>
    <input type="text" name="title">

    <label for='genre'>Genre</label>
    <input type="text" name="genre">

    <label for='plot'>Plot</label>
    <input type="text" name="plot">
   
   <label for="cast">Cast</label>
   <select name="cast" id="cast" select="multiple">
   {{#each celebrities as |celebrity|}}
   <option value="{{celebrity._id}}">{{celebrity.name}}

   </option>
   {{/each}}
   </select>

    <button type='submit'>New Movie</button>
</form>

