<h2>Add a new movie</h2>

<form action="/movies/create" method="POST">
  <label>
    Title:
    <input type="text" name="title" />
  </label>

  <label>
    Genre:
    <input type="text" name="genre" />
  </label>

  <label>
    Plot:
    <textarea name="plot" cols="30" rows="4"> </textarea>
  </label>

  <label>
    Cast:
    <select name="cast" multiple>
      {{#each celebritiesDetails}}
        <option value={{_id}}>{{name}}</option>
      {{/each}}
    </select>
  </label>

  <button type="submit"> Create </button>
</form>