<div class="container">
  <h1>Add a new movie</h1>
<form action="/movies/create" method="post" id="new-movie-form">
  <label>Title:
    <input type="text" name="title" />
  </label><br>
  <label>Genre:
    <input type="text" name="genre" />
  </label><br>
  <label>Plot:
    <input type="text" name="plot" />
  </label><br>
  <label>Cast:
  <select name="cast" multiple>
    
    {{#each allCelebs}}
    
      <option value="{{_id}}">{{name}}</option>
    </label>
      
    {{/each}}
  </select><br><br>
  <button type="submit" class="create-new-button">Add a new movie</button>
</form>

</div>
