<h2> ¡Añade una nueva pelicula!</h2>

<form action="/movies/create" class="formulario" method="POST">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Titulo de la pelicula:</span>
        <input type:"text" placeholder=" Introduzca titulo" name="title" id="title">

    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">¿Cúal es su género?</span>
        <input type:"text" placeholder="Género" name="genre" id="genre">

    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"> Plot: </span>
        <input class="input-one" type:"text" placeholder="Introduzca Plot" name="plot" id="plot">

    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Reparto:
        </span>
        <input class="input-two" type:"text" placeholder="Reparto" name="cast" id="cast">

        <div class="input-buton" id="input">
            <input class="btn btn-success" type="submit" value="Enviar">
        </div>
</form>


</div>