<div class="container">
    <div class="form">
        <h1>Create a movie!</h1>
        <form action="/movies/create" method="POST">
            <div class="mb-3">
                <label for="titlemovie" class="form-label">Title of the movie</label>
                <input type="text" class="form-control" id="titlemovie" name="title">
            </div>
            <div class="mb-3">
                <label for="genremovie" class="form-label">Genre of the movie</label>
                <input type="text" class="form-control" id="genremovie" name="genre">
            </div>
            <div class="mb-3">
                <label for="plotmovie" class="form-label">Plot of the movie</label>
                <input type="text" class="form-control" id="plotmovie" name="plot">
            </div>
            <div class="mb-3">
                <label for="selceleb" class="form-label">Celebrity</label>
                <select multiple id="selceleb" class="form-select" name="cast">
                    {{#each celebrities}}
                    <option value={{id}}>{{name}}</option>
                    {{/each}}
                </select>
                <div class="form-text">¿No está? <a href="/whatever">Créalo</a></div>
            </div>

            <button type="submit" class="btn btn-info">Create!</button>
        </form>
    </div>
</div>

{{!-- title: String,
genre: String,
plot: String,
cast: [{
type: Schema.Types.ObjectId,
ref: 'Celebrity'
}] --}}