
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Create a movie </h2>
        <hr>
        <form action="/movies/new-movie" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="genre" class="form-label">Genre</label>
                <input type="text" class="form-control" id="genre" name="genre">
            </div>
            <div class="mb-3">
                <label for="plot" class="form-label">Plot</label>
                <input type="text" class="form-control" id="plot" name="plot">
            </div>

            <div>
                <label for="cast" value="cast" class="form-label">Cast</label>
                <select required name="cast" class="input" multiple>
                    {{#each allCelebrities}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        <hr>
        <br>
            <button type="submit" class="btn btn-dark">Create new movie</button>
            <a href="/" class="btn btn-dark">Go back</a>
        </form>
    </div>
  </div>
</div>