<h2>Add a new movie</h2>

<form action="/movies/new-movie" method="post">

  <label>
    Title:
    <input type="text" name="title" />
  </label>

  <label>
    Genre:
    <input type="text" name="genre" />
  </label>

  <label>
    Plot:
    <textarea name="plot" cols="30" rows="4"> </textarea>
  </label>

  <label>
    Cast:
    <select name="cast">
      {{#each celebrity}}
        <option value={{this._id}}>{{this.name}}</option>
      {{/each}}
    </select>
  </label>

  <button type="submit">Add movie</button>
</form>