<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            {{> messages}}
        <h2 class=" text-center">Create New Movie</h2>
        <form action="/movies/create" method="POST">
        <div class="createCelebrity form-group">
            <label for="title">Title</label>
            <input
                type="text"
                id="title"
                name="title"
                class="form-control"
                placeholder="Title"
            />
            <label for="genre">Genre</label>
            <input
                type="text"
                id="genre"
                name="genre"
                class="form-control"
                placeholder="Genre"
            />
            <label for="plot">Plot</label>
            <input
                type="text"
                id="plot"
                name="plot"
                class="form-control"
                placeholder="Plot"
            />
            <label for="cast">Cast</label>
            <select name="cast" id="cast" multiple>
                {{#each celebrities}}
                    <option value={{this._id}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>
                <button  type="submit" class="btn btn-primary btn-block">Submit</button>
                <a class="btn btn-primary" href="/">Home</a>
        </form>
        </div>
    </div>
  </div>
</div>