<!-- title, genre, plot, cast -->

<form action="/movies/create" method="post">
    <label>Title:<input type="text" name="title"/></label>
    <label>Genre:<input type="text" name="genre"/></label>
    <label>Plot:<textarea name="Plot" cols="20" rows="1"></textarea></label>
    <label>Cast:<textarea name="cast" cols="20" rows="1"></textarea></label>
    
    <button type="submit">Create</button>
</form>