<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h2>Add a new Movie</h2>
            <form action="/movies/create" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>

                <div class="mb-3">
                    <label for="propellers" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="genre" name="genre">
                </div>

                <div class="mb-3">
                    <label for="maxSpeed" class="form-label">Plot</label>
                    <input type="text" class="form-control" id="plot" name="plot">
                </div>

                <div class="mb-3">
                    <label for="cast" class="form-label">Cast <span>CTRL for multiple choice</span></label>
                    <select class="form-select" name="cast" id="cast" multiple>
                        {{#each celebrity}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <button type="submit" class="btn btn-dark">Add Movie</button>
            </form>
        </div>

    </div>

</div>