<h2>Create new movie</h2>

<form action="/movies/create" method="POST">
    <label>
        Title:
        <input type="text" name="title">
    </label>
    <br>

    <label>
        Genre:
        <input type="text" name="genre">
    </label>
    <br>

    <label>
        Plot:
        <textarea type="text" name="plot"></textarea>
    </label>
    <br>

    <label>
        Cast:
        <select name="cast" multiple="multiple">
            {{#each celebrities}}
            <option value="{{ _id }}">
                {{ name }}
            </option>
            {{/each}}
        </select>
    </label>
    <br>

    <button>
        Save movie
    </button>
</form>