<div id="form-movie">

<h2>Create a new movie</h2>

<form action="/movies/create" method="POST">

    <input class="form" type="text" name="title" placeholder="Title" />

  <br>


    <input class="form" type="text" name="genre" placeholder="Genre" />

  <br>

    <textarea class="form" type="text" name="plot" placeholder="Plot"></textarea>

  <br>
 
 <label class="form" for="cast">Choose a celebrity:</label>
<select class="form" name="cast" multiple>
  {{#each dbCeleb}}
  <option value="{{this._id}}">{{this.name}}</option>
{{/each}}
</select>
 <br>
  <button type="submit"> Create a new Movie </button>
</form>


<div>
  {{#if message}}
    <p><b>{{message}}</b></p>
  {{/if}}
</div>

</div>