<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h2>Add a new celebrity</h2>

            <hr>

            <form action="/movies/create" method="post">

                <div class="form-group">
                   
                        <label for="movie-title">Name</label>
                        <input type="text" name="title" id="movie-title">
                </div>

                <div class="form-group">
                    <label for="movie-genre">Genre</label>
                    <input type="text" name="genre" id="movie-genre">
                </div>

                <div class="form-group">
                <label for="movie-plot">Plot</label>
                <input type="text" name="plot" id="movie-plot">
                </div>

                <button type="submit" class="btn btn-dark btn-block btn-lg">Create</button>

            </form>
        </div>

    </div>

</div>