<h1>Create a Movie</h1>
<form action="/movies/create" method="POST">
<label> Title
    <input type="text" name ="title" >
</label>
<label> Genre
    <input type="text" name = "genre">
</label>
<label> Plot
    <input type="text" name = "plot">
</label>
<label> Cast </label>
<select name="cast" multiple>
    <option>_id Cel</option>
    <option>new cel2</option>
 
</select>
<button type = "submit"> Create Movie!</button>
</form>