<h1>Create movie</h1>

<form method="POST" action="/movies/create">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
  </div>
  <div>
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" required>
  </div>
  <div>
    <label for="plot">Plot:</label>
    <textarea id="plot" name="plot" required></textarea>
  </div>
  <div>
    <label for="cast">Cast:</label>
    <select id="cast" name="cast" multiple>
      {{#each celebrities}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <button type="submit">Add movie</button>
</form>