
<section class="py-3 py-md-5">
    <div class="container">
        <div class="card mx-auto col-12 col-md-5 border-0">
            <div class="card-body p-md-5">
                <h2 class="text-center">New Movie</h2>
                <p class="lead text-center mb-4">Create a new movie</p>
                <form action="/movies/create" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title of movie">
                        <label for="title">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="genre" name="genre" placeholder="Genre">
                        <label for="genre">Genre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="plot" name="plot" placeholder="Plot" style="height: 100px"></textarea>
                        <label for="plot">Plot</label>
                    </div>
                    <div class="form-group mb-3">
                        <label for="cast">Works with selects</label>
                        <select class="form-select" name="cast" id="cast" aria-label="cast label" multiple>
                            {{#each celebs}}
                                <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                        
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary flex-fill mb-3 w-100">Create</button>
                        <a href="/celebrities/create" class="btn btn-light w-100">Clear</a>
                    </div>
                    
                </form>
            </div>
        </div>
        
    </div>
</section>