<h2>Create a new Movie</h2>

<form action="/movies/create" method="post">
    <label> Title
        <input type="text" name="title" />  
    </label>
    <label> Genre
        <input type="text" name="genre" />
    </label>
    <label> Plot
        <input type="text" name="plot" />
    </label>
     <select name="cast"> 
        {{#each this}}
        <option value="{{_id}}">{{name}} </option>
        {{/each}}
    </select>
    <button type="submit"> Submit your Movie</button>

</form>