<h2>Add new Movie</h2>

<form action="/movies/create" method="POST">
  <label for="title">Title</label>
  <br />
  <input type="text" name="title" />
  <br />
  <label for="genre">Genre</label>
  <br />
  <input type="text" name="genre" />
  <br />
  <label for="plot">Plot</label>
  <br />
  <input type="text" name="plot" />
  <br />
  <button type="submit">Add new Movie</button>
</form> 