<h1>Create New Movie</h1>

<form action="/movies/create" method="POST">
  <label>
    Title
    <input type="text" name="title">
  </label>
  <label>
    Genre
    <input type="text" name="genre">
  </label>
  <label>
    Plot
    <input name="plot" type="text">
  </label>
  <select name="cast" multiple>
    {{#each actors}}
    <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
</form>