<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h2>New Movie</h2>
            <hr>
            <form action="/movies/create" method="POST">
                <div class="mb-3 mt-5">
                    <label for="movieTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="movieTitle" name="title">
                </div>

                <div class="mb-3">
                    <label for="movieGenre" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="movieGenre" name="genre">
                </div>

                <div class="mb-3">
                    <label for="moviePlot" class="form-label">Plot</label>
                    <input type="text" class="form-control" id="moviePlot" name="plot">
                </div>

                <div class="mb-3">
                    <label for="movieImage" class="form-label">Image</label>
                    <input type="text" class="form-control" id="movieImage" name="imageUrl">
                </div>

                <div class="mb-3 ">
                    <label for="movieCast" class="form-label">Casting</label>
                    <select class="form-select form-select-lg mb-3" id="movieCast" multiple name="cast">
                        <option selected disabled>Choose Cast</option>
                        {{#each celebrities}}
                        <option value={{id}}>{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit" class="btn btn-dark">Add movie</button>
            </form>
        </div>
    </div>
</div>