<h2 class="title has-text-centered m-5" >Add a New Mobie</h2>

<form action="/movies/create" method="POST">
  <label class="subtitle">Name:
    <input class="input is-info mb-5" type="text" name="name">
  </label>

  <label class="subtitle">Genre:
    <input class="input is-info mb-5" type="text" name="genre">
  </label>

  <label class="subtitle">Plot:
    <textarea class="textarea is-info mb-5" name="plot" cols="35" rows="10"></textarea>
  </label>

  <label class="subtitle">Cast:
    <div>
      <select class="select is-info is-large" multiple name="cast" class="input">
        {{#each celebrityInfo}}
          <option value="{{_id}}"> {{name}} </option>
        {{/each}}
      </select>
    </div>
  </label>

  <button class="button is-large is-success mt-6" type="submit">Add!</button>
</form>
