<h2>New Movie</h2>

<form action="/movies/create" method="post">
<label> Title:
<input type="text" name="title">
</label>
<label > Genre:
<textarea name="genre" cols="30" rows="4"></textarea>
</label>
<label> Plot:
<textarea name="plot" cols="30" rows="4"></textarea>
</label>
<label> Cast:
<select name="cast" multiple>
    {{#each celebrity}}
        <option value="{{this._id}}">
            {{this.name}}
        </option>
    {{/each}}
</select>
</label>
<button type="submit">Create Movie</button>
</form>