<div class="mt-5 mb-5">
    <h2>CREATE MOVIE</h2>
</div>

<form action="/movies/create" method="POST">
    <div class="input-group mb-3">
            <input type="text" name="title" class="form-control" placeholder="Movie title">
        </div>

        <div class="input-group mb-3">
            <input type="text" name="genre" class="form-control" placeholder="Movie genre">
        </div>

        <div class="input-group mb-3">
            <input type="text" name="plot" class="form-control" placeholder="Movie plot">
        </div>

        <button type="submit" clasS="btn btn-outline-primary">Create movie</button>
</form>