<h2>make a new movie</h2>
<form action="/movies/new-movie" method="POST">
    <label> Title:
        <input type="text" name="title" />
    </label>
    <label>Genre:
        <input type="text" name="genre" />
    </label>
    <label> Plot:
       <input type="text" name="plot" />
    </label>
    <label> Cast:
        <select name="celebrities">
            {{#each Celebrity}}
                <option value={{this._id}}>{{this.name}}</option>
            {{/each}}
    </label>
    <button type="submit">Submit</button>
    {{#if msg}}
    <p>{{msg}}</p>
    {{/if}}
</form>
