<h1>Create New Movie</h1>

<form action="/celebrities/create" method="POST">
  <label> Title:
    <input type="text" name="title" />
  </label>

  <label>Genre
    <input type="text" name="genre" />
  </label>

  <label> Plot:
    <input type="text" name="plot"/>
  </label>
  <br>

  <label for="author-select"> Created by:
    <select name="author">
      <option disable selected value=""></option>
      {{#each dbCelebrities}}
        <option value="{{this._id}}"> {{this.name}} </option>
      {{/each}}
    </select>
  </label>
  <br>
  <button type="submit"> Create </button>
</form>