<div>
  <h2>Añadir pelicula</h2>
  <form action="/movies/create" method="POST">
    <label for="title">Nombre: </label>
    <input type="text" name="title" />
    <br />
    <label for="genre">Genero: </label>
    <input type="text" name="genre" />
    <br />
    <label for="plot">Descripcion: </label>
    <input type="text" name="plot" />
    <br />
    <label for="cast">Actor:</label>
    <br />
    <select name="cast" multiple="true">
      <option value="">Eliga actor</option>
      {{#each celebritiesList}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
    <br />
    <button>Añadir</button>
  </form>
</div>