<h2>Create new movie</h2>

<div class="container">
    <div class="row">
        <div class="col-4">
            <form action="/movies/create" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label"></label>
                    <input type="text" class="form-control" id="title" placeholder="Title" name="title">
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label"></label>
                    <input type="text" class="form-control" id="genre" placeholder="Genre" name="genre">
                </div>
                <div class="mb-3">
                    <label for="plot" class="form-label"></label>
                    <input type="text" class="form-control" id="plot" placeholder="Plot" name="plot">
                </div>
                <div class="mb-3">
                    <label for="cast" class="form-label">Cast</label>
                    <select name="cast" id="cast" multiple>
                        {{#each cel}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit" class="btn btn-dark">Create</button>
            </form>
        </div>
    </div>
</div>
