<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Create a new movie</h2>

            <form action="/movies" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="occupation" name="occupation">
                </div>
                <div class="mb-3">
                    <label for="plot" class="form-label">Plot</label>
                    <input type="text" class="form-control" id="plot" name="plot">
                </div>
                {{#each celebritiesArray}}
                <div class="mb-3 select-multiple">
                    <label for="cast" class="form-label">Cast</label>
                    <select class="form-select" name="cast">
                        <option value="Celebrity">{{name}}</option>
                    </select>
                </div>
                {{/each}}
                <input type="text" class="form-control" id="cast" name="cast">
        </div>
        <div class="d-grid">
            <input type="submit" value="Create">
        </div>
        </form>
    </div>
</div>