<h2>Create a movie</h2>

<form action="/movies/create" method="post">
    <label> Title: 
        <input type="text" name="title">
    </label>

    <label> Genre:
        <input type="text" name="genre">
    </label>

    <label> Plot:
        <textarea name="plot" cols="30" rows="3"></textarea>
    </label>

    <label for="cast"> Cast:
        <select name="cast" id="cast" multiple >
            {{#each celebrities}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </label>

    <button type="submit"> Add movie </button>
</form>