<div class="container">
    <h2>Register a new Movie</h2>

    <form action="/movies/create" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Movie Title</label>
            <input type="text" class="form-control" id="title" name="title">
            <div class="form-text">This cannot be an empty field.</div>
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Genre of the Movie</label>
            <input type="text" class="form-control" id="genre" name="genre">
        </div>
        <div class="mb-3">
            <label for="plot" class="form-label">Plot of the Movie</label>
            <input type="text" class="form-control" id="plot" name="plot">
        </div>
        <div class="mb-3">
            <label for="cast" class="form-label">Cast</label>
            <select multiple class="form-select" aria-label="Default select example" name="cast" id="cast">
                {{#each data}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>