<h2>Add your movie</h2>
<form class="formS" action="/movies/create" method="post">
    <label class="lastTouch" for="ti">Title: </label>
    <input type="text" name="title">
    <label class="lastTouch" for="gr">Genre: </label>
    <input type="text" name="genre">
    <label class="lastTouch" for="pl">Plot </label>
    <input type="text" name="plot">
    <label class="lastTouch" for="cst">Cast </label>
    <select name="cast" id="cst" multiple>
        {{#each celebrities}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <button class="botoncilloPe">Add</button>
</form>