<h2>Movies</h2>

<form action="/movies/create" method="post">
    <label>
        title:
        <input type="text" name="title" />
    </label>
    <label>
        genre:
        <input type="text" name="genre" />
    </label>
    <label>
        plot:
        <input type="text" name="plot" />
    </label>
    <label >cast:
      <input
        name='posts'
        multiple>
        {{#each this}}
          <option value='{{_id}}'>{{name}}</option>
        {{/each}}
      </label>
    <button type="submit"> Create </button>
</form>