<h2>new movie</h2>

<form action="/movies/create" method="post">
    <label for="title">Title</label>
  <input type="text" name="title" id="title" />

  <label for="genre">Genre</label>
  <input type="text" name="genre" id="genre" />

  <label for='plot'>Plot</label>
  <textarea name='plot' id='plot' cols='30' rows='10'></textarea>

  <label for="celebrities">Cast:</label>
  <select name="celebrities" id="celebrities">
    {{#each celebrities}}
    <option value="cast">{{name}}</option>
    {{/each}}
  </select>

  <button type="submit">Create movie</button>
</form>