<h2>New Movie</h2>
<label for="movies">Choose a movie:</label>

<select name="movie">
  <option value="title">Title</option>
  <option value="genre">Genre</option>
  <option value="plot">Plot</option>
  <option value="cast">Cast</option>
</select>