<h2 class="text-center">Create a new movie!</h2>

<div class="container d-flex text-center justify-content-center mt-3">
    <form action="/movies/create" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Genre</label>
            <input type="text" class="form-control" id="genre" name="genre">
        </div>
        <div class="mb-3">
            <label for="plot" class="form-label">Plot</label>
            <input type="text" class="form-control" id="plot" name="plot">
        </div>
        <div class="mb-3">
            <label for="cast" class="form-label">Cast</label>
            <input type="text" class="form-control" id="cast" name="cast">
        </div>


        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

</div>