
<form class="display-block" id="create-movie" action="/movies/create" method="post">

  <label> Title:
    <br>
    <input type="text" name="title">
  </label>
  <br>
  <label> Genre:
    <br>
  <input type="text" name="genre">
  </label>
  <br>
  <label> Plot:
    <br>
  <input type="text" name="plot">
  </label>
  <br>

  <label for="cast">Choose a celebrity</label>
  <br>

<select name="cast" id="cast" multiple>
{{#each celebrities}}
  <option value="{{_id}}">{{name}}</option>
  {{/each}}
</select>
<br><br>
  <button class="button">Submit</button>

</form>