<div class="container p-5">
    <div class="row justify-content-center">

        <div class="col-md-6 p-4">

            <h2>Create new Movie</h2>
            <form class="row g-3" action="/movies/create" method="POST">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>

                    <div class="mb-3">
                        <label for="genre" class="form-label">Genre</label>
                        <input type="text" class="form-control" id="genre" name="genre">
                    </div>

                    <div class="mb-3">
                        <label for="plot" class="form-label">Plot</label>
                        <input type="text" class="form-control" id="plot" name="plot">
                    </div>

                    <div class="mb-3">
                        <label for="cast" class="form-label">Cast</label>
                        <select id="cast" name="cast" class="form-select" multiple aria-label="multiple select">
                            {{#each celebrities}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark btn-lg">Create Movie</button>
                        </div>
            </form>
        </div>
    </div>
</div>