<h2>Add a movie</h2>

<form  action="/movies/new-movie" method="POST">

    <label> Title:
        <input type="text" name="title" />
    </label>

    <label> Genre:
        <input type="text" name="genre" />
    </label>

    <label> Plot:
        <input type="text" name="plot" />
    </label>

    <label> Cast: 
        <select name="cast">
            {{#each celebrity}}
                <option value={{this._id}}>{{this.name}}</option>
            {{/each}}
        </select>
    </label>

      <button type="submit"> Create </button>

</form>