<h1>Add a Movie</h1>

<form action="/movies/create" method="POST">
  <label>Name:
    <input type="text" name="name">
  </label>

  <label>Genre:
    <input type="text" name="genre">
  </label>

  <label>Plot:
    <input type="text" name="plot">
  </label>

  <label>Cast:
    <select name="cast" class="input">
      {{#each celebrityInfo}}
        <option value="{{_id}}"> {{name}} </option>
      {{/each}}
    </select>
  </label>

  <button type="submit">Add</button>
</form>

