<h2>New movie</h2>
<form action="/movies/create" method="post">
  <label for="title">Title</label>
  <input id="title" type="text" name="title">
  <label for="genre">Genre</label>
  <input id="genre" type="text" name="genre">
  <label for="plot">Plot</label>
  <textarea name="plot" id="plot" cols="30" rows="10"></textarea>
  <label for="cast">Cast</label>
  <select id="cast" name="cast" multiple>
  {{#each celebrities}}
    <option value="{{_id}}">{{name}}</option>
  {{/each}}
  </select>
  <button type="submit">Submit</button>
</form>
<hr><a href="/">Return home</a><br />