<h2>Create a movie</h1>

<form action="/movies/create" method="post">

  <label for="title"><b>Title</b></label>
  <br />
  <input type="text" name="title" id="title" />

  <br />
  <br />

  <label for="genre"><b>Genre</b></label>
  <br />
  <input type="text" name="genre" id="genre" />

  <br />
  <br />

  <label for="plot"><b>Plot</b></label>
  <br />
  <input type="text" name="plot" id="plot" />

  <br />
  <br />

<label for="cast">Cast</label>
  <select name="cast">
    {{#each celebrities}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>


  <button type="submit">Add Movie</button>

</form>