<h2>Add Movie</h2>

<form action="/movies/create" method="post">

<label>Title:
    <input type="text" name="title">
</label>

<label>Genre:
    <input type="text" name="genre">
</label>

<label>Plot:
    <input type="text" name="plot">
</label>

<label>
    <select name="cast" id="cast">
        <option value="Cameron Diaz">Cameron Diaz</option>
        <option value="Brad Pitt">Brad Pitt</option>
        <option value="henry cavill">henry cavill</option>
        <option value="lebron james">lebron james</option>
        <option value="Ana de armas">Ana de armas</option>
    </select>
</label>

<button type="submit">Add</button>
</form>