<nav>
  <a href="/">Home</a>
  <a href="/celebrities/all">Celebrities</a>
  <a href="/celebrities/create">Create new celebrity</a>
  <a href="/movies/all">movies</a>
  <a href="/movies/create">Create new movie</a>
</nav>

<form class="input-container" action="/movies/create" method="post">
  <h2 class="create-title">
    Create a new movie
  </h2>
  <label>Movie Title:
    <input type="text" name="title" />
  </label>

  <label>Genre:
    <input type="text" name="genre" />
  </label>

  <label>Plot:
    <input type="text" name="plot" />
  </label>

  <label>Image:
    <input type="text" name="image" />
  </label>

  <select name="cast" multiple>
    {{#each allCelebrity}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>

  <div>
    <button class="submit-btn" type="submit">create a movie</button>
  </div>

</form>