<h2>Create Movie</h2>

<form action="/movies/create" method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title">

    <label for="genre">Genre:</label>
    <input type="text" name="genre" id="genre">

    <label for="plot"></label>
    <textarea name="plot" id="plot" cols="30" rows="10" placeholder="Type the Plot here.."></textarea>

    <label for="cast">Choose the cast:</label>
    <select name="cast" id="cast" multiple>
        {{#each celebrities}}
        <option value='{{_id}}'>{{name}}</option>
        {{/each}}
    </select>

    <button type="submit">Create Movie</button>

</form>