<h2>New Movie</h2>
<form action='/movies/create' method='POST'>

  <label>Title:</label>
  <input type='text' name='title' />

  <label>Genre:</label>
  <input type='text' name='genre' />

  <label>Plot:</label>
  <input type='text' name='plot' />

  <label>Cast:</label>
  <select name='cast' id='cast' multiple>
    {{#each loadCelebrities}}
      <option value='{{this.id}}'>{{this.name}}</option>
    {{/each}}
  </select>

  <button type='submit'>Create New Movie!</button>

</form>