<h2>Create a Movie</h2>

<form action="/movies/create" method="POST">
    <label>Title:</label>
    <input type="text" name="title">

    <label>Genre:</label>
    <input type="text" name="genre" />

    <label>Plot: </label>
    <input type="text" name="plot" />

    <label for="cast">Cast: </label>
        <select name="cast" id="cast" multiple>
            {{#each allCelebrities}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>

    <button type="submit">Delete Celebrity</button>
</form>

{{#if errMsg}}
    <h2>{{errMsg}}</h2>
{{/if}}