<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    {{#if messages.error}}
      <div class="error">{{messages.error}}</div>
    {{/if}}
    <form method="POST" action="/signup">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="email" name="email" placeholder="Email" required>
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>


