<form action="/movie/crear" method="POST">

    <label>
        Título
        <input type="text" name="title">
    </label>

    <br><br>

    <label>
        Descripción
        <input type="text" name="description">
    </label>

    <br><br>

    <label>
        Autor/a
        <input type="text" name="author">
    </label>

    <br><br>

    <label>
        Puntuación
        <input type="number" name="rating">
    </label>

    <br><br>

    <input type="submit" value="listo">
</form>