<h2>Create the F#ck new Movie</h2>

<form action="/listaM" method="POST">
    <label>
        titulo
        <input type="text" name="title">
    </label>
    <br><br>
    <label>
        Genero
        <input type="text" name="genre">
    </label>
    <br><br>
    <label>
        Trama
        <input type="text" name="plot">
    </label>
    <br><br>
    <label>
        Casting
        <input type="text" name="cast">
    </label>

    <button type="submit"> enter</button>
</form>