<div class="container">
  <nav>
    | <a href="/">HOME</a> |
  </nav>
<hr>


<h2><u>{{foundCeleb.name}} Details</u></h2>
<br>

<div>
<h4>Occupation:</h4> 
<h5>{{foundCeleb.occupation}}</h5>
<br>
<h5>Catch Prase: </h5>
<h6>{{foundCeleb.catchPhrase}}</h6>
<br>
<button><a href="/celebrities/{{foundCeleb._id}}/edit">EDIT CELEBRITY</a></button>
</div>