<div class="container">
  <nav>
    | <a href="/">HOME</a> |
  </nav>
<hr>

<h2><b><u>Celebrity List</u></b></h2> <p>(click name for more details)</p> 


<div>
{{#each celebrityFromDB}}
<hr>
<h3><a href="/celebrities/{{id}}">{{name}}</a></h3> 
<br>
 <form action="/celebrities/{{_id}}/delete"  method="post">
    <button> Delete </button>
  </form>
{{/each}}
<hr>
</div>


<br>

<button><a href="/celebrities/new">Add Celebrity</a></button>