<div class="container">
  <nav>
    | <a href="/">HOME</a> |
  </nav>
<hr>

<h2>Add a Celebrity</h2>

<form action="/celebrities/create" method="POST">
<hr>
<label> Celebrity's Full Name:
    <input type="text" name="name">
</label>
<hr>
<label> Celebrity's Occupation:
    <input type="text" name="occupation">
</label>
<hr>
<label> Celebrity's Catch Phrase(s):
  <textarea name="catchPhrase"  cols="35" rows="10"></textarea> 
</label>
<hr>
<br>
<button type="submit">SAVE</button>
</form>