
<h1>Add a Celeb to our page</h1>

<hr>

<form action="/celebrities/create" method="POST">

<label for="name">Name</label>
<input type="text" name="name" id="name">

<label for="occupation">Occupation</label>
<input type="text" name="occupation" id="occupation">

<label for="catchPhrase">Catch Phrase</label>
<textarea col="30" rows="4" name="catchPhrase" id="catchPhrase"></textarea>


<button type="submit">Add a Celeb</button>


</form>