<h2>Heading</h2>
<form action="/celeb/create" method="POST">
    <label for="">
        Name
        <input type="text" name="name">
    </label>
        <label for="">
        Occupation
        <input type="text" name="occupation">
    </label>
        <label for="">
        Catch Phrase
        <input type="text" name="catchPhrase">
    <button type="submit">Submit</button>
</form>