<div class="container">
  <h1>Create a new celebrity</h1>
  <form action="/celebs/create" method="post" id="new-celeb-form">
    <label>Name:
      <input type="text" name="name" />
    </label>
    <label>Occupation:
      <input type="text" name="occupation" />
    </label>
    <label>Catch phrase:
      <input type="text" name="catchPhrase" />
    </label>
    <button type="submit" class="create-new-button">Create the celebrity</button>
  </form>

</div>
