<h2>Add a celeb</h2>


<form method="POST" action="/celebs/create">
    <label> Name:
        <input type="text" name="name" />
    </label>

    <label> Occupation:
        <input type="text" name="occupation" />
        </select>
    </label>

    <label> Catch phrase:
        <textarea name="catchPhrase"></textarea>
    </label>

    <button type="submit">Add new celeb to database</button>
</form>

<a href="/celebs">Go back to the list of celebs in our database</a>