<div class="new-char">
  
  <div class="new-char-img-container">

  </div>


  <div class="new-char-main">

    <div class="new-char-txt">

      <div class="new-char-title">
        <h2>Add new Characters:</h2>
      </div>

      <div>
        <form action="/characters/create" method="POST">

          <div class="field-01">
            <label class="label-01">Name</label>
            </br>
            <input class="form-box" type="text" name="name" placeholder="Sara">
          </div>

          <div class="field-01">
            <label class="label-01">Occupation</label>
            </br>
            <input class="form-box" type="text" name="occupation" placeholder="Superhero">
          </div>

 
          <div class="field-01">
            <label class="label-01">Main Super-Power</label>
            </br>
            <input class="form-box" type="text" name="mainSuperPower" placeholder="Debugging my shitty code">
          </div>


          <input class="form-btn-01" type="submit" value="create new character">
        </form>
      </div>

    </div>
  </div>





</div>